<figure class="Cover">

	<div class="Cover-img">
		{{#if model.coverImage.src}}
			<img src={{model.coverImage.src}} alt={{model.title}}>
		{{/if}}

		{{!-- {{#if playback.player.isPlaying}}
			<button class="Cover-button" {{action "pause"}} title="Pause this channel">{{x-icon i="pause"}}</button>
		{{else}}
			<button class="Cover-button" {{action "play"}} title="Play this channel">{{x-icon i="play"}}</button>
		{{/if}} --}}
	</div>

</figure>

{{#unless hideTitle}}
	<h3 class="Cover-title">
		{{#link-to 'channel' model}}{{model.title}}{{/link-to}}
	</h3>
{{/unless}}

{{yield}}
