{{#if value}}
	{{x-icon i="x"}} favorite
{{else}}
	{{x-icon i="plus"}} favorite
{{/if}}

{{!--
<p>
{{#if session.authed}}
	{{#if isReallyFavorite}}
		<button class="Btn Btn--removeFavorite" title="Remove this playlist from your favorite" {{action 'removeFavorite'}}>Unfavorite</button></p>
	{{else}}
		<button class="Btn--favorite" title="Save this playlist as your favorite" {{action 'favorite'}}>Favorite</button>
	{{/if}}
{{/if}}
 --}}
