{{#if value}}
	{{x-icon i="x"}} Unfollow channel
{{else}}
	{{x-icon i="plus"}} Follow channel
{{/if}}

{{!--
<p>
{{#if session.authed}}
	{{#if isReallyFavorite}}
		<button class="Btn Btn--removeFavorite" title="Remove this channel from your favorite" {{action 'removeFavorite'}}>Unfavorite</button></p>
	{{else}}
		<button class="Btn--favorite" title="Save this channel as your favorite" {{action 'favorite'}}>Favorite</button>
	{{/if}}
{{/if}}
 --}}
