{{#link-to 'track' track class="Track-link"}}
	{{x-icon i="play"}}
	<h3 class="Track-title">{{track.title}}</h3>
	{{#if track.body}}<p class="Track-description">{{track.body}}</p>{{/if}}
{{/link-to}}

{{#if channel.canEdit}}
	{{#if isEditing}}
		<form class="Form EditTrack">
			<div class="Form-group">
				<label>Title
					{{focus-input value=track.title placeholder="Title"}}
				</label>
			</div>
			<div class="Form-group">
				<label>URL
					{{input type="url" placeholder="YouTube or Soundcloud URL" value=track.url}}
				</label>
			</div>
			<div class="Form-group">
				<label>Description
					{{textarea value=track.body placeholder="Description"}}
				</label>
			</div>
			<div class="Form-group">
				<button class="Btn Btn--primary" {{action "save" track title="save track"}}>Save track</button>
				<button class="Btn Btn--text" {{action 'cancel' title="cancel editing track"}}>Cancel</button>
				<button class="Btn Btn--text Btn--danger u-alignRight" {{action 'remove' track title="remove track from channel"}}>Delete</button>
			</div>

		</form>
	{{else}}
		<div class="Track-controls">
			<span {{action 'edit'}} title="edit track">edit</span>
		</div>
	{{/if}}
{{/if}}

{{yield}}
