<form {{action "submit" "password" email password passwordConfirmation on="submit"}} class="Form">
	{{input name="email" type="email" value=email placeholder="Email" required="required"}}
	{{input name="" type="password" value=password placeholder="Password" required="required"}}
	{{input name="" type="password" value=passwordConfirmation placeholder="Password confirmation" required="required"}}
	<button type="submit" class="Btn Btn--large" title="Sign up or Log in with email">
		Sign up with email
	</button>
</form>

<br>
<p>Or register with your Google or Facebook account:</p>
<p class="BtnGroup">
	<button class="Btn Btn--large" title="Sign up with Google" {{action "submit" "google"}}>
		Google
	</button>
	<button class="Btn Btn--large" title="Sign up with Facebook" {{action "submit" "facebook"}}>
		Facebook
	</button>
</p>

<br>
<p>Already have a radio? <a href="{{href-to 'auth.login'}}">Log in</a>.</p>
