<form {{action "submit" "password" email password on="submit"}} class="Form">
	{{#form-group model=this valuePath="email" label="Sign up with your e-mail addresss" as |v|}}
		{{focus-input
			type="email"
			value=v
			placeholder="Enter your email address"
			required="required"
			autoFocus=true}}
	{{/form-group}}
	{{#form-group model=this valuePath="password" label="Password" as |v|}}
		{{input type="password" value=v placeholder="Create a password" required="required"}}
	{{/form-group}}
	{{#form-group model=this valuePath="passwordConfirmation" as |v|}}
		{{input type="password" value=v placeholder="Enter your new password again" required="required"}}
	{{/form-group}}
	<div class="Form-group">
		<button disabled={{validations.isInvalid}} type="submit" class="Btn Btn--large" title="Sign up or Log in with email">
			Sign up with email
		</button>
	</div>
</form>

<br>
<p>
	Or, if you prefer, sign up with your:<br>
	<button
		class="Btn Btn--text Btn--large"
		title="Sign up wtih your Google account"
		{{action "submit" "google"}}
	>
		<span style="color: #4285f4;">G</span><span style="color: #ea4335;">o</span><span style="color: #fbbc05;">o</span><span style="color: #4285f4;">g</span><span style="color: #34a853;">l</span><span style="color: #ea4335;">e</span>&nbsp; account
	</button>
	or
	<button
		class="Btn Btn--text Btn--large"
		title="Signup with your Facebook account"
		{{action "submit" "facebook"}}
	>
		<span style="color: #365899">Facebook</span>&nbsp;account
	</button>
</p>

