<form {{action "submit" "password" email password on="submit"}} class="Form u-push-1">
	{{#form-group model=this valuePath="email" label="Your e-mail addresss" as |v|}}
		{{focus-input
			type="email"
			value=v
			placeholder="example@example.com"
			required="required"
			autoFocus=true}}
	{{/form-group}}
	{{#form-group model=this valuePath="password" label="Password" as |v|}}
		{{input type="password" value=v placeholder="Create a password" required="required"}}
	{{/form-group}}
	<div class="Form-group BtnGroup BtnGroup--right">
		<button disabled={{validations.isInvalid}} type="submit" class="Btn Btn--large" title="Sign up or Log in with email">
			Sign up with email
		</button>
	</div>
</form>

<details>
	<summary>
		<strong>Social provider signup</strong>
	</summary>
	<p>As a matter of convenience it is possible to create an account with an existing external provider. For privacy, it is recommended not to.</p>
	<div class="BtnGroup BtnGroup--full">
		<button
			class="Btn Btn--large"
			title="Sign up wtih your Google account"
			{{action "submit" "google"}}>
			Google
		</button>
		<button
			class="Btn Btn--large"
			title="Signup with your Facebook account"
			{{action "submit" "facebook"}}>
			Facebook
		</button>
	</div>
</details>
