{{#if session.isWorking}}
	{{#is-loading}}
		<p>Warming transistors…</p>
		<p>Getting logged in!</p>
	{{/is-loading}}
{{else}}
	<form class="Form" {{action "login" "password" email password on="submit"}}>
		<div class="Form-group">
			{{focus-input
					type="email"
					value=email
					placeholder="Email"
					required="required"
					autoFocus=true}}
		</div>
		<div class="Form-group">
			{{input type="password" value=password placeholder="Password" required="required"}}
		</div>
		<div class="BtnGroupWrapper BtnGroupWrapper--full">
			<button type="submit" class="Btn Btn--large">
				Log in with email
			</button>
			<button class="Btn Btn--text" {{action "resetPassword" email}}>Forgot password?</button>
		</div>
	</form>

	<br/>
	<p>Or log in with:</p>
	<p class="BtnGroup">
		<button class="Btn Btn--large" title="Log in with Google" {{action "login" "google"}}>
			Google
		</button>
		<button class="Btn Btn--large" title="Log in with Facebook" {{action "login" "facebook"}}>
		        Facebook
		</button>
	</p>
	<p>
	    Don't have a radio yet? <a href="{{href-to 'auth.signup'}}">Sign up</a>.<br>
	</p>
	<p>
	    Can't sign in? {{link-to "Find help" "feedback"}}.
	</p>
{{/if}}
