{{#if session.isWorking}}
	{{#is-loading}}
		<p>Warming transistors…</p>
		<p>Getting logged in!</p>
	{{/is-loading}}
{{else}}
	<form class="Form u-push-2" {{action "login" "password" email password on="submit"}}>
		<div class="Form-group">
			{{focus-input
					type="email"
					value=email
					placeholder="Email"
					required="required"
					autoFocus=true}}
		</div>
		<div class="Form-group">
			{{input type="password" value=password placeholder="Password" required="required"}}
		</div>
		<div class="BtnGroupWrapper BtnGroupWrapper--full">
			<button class="Btn Btn--text" {{action "resetPassword" email}}>Forgot password?</button>
			<button type="submit" class="Btn Btn--large">
				Log in with email
			</button>
		</div>
	</form>

	<p class="u-tc">Or login with...</p>

	<div class="BtnGroup BtnGroup--full u-push-1">
		<button class="Btn" title="Log in with Google" {{action "login" "google"}}>
			Google
		</button>
		<span>

		</span>
		<button class="Btn" title="Log in with Facebook" {{action "login" "facebook"}}>
			Facebook
		</button>
	</div>
{{/if}}
