<form class="Form" {{action "login" "password" email password on="submit"}}>
	{{input name="email" type="email" value=email placeholder="Email"}}
	{{input name="" type="password" value=password placeholder="Password"}}
	<button type="submit" class="Btn Btn--large">
		Log in with email
	</button>
	<p class="Muted"><a href="#" {{action "resetPassword" email}}>Forgot password?</a></p>
</form>

<br>
<p>Or connect with:</p>
<p class="BtnGroup">
	<button class="Btn Btn--large" title="Log in with Google" {{action "login" "google"}}>
		Google
	</button>
	<button class="Btn Btn--large" title="Log in with Facebook" {{action "login" "facebook"}}>
		Facebook
	</button>
</p>

{{#if session.isWorking}}
	{{#is-loading}}Warming transistors…{{/is-loading}}
{{/if}}
