<section class="Intro">
	<div class="Intro-bg">
		<h1 class="Intro-title">
			<span class="Intro-radio">Radio</span>
			<span class="Intro-4000">4000</span>
		</h1>
		<p class="Intro-slogan">One radio for every one and an infinity<br>of great tracks curated with love.</p>
		{{!-- <div class="Intro-buttons">
			{{#link-to 'channels' class="Intro-btn" title="Discover music by channels"}}
				Discover radios &rarr;
			{{/link-to}}
			{{#if session.currentUser.channels.firstObject}}
				{{#link-to 'channel' session.currentUser.channels.firstObject class="Intro-btn Intro-btn--primary" title="Your radio"}}
					Go to your “{{session.currentUser.channels.firstObject.title}}”
				{{/link-to}}
			{{else}}
				{{#link-to 'channels.new' class="Intro-btn Intro-btn--primary" title="Continue to create your radio"}}
					Create your radio now
				{{/link-to}}
			{{/if}}
		</div> --}}
	</div>
</section>

<section class="Section">
	<div class="Manchet Manchet--left">
		<h1>Radio4000<small> — is radio for the thousands</small></h1>
	</div>
	<div class="Container Container--full">
		<div class="Grid Grid--firstHidden">
			{{#each model.featured as |item|}}
				<div class="Grid-item">
					{{#link-to 'channel' item}}
						{{channel-card channel=item}}
					{{/link-to}}
				</div>
			{{/each}}
			<div class="Grid-item">
				<div class="ChannelCard ChannelCard--text">
					<p>These are radios, tap one to play it!</p>
					<p>Each radio is as unique as the person behind it.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="Section">
	<div class="Manchet Manchet--left">
		<h1>The three commandments of Radio4000</h1>
	</div>
	<div class="Container">
		<h3>1. You shall flourish with a single Radio4000</h3>
		<p>It's not about music genres, it's about the music you like. And if you don't want a radio - no problem - you can just keep listening!</p>

		<h3>2. You shall only add music you love</h3>
		<p>Do not make it complex for yourself; don't try to divide the music you add by genre, style, release date, color, intensity, country… it is just about music <em>you</em> like.</p>

		<h3>3. You shall stay anonymous (if you want)</h3>
		<p>Privacy is for the future peace of mind — your music is who you are and you can keep it like that, if you want. This place is about pleasing people with the most intimate music you love. Not who you are.</p>
	</div>
</section>

<section class="Section">
	<div class="Manchet Manchet--left">
		<h1>One radio<small> — everyone gets one</small></h1>
	</div>
	<div class="Container Container--full">
		<div class="Grid">
			<div class="Grid-item">
				{{#link-to 'channel' model.featured.firstObject}}
					{{channel-card channel=model.featured.firstObject}}
				{{/link-to}}
			</div>
			<div class="Grid-item Grid-item--double">
				<div class="Muted">
					<p>This radio's name is <strong>{{model.featured.firstObject.title}}</strong>.</p>=
					<p>Because the person behind it only has one radio, like every other radios, all music inside make a lot of sense together because they have been selected by one unique person.</p>
					<p>And if that person added those music inside, it is only because he loved them all!</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="Manchet Manchet--left">
		<h1>Let's build a radio for year 4000 together!</h1>
	</div>
	<div class="Container Container--full">
		<div class="Section">
			<div class="Intro-buttons">
				{{#link-to 'channels' class="Intro-btn" title="Discover music by channels"}}
					Discover radios &rarr;
				{{/link-to}}
				{{#if session.currentUser.channels.firstObject}}
					{{#link-to 'channel' session.currentUser.channels.firstObject class="Intro-btn Intro-btn--primary" title="Your radio"}}
						Go to your “{{session.currentUser.channels.firstObject.title}}”
					{{/link-to}}
				{{else}}
					{{#link-to 'channels.new' class="Intro-btn Intro-btn--primary" title="Continue to create your radio"}}
						Create your radio now
					{{/link-to}}
				{{/if}}
			</div>
		</div>
	</div>
</section>
