<form class="Form ProviderAccount" {{action "link" email password on="submit"}}>
	<div class="ProviderAccount-body">
		<p class="ProviderAccount-id">{{name}}</p>
		<div class="ProviderAccount-inputs">
			<div class="Form-group">
				{{input name="email" type="email" value=email placeholder="Email"}}
			</div>
			<div class="Form-group">
				{{input name="" type="password" value=password placeholder="Password"}}
			</div>
		</div>
	</div>
	<button type="submit" class="Btn">Add</button>
</form>

{{yield}}
