{{!-- <div class="Container u-pushDown">
	<nav class="Tabs Tabs--horizontal">
		{{#link-to 'help.index' title="About Radio4000" class="Tabs-item"}}Help{{/link-to}}
	</nav>
</div> --}}

<div class="Sections">
	<section class="Section">
		<div class="Manchet">
			<h1>Help <small>— answers to your questions</small></h1>
		</div>

		<div class="Container">
			<h3>How do I create more than one radio?</h3>
			<p>You do not! You have <strong>one single radio</strong> to present your taste in music. This is one pillar of Radio4000: one radio = one human. We think playlists are really useful, but they can become a pain to maintain. With playlists out of the way, you never have to consider where the song fits but only that, yes, you really enjoy that tune. According to us this leads to more exciting radios, creating unexpected bridges between genres, through times, cultures and people. We explore this concept further in the <a href="{{href-to 'intro'}}">introduction</a>.</p>

			<h3>How do I save a radio to my list of favorites?</h3>
			<p>To save a radio as your favorite you will need to first <a href="{{href-to 'login'}}">create yourself a radio</a>. It takes 20 seconds, 5 clicks. Once registered you'll see a yellow star icon on ever radio.</p>

			<h3>Why do I need to create a radio to save favorites?</h3>
			<p>All your favorites are saved to your own radio. And they are public. So when you feel like listening to one of your favorite radios, you can always find your favorites on your own radio.{{#if session.currentUser.channels.firstObject}} Go to <a href="{{href-to 'channel' session.currentUser.channels.firstObject}}">{{session.currentUser.channels.firstObject.title}}</a>{{else}} Look for the 'favorites' tab{{/if}}.</p>

			<h3>How do I change the URL of my radio? (aka <em>radio4000.com/your-radio-name</em>)</h3>
			<p>{{#if session.currentUser.channels.firstObject}}
				Tap this link to <a href="{{href-to 'channel' session.currentUser.channels.firstObject}}">edit {{session.currentUser.channels.firstObject.title}}</a> and look for the <em>URL</em> field.
			{{else}}
				Log in, go to your radio, tap the <em>'Edit'</em> button and look for <em>'URL'</em>.
			{{/if}}
			 We suggest you to use a URL that matches your radio title.</p>

			<h3>How do I add tracks from Bandcamp, Soundcloud etc.?</h3>
			<p>For now, we want to focus on creating the best possible experience on top of YouTube. We're considering more sources.</p>

			<h3>Why doesn't it play all tracks after each other on my iPhone/iPad?</h3>
			<p>Unfortunately Apple decided to disallow autoplaying of videos on iOS. This means each time you want to watch a YouTube video it switches to the default YouTube app on your device. When the video has finished, we have no way to continue with the next song in the radio for you. While we work around it, we suggest you buy an Android device. Sorry…</p>

			<h3>Are you planning on having native mobile apps, Android, iOs, Blackberry?</h3>
			<p>No, not really. Radio4000 is build with web techonologies, which means there is as long as you have a modern browser, it will work. There's no need for a native application. If you're reading this, you're here already. We want to make one application that works on any device. Here is our <a href="{{href-to 'about.technology'}}">technology stack</a> if it is of your interest. Feel free to contact us if you would like to talk.</p>

			<h3>Why can I just register with Facebook or Google?</h3>
			<p>For now we did not implement email registration, but this is something we definitely want for the future. When it comes we will let you know and you will be able to switch your login method to email.</p>

			<h3>What data do you need from my Facebook or Google account?</h3>
			<p>None really. We don't want your name, your pictures, your sex, age, or any other attribute. The only reason you have to register is so that we can associate your radio with you, and be sure only you access it.</p>

			<h3>Is Radio4000 anonymous?</h3>
			<p>Short answer is Yes. Long answer is No. Why? Other users can only see your radio the way you do. So they will see its name, description, image, the tunes that are in, people you follow and who are following you. So if your radio is <em>Butterfly123</em>, no one will now who is behind this radio; except if you tell them because you want them to know. It is up to you. About the long answer, unfortunately, is there such thing as anonymity on the internet? So to us, we want to do as much as possible to keep you pricacy intact. We recommand your to <a href="https://ssd.eff.org">read this</a> if you have any concerns.</p>

			<h3>Why can't I drag and drop my musics to reorganize them?</h3>
			<p>This is question is often heard from people who just started adding a bunch of tracks in their newly created radio. At the beginning you would like to spend time finding tunes that transition well one after an other; or maybe interpose a group of tracks from the same artist you added in a row? Please, don't worry about that. It's all cool if you like those tunes. We are also considering to add this feature, but for now we think it would add too much complexity to Radio4000. In the meantime remember you can play radios in shuffle mode (click the {{x-icon i='shuffle'}} icon on the player ).</p>

			<h3>What does this or that button do?</h3>
			<p>When you move your mouse over any element clickable element you don't understand, an info text will appear. Try this fonctionnality, <em title="Voila! Here is the information.">let your mouse cursor hover this sentence.</em>. On some elements you will also see the shortcut to access that comand from your keyboard.</p>

			<h3>Any plan for a Pro version?</h3>
			<p>Yes. We are discussing and experimenting to design the right business model. We want it to retribute artists and right holders which tracks are on Radio4000, as people contributing to making Radio4000 a great music tool and radio service. We also want the price to be cool with you, so you precisely know why and what you contribute to.</p>

			<hr>
			<h3>Can't find the answer to your question?</h3>
			<h3>You found a bug on the site?</h3>
			<h3>A complain or trouble?</h3>
			<h3>There is this cool feature you would like to tell us about?</h3>
			<h3>You would like to help make Radio4000 better?</h3>
			<h3>You want to create something with us?</h3>
			<h3>Anything else?</h3>
			<p>Ask us everything by mail at <a href="mailto:contact@radio4000.com">contact@radio4000.com</a>. We're here to provide you with answers, and by asking you will also help us make Radio4000 a better music tool.</p>
		</div>
</section>
</div>
