{{#link-to "channel" channel
	title=title
	class="ChannelCard-cover"
}}
	{{channel-cover src=channel.coverImage.src}}
	<h3 class="ChannelCard-title">
		{{channel.title}}
	</h3>
{{/link-to}}
<div class="ChannelCard-controls">
	{{play-shuffle-btn channel=channel class="Btn--small"}}
</div>
<p class="ChannelCard-body">
	{{do-truncate channel.body 200}}
</p>
{{yield}}
