{{#link-to 'channel' channel}}
	{{channel-cover image=channel.coverImage}}
{{/link-to}}

<h3 class="ChannelCard-title">
	{{#link-to 'channel.dashboard' channel}}
		{{channel.title}}
	{{/link-to}}
</h3>

<p class="ChannelCard-body">
	{{do-truncate channel.body 300}}
</p>

<div class="ChannelCard-playback BtnGroup">
	{{#playback/play-button channel=channel as |btn|}}
		{{x-icon i='play'}} {{if btn.isLoading 'Playing…' 'Play'}}
	{{/playback/play-button}}
</div>

{{!-- {{#if channel.tracks}}
	<p>has tracks</p>
	<div class="ChannelCard-overlayBtn">
		{{#playback/play-button class="Btn Btn--text" track=channel.tracks.firstObject shuffle=true}}
			{{x-icon i='shuffle'}}
		{{/playback/play-button}}
	</div>
{{/if}}
 --}}
