{{#link-to "channel" channel title=title}}
	{{channel-cover src=channel.coverImage.src}}
	<h3 class="ChannelCard-title">
		{{channel.title}}
	</h3>
{{/link-to}}
<div class="ChannelCard-controls">
	{{play-shuffle-btn
		class="Btn--small Btn--shake"
		channel=channel
		showText=showText}}
</div>
<p class="ChannelCard-body">
	{{do-truncate channel.body 200}}
</p>

{{#unless channel.canEdit}}
	{{btn-favorite
		class="ChannelCard-favorite Btn Btn--text Muted"
		channel=channel
		showText=showText}}
{{/unless}}

{{yield}}
