{{!-- {{#link-to 'channel' channel title=channel.body}} --}}
<a href="{{href-to 'channel' channel}}" title={{unbound channel.body}}>
	{{channel-cover src=channel.coverImage.src}}
	<h3 class="ChannelCard-title">{{channel.title}}</h3>
{{!-- {{/link-to}} --}}
</a>

<div class="ChannelCard-controls">
	{{play-shuffle-btn channel=channel class="Btn--small"}}
</div>

<p class="ChannelCard-body">
	{{unbound channel.body}}
</p>

{{yield}}
