{{#link-to "channel" channel title=title}}
	{{channel-cover src=channel.coverImage.src}}
	<h3 class="ChannelCard-title">
		{{channel.title}}
	</h3>
{{/link-to}}

<div class="ChannelCard-controls">
	{{play-shuffle-btn
		class="Btn--small"
		channel=channel
		showText=false
	}}
</div>

<p class="ChannelCard-body">
	{{link-hashtags (do-truncate channel.body 200) channel.slug}}
</p>

{{#unless channel.canEdit}}
	{{btn-favorite
		class="ChannelCard-favorite Btn Btn--text Muted"
		channel=channel
		showText=false
	}}
{{/unless}}

{{yield}}
