<a href={{href-to "channel" channel}} title={{title}}>
	{{channel-cover
		src=channel.image
		alt=channel.title
		disableLazyload=isFirstInGrid}}
	<h3 class="ChannelCard-title">
		{{channel.title}}
	</h3>
</a>

<p class="ChannelCard-body">
	{{link-hashtags (do-truncate channel.body 200) channel.slug}}
</p>

<div class="ChannelCard-controls">
	{{play-shuffle-btn
		class="Btn--small"
		channel=channel
		showText=false
	}}
</div>

{{#unless channel.canEdit}}
	{{btn-favorite
		class="ChannelCard-favorite Btn Btn--text Muted"
		channel=channel
		showText=false
	}}
{{/unless}}

{{yield}}

