{{#btn-group}}
	<span class="BtnGroup-label">{{label}}</span>
	<button {{action "setSortKey" 'updated'}} class="Btn">Recently updated</button>
	<button {{action "setSortKey" 'created'}} class="Btn">Created date</button>
	<button {{action "setSortKey" 'title'}} class="Btn">Alphabetically</button>
{{/btn-group}}

{{yield manipulatedList}}
