{{#btn-group}}
	<span class="BtnGroup-label">{{label}}</span>
	{{btn-list-manipulation click=(action 'toggleSetSortKey' 'updated') text='Recently updated'}}
	{{btn-list-manipulation click=(action 'setSortKey' 'created') text='Created date'}}
	{{btn-list-manipulation click=(action 'toggleSetSortKey' 'title') text='Alphabetically'}}
{{/btn-group}}

{{yield manipulatedList}}
