<section class="Section">
	<div class="Manchet">
		<p>Customize the appearance and informations about your radio channel.</p>
	</div>

	<div class="Container">
		<p><label>Image</label></p>
		<div class="u-flex">
			{{#if model.coverImage}}
				<figure style="max-width: 100px">
					{{channel-cover src=model.coverImage.src}}
				</figure>
			{{/if}}
			
			{{#if model.coverImage}}
				<button class="Btn Btn--small" title="To change your image, you'll need to delete this one first" {{action "deleteImage"}}>
					Delete image
				</button>
			{{else}}
				{{cloudinary-upload
					cloudName='radio4000'
					unsignedUploadPreset='tc44ivjo'
					didUpload=(action "saveImage")}}
			{{/if}}
		</div>
	</div>
</section>

<section class="Section">
	<div class="Container">
		{{!-- <h2>Details</h2> --}}
		{{channel-edit-details
			channel=model
			submitTask=(perform saveChannel)
			onCancel=(action "goBack")}}
	</div>
</section>

<section class="Section">
	<div class="Container">
		<h2>Localisation</h2>
		<p>You can place your radio channel on the map, wherever you feel like it.</p>
		<div class="FormGroup">
			{{!-- {{map-position-selection
				currentLat=model.coordinatesLatitude
				currentLng=model.coordinatesLongitude
				updateCoordinates=(perform updateCoordinates)}} --}}
		</div>
	</div>
</section>

<section class="Section">
	<div class="Container">
		<h2>Delete your radio</h2>
		<p>
			If you don't think you'll use Radio4000 again, you can request to have your radio channel <a href="{{href-to 'channel.delete' model}}">permanently deleted</a>. Please keep in mind that you won't be able to reactivate your radio or retrieve anything you've added.
		</p>
	</div>
</section>
