<section class="Section">
	<div class="Manchet">
		<p>Customize the appearance and informations about your radio channel.</p>
	</div>

	<div class="Container Container--small">
		<h2>Image</h2>

		<figure>
			{{channel-cover src=model.coverImage.src}}
		</figure>

		{{#if model.coverImage}}
			<button class="Btn Btn--small" title="To change your image, you'll need to delete this one first" {{action "deleteImage"}}>
				Delete image
			</button>
		{{else}}
			{{cloudinary-upload
					cloudName='radio4000'
					unsignedUploadPreset='tc44ivjo'
					didUpload=(action "saveImage")}}
		{{/if}}
	</div>
</section>

<section class="Section">
	<div class="Container">
		<h2>Details</h2>
		<form class="" {{action "trySave" on="submit"}}>
			{{#form-group model=model valuePath="title" label="Name" as |v|}}
				{{focus-input
						value=v
						placeholder="ex: The pirate Radio"
						autoFocus=true
						required="required"
						minlength=titleMinLength
						maxlength=titleMaxLength}}
			{{/form-group}}

			{{#form-group model=model valuePath="slug" label="URL" as |v|}}
				<p class="Muted" style="font-weight: normal">https://radio4000.com/{{v}}</p>
				{{input
						value=v
						placeholder="ex: pirate-radio"
						required="required"
						minlength=titleMinLength
						maxlength=titleMaxLength}}
			{{/form-group}}

			{{#form-group model=model valuePath="body" label="Description" as |v|}}
				{{textarea id="body"
						value=v
						maxlength=channelDescriptionMaxLength
						placeholder="What is your radio about? ex: 'Fireplace music'"}}
			{{/form-group}}

			{{#form-group model=model valuePath="link" label="Website" as |v|}}
				{{input type="url"
						value=v
						aria-invalid=(if model.validations.attrs.link.isValid "false" "true")
						pattern="https?://.+"
						placeholder="Link to your website, ex: 'https://example.com'"}}
			{{/form-group}}


			<h2>Localisation</h2>
			<p>You can place your radio channel on the map, wherever you feel like it.</p>
			<div class="FormGroup">
				{{map-position-selection
						lat=model.coordinatesLatitude
						lng=model.coordinatesLongitude}}
			</div>

			<p class="BtnGroupWrapper BtnGroupWrapper--full">
				<button type="button"
					{{action "cancelEdit"}}
					class="Btn Btn--large"
					disabled={{nothingChanged}}>Cancel changes</button>
				<button type="submit"
					class="Btn Btn--large Btn--primary"
					disabled={{disableSubmit}}>
					{{#if isSaving}}Saving…{{else}}Save {{/if}}
				</button>
			</p>
		</form>
	</div>
</section>

<section class="Section">
	<div class="Container">
	</div>
</section>

<section class="Section">
	<div class="Container">
		<h2>Delete your radio</h2>
		<p>
			If you don't think you'll use Radio4000 again, you can request to have your radio channel <a href="{{href-to 'channel.delete' model}}">permanently deleted</a>. Please keep in mind that you won't be able to reactivate your radio or retrieve anything you've added.
		</p>
	</div>
</section>
