<div class="Sections">
	<section class="Section">
		<div class="Manchet">
			<h1>Edit <small>your radio</small></h1>
		</div>

		<div class="Channel Channel--edit Container Container--full">

			<form class="Channel-media">
				<div class="Form-group">
					{{#image-upload imageId=newImage}}
						{{channel-cover src=model.coverImage.src}}
						Drag 'n drop an image for your radio here
					{{/image-upload}}
					{{#if model.coverImage}}
						<button class="Btn Btn--danger Btn--text" {{action "deleteImage"}}>
							Delete image
						</button>
					{{/if}}
				</div>
			</form>

			<div class="Form Form--box">
				<div class="Channel Channel--edit">
					<form class="Channel-body" {{action "trySave" on="submit"}}>
						{{#form-group model=model valuePath="title" label="Radio channel name" as |v|}}
							{{focus-input
								value=v
								placeholder="Title"
								autofocus="autofocus"
								required="required"
								maxlength=titleMaxLength
								minlength=titleMinLength}}
						{{/form-group}}

						{{#form-group model=model valuePath="slug" label="URL" as |v|}}
							<p style="font-weight: normal">radio4000.com/{{v}}</p>
							{{input
									value=v
									placeholder="channel-slug"
									required="required"
									maxlength=titleMaxLength
									minlength=titleMinLength}}
						{{/form-group}}

						{{#form-group model=model valuePath="body" label="Description" as |v|}}
							{{textarea id="body"
								value=v
								maxlength=channelDescriptionMaxLength
								placeholder="What is your radio about?"}}
						{{/form-group}}

						{{#form-group model=model valuePath="link" label="Link" as |v|}}
							{{input type="url"
								value=v
								aria-invalid=(if model.validations.attrs.link.isValid "false" "true")
								pattern="https?://.+"
								placeholder="Your homepage"}}
						{{/form-group}}

						<div class="Form-group Form--save">
							<button type="submit" class="Btn Btn--primary" disabled={{disableSubmit}}>
								{{#if isSaving}}Saving…{{else}}Save radio{{/if}}
							</button>
							<a href="{{href-to 'channel.index' model}}" type="button" class="Btn Btn--text Muted">Cancel editing</a>
						</div>
					</form>
				</div>
			</div>

			<p><a class="Btn Btn--text Muted" href="{{href-to 'channel.delete' model}}">Delete your radio</a></p>
		</div>
	</section>
</div>
