<div class="Container Container--full">
	<div class="Grid">
		<article class="Grid-cell">
			<form class="" title="Drag and drop an image in this area to upload it">
				{{#form-group label="Image"}}
					{{#image-upload imageId=newImage}}
						{{channel-cover src=model.coverImage.src}}
					{{/image-upload}}
					{{#if model.coverImage}}
						<button class="Btn Btn--danger Btn--text" {{action "deleteImage"}}>
							Delete image
						</button>
					{{/if}}
				{{/form-group}}
			</form>
		</article>

		<article class="Grid-cell Grid-cell--double ">
			<form class="" {{action "trySave" on="submit"}}>
				{{#form-group model=model valuePath="title" label="Name" as |v|}}
					{{focus-input
							value=v
							placeholder="ex: The pirate Radio"
							autofocus="autofocus"
							required="required"
							minlength=titleMinLength
							maxlength=titleMaxLength}}
				{{/form-group}}

				{{#form-group model=model valuePath="slug" label="URL" as |v|}}
					<p class="Muted" style="font-weight: normal">https://radio4000.com/{{v}}</p>
					{{input
							value=v
							placeholder="ex: pirate-radio"
							required="required"
							minlength=titleMinLength
							maxlength=titleMaxLength}}
				{{/form-group}}

				{{#form-group model=model valuePath="body" label="Description" as |v|}}
					{{textarea id="body"
							value=v
							maxlength=channelDescriptionMaxLength
							placeholder="What is your radio about? ex: 'Fireplace music'"}}
				{{/form-group}}

				{{#form-group model=model valuePath="link" label="Website" as |v|}}
					{{input type="url"
							value=v
							aria-invalid=(if model.validations.attrs.link.isValid "false" "true")
							pattern="https?://.+"
							placeholder="Link to your website, ex: 'https://example.com'"}}
				{{/form-group}}

				<p class="BtnGroupWrapper BtnGroupWrapper--full">
					<button type="submit" class="Btn Btn--large Btn--primary" disabled={{disableSubmit}}>
						{{#if isSaving}}Saving…{{else}}Save radio{{/if}}
					</button>
					<a href="{{href-to 'channel.index' model}}" type="button" class="Btn Btn--large Btn--text Muted">Cancel</a>
				</p>
			</form>
		</article>
	</div>
	<div class="Container Container--full">
		<a class="Btn Btn--text Muted" href="{{href-to 'channel.delete' model}}">Delete your radio</a>
	</div>
</div>
