<div class="Sections">
	<section class="Section">
		<!-- <div class="Manchet">
				 <h1>{{model.title}}</h1>
				 </div> -->

		<div class="Container Container--full">
			<nav class="Tabs Tabs--animated Tabs--horizontal">
				{{#link-to 'channel.index' title="All tracks"}}
					<h1>{{model.title}}</h1>
					<!-- Infos -->
				{{/link-to}}
				{{#link-to 'channel.tracks' class="Tabs-item" title="All tracks"}}
					Tracks <span class="Muted">({{model.totalTracks}})</span>
				{{/link-to}}
				{{#link-to 'channel.favorites' class="Tabs-item" title="Favorites of this radio"}}
					Favorites
				{{/link-to}}
				{{#if canEdit}}
					{{#link-to 'channel.followers' class="Tabs-item" title="Followers of this radio"}}
						Followers
					{{/link-to}}
					{{#link-to 'channel.edit' class="Tabs-item" title="Edit your radio"}}
						Edit
					{{/link-to}}
				{{/if}}
			</nav>
		</div>
	</section>
	<section class="Section">
		<article class="Channel {{if canEdit 'canEdit'}}">
			{{outlet}}
		</article>
	</section>
	{{#if canEdit}}
		{{#unless isWelcomed}}
			<section class="Section">
				<div class="Channel-introduction">
					{{page-welcome channel=model}}
				</div>
			</section>
		{{/unless}}
	{{/if}}
</div>
