{{!-- {{#if canEdit}}
	{{#unless isWelcomed}}
		<div class="Blankstate">
			<h4 class="Blankstate-title">Welcome to Radio4000</h4>
			<p>Your radio has been created!</p>
			<p>Here is what you could do to start broadcasting 🚀</p>
			<div class="Blankstate-actions">
				{{#link-to 'channel.add' (query-params url="https://www.youtube.com/watch?v=ymdssZOAx3Q")}}
					<label>
						{{input type='checkbox' checked=model.tracks.firstObject}} Add your first track
					</label>
				{{/link-to}}
				{{#link-to 'channel.edit'}}
					<label>
						{{input type='checkbox' checked=model.images.firstObject}} Customize your radio with an image
					</label>
				{{/link-to}}
				{{#link-to 'channels' }}
					<label>
						{{input type='checkbox' checked=model.favoriteChannels.firstObject}} Find a radio you like and add it to your favorites
					</label>
				{{/link-to}}
			</div>
		</div>
	{{/unless}}
{{/if}}
 --}}

<article class="Channel Channel--detail {{if canEdit 'canEdit'}}">
	<div class="Channel-header">
		<div class="Container Container--full Container--tight">

			<div class="Channel-media">
				{{#if canEdit}}
					{{#link-to 'channel.edit' model}}
						<div class="Channel-cover">
							{{channel-cover image=model.coverImage onPlay="play"}}
						</div>
					{{/link-to}}
				{{else}}
					<div class="Channel-cover">
						{{channel-cover image=model.coverImage onPlay="play"}}
					</div>
				{{/if}}
			</div>

			<div class="Channel-body">
				<div class="Channel-titleSection">
					<h1 class="Channel-title">
						{{#link-to 'channel' model}}
							{{model.title}}
						{{/link-to}}
					</h1>

					{{#unless canEdit}}
						<span class="Follow Follow--title">
							{{btn-favorite action="toggleFavorite" isFavorite=isFavorite class="NonBtn"}}
						</span>
					{{/unless}}
				</div>

				<div class="Channel-playback">
					{{playback/play-shuffle-btn channel=model}}
				</div>

				{{!-- <p class="Muted LastUpdated">({{lastUpdatedFormatted}})</p> --}}

				{{#if model.body}}
					<p class="Channel-description">{{model.body}}</p>
				{{/if}}

				{{#if model.link}}
					<p class="Channel-links">
						<a href="{{model.link}}" target="_blank">{{model.link}}</a>
					</p>
				{{/if}}

				{{#if canEdit}}
					{{#link-to 'channel.edit' model class="Btn Channel-edit" title="Edit your radio"}}
						{{x-icon i="pencil"}} Edit radio
					{{/link-to}}
				{{/if}}
			</div>
		</div>
	</div>

	<nav class="Tabs{{!--  Tabs--toHorizontal --}}">
		{{!-- {{#link-to 'channel.dashboard' class="Tabs-item" title="Dashboard, a summary of this radio"}}
			Dashboard
		{{/link-to}} --}}
		{{#link-to 'channel.index' class="Tabs-item" title="All tracks"}}
			{{!-- {{model.tracks.length}} --}} Tracks
		{{/link-to}}
		{{#link-to 'channel.favorites' class="Tabs-item" title="Favorites of this radio"}}
			Favorites
		{{/link-to}}
		{{#link-to 'channel.followers' class="Tabs-item" title="Followers of this radio"}}
			Followers
		{{/link-to}}
	</nav>

	{{outlet}}
</article>

<div class="Widgets Widgets--tracks Container Container--full Section Section--space">
	{{outlet 'channel-widgets'}}
</div>
