<article class="Channel Channel--detail">
	<div class="Channel-header">
		<div class="Container Container--full">

			<div class="Channel-media">
				<div class="Channel-cover">
					{{channel-cover model=model hideTitle=true}}
				</div>
			</div>

			<div class="Channel-body">

				<span class="Follow Follow--title">
					{{btn-favorite action="toggleFavorite" isFavorite=isFavorite}}
				</span>

				<h1 class="Channel-title">
					{{#link-to 'channel' model}}{{model.title}}{{/link-to}}
					<span class="Muted LastUpdate">(updated {{lastUpdatedFormatted}})</span>
				</h1>

				{{#if model.body}}
					<p class="Channel-description">{{model.body}}</p>
				{{/if}}

				{{#if model.link}}
					<p class="Channel-links">
						<a href="{{model.link}}" target="_blank">{{model.link}}</a>
					</p>
				{{/if}}

				{{#if canEdit}}
					<div class="BtnGroupWrapper">
						<div class="BtnGroup">
							{{#link-to 'channel.edit' model class="Btn" title="Edit your channel"}}
								{{x-icon i="pencil"}} Edit channel
							{{/link-to}}
						</div>
					</div>
				{{/if}}
			</div>
		</div>
	</div>

	<nav class="NavigationTab">
		{{#link-to 'channel.index' class="NavigationTab-item" title="All tracks"}}
			Tracks
		{{/link-to}}
		{{#link-to 'channel.favorites' class="NavigationTab-item" title="Favorites of this channel"}}
			Favorites
		{{/link-to}}
		{{!-- {{#link-to 'channel.followers' class="NavigationTab-item" title="Followers"}}
			{{model.channelPublic.followers.length}} followers
		{{/link-to}} --}}
		{{#if canEdit}}
			{{#link-to 'channel.add' model class="NavigationTab-item" title="Add track"}}Add track{{/link-to}}
		{{/if}}
	</nav>

	<div class="Channel-outlet">
		{{outlet}}
	</div>
</article>
