<article class="Channel Channel--detail {{if canEdit 'canEdit'}}">
	<div class="Channel-header">
		<div class="Container Container--full">

			<div class="Channel-media">
				<div class="Channel-cover">
					{{channel-cover image=model.coverImage onPlay="play"}}
				</div>
				<button class="Btn" {{action 'play'}}>{{x-icon i="play"}} Play now</button>
			</div>

			<div class="Channel-body">

				<div class="Channel-titleSection">
					<h1 class="Channel-title">
						{{#link-to 'channel' model}}{{model.title}}{{/link-to}}
					</h1>

					{{#unless canEdit}}
						<span class="Follow Follow--title">
							{{btn-favorite action="toggleFavorite" isFavorite=isFavorite class="NonBtn"}}
						</span>
					{{/unless}}

					<p class="Muted LastUpdate">(updated {{lastUpdatedFormatted}})</p>
				</div>

				{{#if model.body}}
					<p class="Channel-description">{{model.body}}</p>
				{{/if}}

				{{#if model.link}}
					<p class="Channel-links">
						<a href="{{model.link}}" target="_blank">{{model.link}}</a>
					</p>
				{{/if}}

				{{#if canEdit}}
					{{#link-to 'channel.edit' model class="Btn Channel-edit" title="Edit your radio"}}
						{{x-icon i="pencil"}} Edit radio
					{{/link-to}}
				{{/if}}
			</div>
		</div>
	</div>

	<nav class="Tabs">
		{{#link-to 'channel.index' class="Tabs-item" title="All tracks"}}
			{{model.tracks.length}} Tracks
		{{/link-to}}
		{{#link-to 'channel.favorites' class="Tabs-item" title="Favorites of this radio"}}
			Favorites
		{{/link-to}}
		{{#link-to 'channel.followers' class="Tabs-item" title="Followers of this radio"}}
			Followers
		{{/link-to}}
	</nav>

	<div class="Channel-outlet">
		{{outlet}}
	</div>
</article>
