{{title model.title}}

<div class="Sections">
	<section class="Section Section--horizontal">
		<div class="Manchet">
			<h1 title={{model.body}}>
				{{#link-to "channel.index" model}}
					{{model.title}}
				{{/link-to}}
			</h1>
		</div>
		<div class="Container Container--noPaddingMobile Container--contentCentered Container--full">
			<nav class="Tabs Tabs--horizontal">
				{{#link-to
					'channel.tracks'
					class="Tabs-item"
					title="All tracks [⌨ g t]"}}
					Tracks {{#if model.totalTracks}}<span class="Muted">({{model.totalTracks}})</span>{{/if}}
				{{/link-to}}
				{{#link-to
					'channel.favorites'
					class="Tabs-item"
					title="Favorites of this radio [⌨ g f]"}}
					Favorites
				{{/link-to}}
				{{#if model.canEdit}}
					{{#link-to
						'channel.followers'
						class="Tabs-item"
						title="Followers of this radio"}}
						Followers
					{{/link-to}}
					<div class="Tabs-divider"></div>
					{{#link-to "settings.channel" class="Tabs-item" title="Edit your radio"}}
						&rarr; Settings
					{{/link-to}}
				{{/if}}
			</nav>
		</div>
	</section>

	{{outlet 'main'}}
</div>

{{#if editTrack}}
	{{#modal-dialog onClose=(action "stopEditing")}}
		<div class="Sections">
			<section class="Section">
				<div class="Manchet">
					<h2>Edit <small>track</small></h2>
				</div>
				<div class="Container">
					{{track-edit
						track=trackToEdit
						onSubmit=(action "stopEditing")
						onCancel=(action "stopEditing")
						onDelete=(action "stopEditing")
					}}
				</div>
			</section>
		</div>
	{{/modal-dialog}}
{{/if}}
