	<section class="Section">
		<div class="Container">
			<h2>How you login</h2>
			{{#if currentUser.email}}
			{{#unless currentUser.emailVerified}}
				<p class="Note">Your email is not yet verified; check your email for a verification link, or <a href="#" {{action "verifyEmail"}} title="Click to send a new verification email. After clicking the link in the email, please refresh this page.">send a new verification link</a>.</p>
			{{/unless}}

			<form class="ProviderAccount" {{action "updateEmail" newEmail on="submit"}}>
				<label class="ProviderAccount-body">
					Email
					<p class="ProviderAccount-id">
						{{input placeholder=currentUser.email value=newEmail}}
					</p>
				</label>
				<button class="Btn" type="submit">Update</button>
			</form>
		{{/if}}

		{{account-provider-list
				providerData=providerData
				emailVerified=currentUser.emailVerified
				unlink=(action "unlinkAccount")
				resetPassword=(action "resetPassword")
				verifyEmail=(action "verifyEmail")}}

		{{#unless hasEmail}}
			<div class="ProviderAccounts">
				<div class="Note">
					<p>
					</p>
					<p>
						Add an email address that <strong>you own</strong> (otherwise
						you won't be able to retrieve a lost password, and we won't be
						able to help!). You will be asked to confirm the new email (an email in your inbox).
					</p>
					<p>
						Also use a strong and long enough password (four random
						words separated by a random character?), and save it in a secure password manager.
					</p>
					<p>
						If you make a mistake when writting the email address, you can remove  the newly added address.
					</p>
				</div>

				{{account-email-link
						name="Email"
						onLink=(action "linkEmail")}}
			</div>
		{{/unless}}

	</div>
</section>

{{#if hasEmail}}
	<section class="Section">
		<div class="Container">
			<h2>Update password</h2>
			<p>To change your password, we will send you an email with the instructions.</p>
			<button class="Btn" onclick={{action "resetPassword"}}>Send a password reset link</button>
		</div>
	</section>
{{/if}}

<section class="Section">
	<div class="Container">
		<h2>Delete my account</h2>
		{{auth-delete-account
				firebaseApp=firebaseApp
				user=session.currentUser
				onDelete=(action "deletedUser")}}
	</div>
</section>

{{outlet}}

{{title "Account settings" replace=true}}
