<form class="Form">
	{{#if hasBlock}}
		<label>{{yield}}</label>
	{{/if}}
	{{#if focus}}
		{{focus-input
				value=buildUrl
				select=true
				readonly=true
				autoFocus=autoFocus
				autoSelect=autoSelect}}
	{{else}}
		{{focus-input
				value=buildUrl
				select=true
				readonly=true
				autoFocus=autoFocus
				autoSelect=autoSelect}}
	{{/if}}
	{{#if iframe}}
		<label class="u-alignRight">
			<small><a href={{buildApiUrl}} target="_blank" rel="noopener">Try it out!</a></small>
		</label>
	{{/if}}
</form>
