<form class="Form">
	{{#if hasBlock}}
		<label>{{yield}}</label>
	{{/if}}
	{{#if focus}}
		{{focus-input
				value=buildUrl
				select=true
				readonly=true
				autoFocus=autoFocus
				autoSelect=autoSelect}}
	{{else}}
		{{focus-input
				value=buildUrl
				select=true
				readonly=true
				autoFocus=autoFocus
				autoSelect=autoSelect}}
	{{/if}}
	{{#if iframe}}
		{{#btn-group class="BtnGroup--right"}}
			<a href={{buildApiUrl}} target="_blank" rel="noopener">Try it out!</a>
		{{/btn-group}}
	{{/if}}
</form>
