{{#if channel}}
	<p>Your account currently owns this radio channel: {{link-to channel.title "channel" channel.slug}}.</p>
	<p>You must {{link-to "delete your radio" "channel.delete" channel}} before you can delete your account.
	</p>
{{else}}
	<button class="Btn Btn--danger" title="Once deleted, it's deleted" {{action "delete"}}>
		{{if deleteAccount.isIdle "Yes, delete my account" "Deleting..."}}
	</button>
{{/if}}

{{yield}}
