<div class="Sections">

	<section class="Manchet">
		<h1>Sign up <small>to Radio4000</small></h1>
		<p class="u-tc">Create an account to start your radio (free)</p>
	</section>

	<section class="Section">
		<div class="Grid Grid--center">

			<div class="Grid-cell Grid-cell--double">
				<div class="Container Container--small">
					{{user-signup onSignup=(action "signup")}}
					<p>
						Already have a radio? <a href="{{href-to 'auth.login'}}">Log in</a>.<br>
					</p>
					<p>
						Have a question? <a href="{{href-to 'about.contact'}}">Contact us</a>.
					</p>
				</div>
			</div>

			<div class="Grid-cell Grid-cell--double">
				<div class="Container">
					<p>
						<em>"Alright, but why should I start a radio?!"</em>
					</p>
					<ul>
						<li>Radio4000 is open to everyone, no special skills or knowledge required</li>
						<li>Create a radio to manage the selection of your favorite tunes</li>
						<li>Quickly add a track to your radio, it's easy, from YouTube videos</li>
						<li>Search and play custom selections of all tracks in every radio, everything carefully selected with love</li>
						<li>Every track can have #hashtags and comments, hand written by their currators</li>
						<li>Get suggestions from Discogs, such as the track's label, album, release year, genres...</li>
						<li>Share and embed any radio, anywhere online, to the world</li>
						<li>You can organize your radio like a public library</li>
						<li>Export all your data, make backups and <a href="{{href-to 'about.contact'}}">use it with other softwares</a></li>
					</ul>
				</div>
			</div>

			<div class="Grid-cell Grid-cell--double">
				<div class="Container">
					<p>More reasons?</p>
					<ul>
						<li>Start a peaceful experiment, Radio4000 is designed to be a non-intrusive software. There are no notifications here ({{link-to 'read more in the introduction' 'about.intro'}})</li>
						<li>It is <a href="https://github.com/internet4000/radio4000" target="_blank" rel="noopener">free software</a>, as in speach and tea. It means that you can study, improve and run the software as you want it</li>
						<li>Your radio is anonymous, all data is the one you see (you can export and delete it anytime freely)</li>
						<li>Discover and support underground and upcoming artists in the context of music you like (every artist can appear in any radio). The artists you promote in your radio get to be discovered by your listeners!</li>
						<li>Explore other people's selection. Your favorite tunes are available, as well as everyone else's, in their radio</li>
						<li>Favorite and follow the radio channels your prefer</li>
						<li>Lists are great! <a href="https://github.com/internet4000/radio4000/issues" target="_blank" rel="noopener">Discover what is coming next &rarr;</a>, do you have <a href="{{href-to 'feedback'}}">any suggestion?!</a></li>
					</ul>
				</div>
			</div>

		</div>
	</section>
</div>
