<div class="Container Section--space">
	<h3>Add track</h3>

	{{!-- {{#unless isValid}}
		<p class="Warning">Enter the title of the track or paste in an URL.</p>
	{{/unless}} --}}

	<form class="Form Form--box" {{action "addTrack" on='submit'}}>
		<div class="Form-group">
			<label for="trackUrl">URL</label>
			{{focus-input id="trackUrl" type="url" value=controller.url placeholder="Paste in a YouTube link" required="required" autofocus="autofocus"}}
		</div>
		<div class="Form-group Form-group--relative">
			<label for="trackTitle">Title</label>
			{{input id="trackTitle" value=model.title placeholder="Search for a track" required="required"}}<br>
			{{!-- {{#if isFetchingTitle}}<p class="Form-groupStatus">Updating…</p>{{/if}}
			{{youtube-search query=model.title action="addFromSearch"}} --}}
		</div>
		<div class="Form-group">
			<label for="trackBody">Description</label>
			{{input id="trackBody" value=model.body placeholder="Fantastic track! #fantastic (optional)"}}<br>
		</div>

		<div class="Form-group">
			<button class="Btn Btn--primary {{if justAdded 'is-flashing'}}" type='submit' title="Add track to your radio">Add track</button>
			{{#link-to "channel.index" class="Btn Btn--text" title="Don't add the track"}}Cancel{{/link-to}}
		</div>
	</form>

	<div class="Section--space">
		{{!-- <h2>Quickly save tracks with this bookmarklet</h2> --}}
		<p>Save it to your bookmarks and tap on it while you're browsing a YouTube video to add it to your radio. Easy! (<a href="https://support.mozilla.org/en-US/kb/bookmarklets-perform-common-web-page-tasks#w_how-do-i-install-a-bookmarklet" target="_blank">?</a>)</p>

		<p>
			<a class="Btn Bookmarklet" data-slug="{{model.channel.slug}}" title="Drag me to your bookmarks" href="javascript:(function() { location.href='http://localhost:4000/c/TOBESLUGGED/add?url='+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title);})();">
			Add to {{model.channel.title}}</a>
		</p>
	</div>

</div>
