{{#app-root}}
	<header class="SiteHeader">
		<div class="Bar Bar--top">
			{{nav-bar
				radioDevice=emberYoutube
				authed=session.isAuthenticated
				userChannel=session.currentUser.channels.firstObject}}
		</div>
	</header>

	{{#if flashMessages.queue}}
		<aside class="FlashMessages">
			{{#each flashMessages.queue as | flash |}}
				{{flash-message flash=flash}}
			{{/each}}
		</aside>
	{{/if}}

	<main class="SiteMain">
		{{#if-ios}}
			<div class="Note Note--full">
				<p>We're sorry but because your iOS device doesn't support autoplay Radio4000 can't work properly.</p>
			</div>
		{{/if-ios}}

		{{outlet}}
	</main>

	<div class="Player">
		{{ember-youtube ytid=player.model.ytid delegate=this delegate-as="emberYoutube"
			autoplay="true"
			playing="ytPlaying"
			paused="ytPaused"
			ended="ytEnded"
			error="ytError"
			showProgress="true"}}
	</div>

	<div class="Bar Bar--bottom">
		{{x-playback radioDevice=emberYoutube scrollTo=(action 'scrollToTrack')}}
	</div>
{{/app-root}}
