{{#app-root}}
	<div class="Bar Bar--top">
		{{site-logo-button}}
	</div>

	{{#if flashMessages.queue}}
		<aside class="FlashMessages">
			{{#each flashMessages.queue as |flash|}}
				{{flash-message flash=flash}}
			{{/each}}
		</aside>
	{{/if}}

	{{x-aside class="Aside--left"
		isAuthenticated=session.isAuthenticated
		userChannel=userChannel}}

	<main class="SiteMain">
		{{#if-ios}}
			<div class="Note Note--full">
				<p>We're sorry but because your iOS device doesn't support autoplay, Radio4000 can't work properly.</p>
			</div>
		{{/if-ios}}

		{{outlet}}
	</main>

 	<div class="Aside Aside--right">
		{{x-playback}}
	</div>

	{{#link-to 'channels.all' class="PlayButton Btn Btn--round" title="Find a radio channel to play!"}}
		{{!-- {{x-icon i='play'}} --}}
		<img src="assets/images/icons/sound.gif" alt="Find a radio channel to play!">
	{{/link-to}}

{{/app-root}}
