<div class="Sections">
	<div class="Section">

		<div class="Manchet">
			<h1>Styleguide</h1>
		</div>
		<div class="Container Container--noPaddingMobile Container--contentCentered">
			<div class="Tabs Tabs--horizontal">
				{{link-to 'Styleguide' 'styleguide.index' class="Tabs-item"}}
				{{link-to 'Typography' 'styleguide.typography' class="Tabs-item"}}
				{{link-to 'Colors' 'styleguide.colors' class="Tabs-item"}}
				{{link-to 'Forms' 'styleguide.forms' class="Tabs-item"}}
				{{link-to 'Buttons' 'styleguide.buttons' class="Tabs-item"}}
				{{link-to 'Tabs' 'styleguide.tabs' class="Tabs-item"}}
			</div>
		</div>

	</div>

	{{outlet}}
</div>
