
<section class="Playlist">

	<div class="PlaylistHeader">
		<div class="Inner">

			<img class="PlaylistAvatar" src="https://i1.sndcdn.com/avatars-000069254848-ak10xz-t200x200.jpg?30a2558">
			<div class="PlaylistFacts">
				<h1 class="PlaylistTitle">{{playlist.title}}</h1>
				<p class="PlaylistUrl">/{{playlist.url}}</p>
			</div>
			<p class="PlaylistDescription">{{playlist.body}}</p>

			<div class="PlaylistEdit">
				{{#if controller.isOwner}}
					{{#if isEditing}}
						<form class="Form">
							{{input value=playlist.title}}
							{{input type="url" placeholder="Enter" value=playlist.url}}
							{{textarea value=playlist.body}}
							<button {{action "saveEditing"}}>Save playlist</button>
						</form>
					{{else}}
						<button {{action 'editPlaylist'}}>Edit playlist</button>
					{{/if}}
				{{/if}}
			</div>

			{{#if authController.isLoggedIn}}
				<div class="AddTrack">
					<h3>Add track</h3>
					<div class="Form">
						{{input value=trackUrl placeholder="YouTube or Soundcloud url"}}<br>
						{{input value=trackTitle placeholder="Title"}}<br>
						{{textarea value=trackBody placeholder="Optional description"}}<br>
						<button {{action "publishTrack"}}>Add new track</button>
					</div>
				</div>
			{{/if}}
		</div>
	</div>

	<div class="PlaylistBody">
		<div class="Inner">
			{{#if isExpanded}}
				<div class="Tracks">
					<h2>{{#if playlist.tracks}}Tracks{{else}}No tracks yet.{{/if}}</h2>

					{{#each track in playlist.tracks}}
						<article class="Track">
							<a class="Track-name" {{bind-attr href=track.url}}>{{track.title}}</a>
							<p class="Track-description">{{track.body}}</p>
							{{!-- <p>{{track.user.username}}</p> --}}
						</article>
					{{/each}}
				</div>
			{{/if}}
		</div>
	</div>
</section>
