<article>
	<h1>{{playlist.title}}</h1>
	{{#if isExpanded}}
		<div>{{markdown playlist.body}}</div>
		<h3>{{#if playlist.tracks}}Tracks{{else}}No tracks yet.{{/if}}</h3>

		<ul class="List">
			{{#each track in playlist.tracks}}
				<li>
					<p class="Track">
						{{track.url}} <small>{{track.user.username}}</small><br>
					</p>
				</li>
			{{/each}}
		</ul>
	{{/if}}

	{{#if authController.isLoggedIn}}
		<hr>
		<h3>Add track</h3>
		{{input value=trackUrl placeholder="YouTube or Soundcloud url"}}<br>
		{{input value=trackUsername placeholder=authController.currentUser}}<br>
		{{textarea value=trackBody placeholder="Track description"}}<br>
		<button {{action "publishTrack"}}>Save</button>
	{{/if}}

	{{!-- <header>
		<div class="Playlist-author">{{playlist.user.id}} (<time class="Playlist-date">{{playlist.publishedDate}}</time>)</div>
		<img {{bind-attr src="playlist.user.avatar"}} class="avatar Playlist-avatar"/>
	</div> --}}

</article>
