<article>

	{{#if authController.isLoggedIn}}
		{{#if isEditing}}
			{{input value=playlist.title focus-out="acceptChanges"}}<br>
			{{textarea value=playlist.body focus-out="acceptChanges"}}<br>
			<button {{action "savePlaylist"}}>Save playlist</button>
		{{else}}
			<button {{action 'editPlaylist'}}>edit</button>
		{{/if}}
	{{/if}}

	<h1>{{playlist.title}}</h1>
	{{#if isExpanded}}
		<div>{{markdown playlist.body}}</div>
		<h3>{{#if playlist.tracks}}Tracks{{else}}No tracks yet.{{/if}}</h3>

		<ul class="List">
			{{#each track in playlist.tracks}}
				<li>
					<p class="Track">
						{{track.url}} <small>{{track.user.username}}</small><br>
					</p>
				</li>
			{{/each}}
		</ul>
	{{/if}}

	{{#if authController.isLoggedIn}}
		<hr>
		<h3>Add track</h3>
		{{input value=trackUrl placeholder="YouTube or Soundcloud url"}}<br>
		{{input value=trackTitle placeholder="Title"}}<br>
		{{textarea value=trackBody placeholder="Optional description"}}<br>
		<button {{action "publishTrack"}}>Save</button>
	{{/if}}

	{{!-- <header>
		<div class="Playlist-author">{{playlist.user.id}} (<time class="Playlist-date">{{playlist.createdDate}}</time>)</div>
		<img {{bind-attr src="playlist.user.avatar"}} class="avatar Playlist-avatar"/>
	</div> --}}
</article>
