{{#link-to 'track' track}}
	<p class="Track-name" {{bind-attr href=track.url}}>{{track.title}}</p>
	<p class="Track-description">{{track.body}}</p>
{{/link-to}}

{{#if authController.isLoggedIn}}
	{{#if isEditing}}
		<form class="Form">
			<label>URL
				{{input type="url" placeholder="YouTube or Soundcloud URL" value=track.url}}</label>
			<label>Title
			{{input value=track.title placeholder="Title"}}</label>
			<label>Description
			{{textarea value=track.body placeholder="Description"}}</label>
			<button {{action "saveTrack" track}}>Save track</button>
			<button class="Btn--text Btn--danger" {{action 'deleteTrack' track}}>Delete</button>
			<button class="Btn--text" {{action 'stopEditing'}}>Cancel</button>

			<div class="Track-controls">
				<button {{action 'stopEditing'}}>Cancel</button>
			</div>
		</form>
	{{else}}
		<div class="Track-controls">
			<button {{action 'edit'}}>Edit</button>
		</div>
	{{/if}}
{{/if}}

{{yield}}
