{{#if channel}}
	<h2><small>You are listening to</small> <strong>{{channel.title}}</strong></h2>
	<p></p>
{{/if}}

<p>
	<button class="Btn" onClick={{action skipRadio.perform channel}} disabled={{skipRadio.isRunning}}>
		{{#if skipRadio.isIdle}}
			{{#if channel}}Play another radio{{else}}Play some music{{/if}}
		{{else}}
			{{#if playTrack.isRunning}}Calibrating…{{else}}Tuning…{{/if}}
		{{/if}}
	</button>
</p>

{{yield channel}}
