<button class="Btn"
		  onClick={{perform bot.playAnotherRadio}}
		  disabled={{bot.playAnotherRadio.isRunning}}>
	{{#if bot.playAnotherRadio.isIdle}}
		{{#if player.model.channel}}
			S<u>w</u>ap
		{{else}}
			Play some music
		{{/if}}
	{{else}}
		{{if bot.playTrack.isRunning "Calibrating…" "Swapping…"}}
	{{/if}}
</button>
