<button class="Btn" onClick={{perform bot.playAnotherRadio value="channel"}} disabled={{bot.playAnotherRadio.isRunning}}>
	{{#if bot.playAnotherRadio.isIdle}}
		{{#if player.model.channel}}Play another radio{{else}}Play some music{{/if}}
	{{else}}
		{{#if bot.playTrack.isRunning}}Calibrating…{{else}}Tuning…{{/if}}
	{{/if}}
</button>
