{{#if search}}
	<form class="Form Form--full" {{action "playSelection" on="submit"}}>
		<div class="Form-group">
			<label class="Label Label--horizontal">
				<span class="Label-title">
					Search
				</span>
				{{jets-search
						contentTag=".List--tracks"
						content=model.tracks
						value=searchQuery
						title="Search each track in the list (title and description fields); Usage: `word1 & word2 & ...` will filter tracks that have all words at the same time [⌨ shift + s]"
						placeholder='Explore the tracks'
				}}
			</label>

			<button type="button"
				class="Btn"
				disabled={{noSearchQuery}}
				{{action 'clearSearchQuery'}}
			>x</button>
		</div>
		<div class="Form-group">
			<button type="submit" class="Btn u-nowrap" style="min-width: 8em"
				title="Use all tracks result of a search inside the player">
				{{#if searchQuery}}
					<i>↳</i> Load tracks {{!-- load track search --}}
				{{else}}
					<i>▶</i> Play {{!-- load all tracks --}}
				{{/if}}
			</button>
		</div>
	</form>
{{/if}}

<div class="TrackList">
	{{#if grouped}}
		{{#each groupedItems as |group|}}
			<h2 class="TrackList-header Muted">{{group.items.firstObject.createdMonth}}</h2>
			<ol
				class="List {{if numbered ' List--numbered'}} List--tracks">
				{{#each group.items as |item|}}
					<li
						class="List-item">
						{{#if hasBlock}}
							{{yield item}}
						{{else}}
							{{item.title}}
						{{/if}}
					</li>
				{{/each}}
			</ol>
		{{/each}}
	{{else}}
		<ol
			class="List{{if numbered ' List--numbered'}} List--tracks">
			{{#each sortedItems as |item|}}
				<li
					class="List-item"
					data-track-id={{item.id}}>
					{{#if hasBlock}}
						{{yield item}}
					{{else}}
						<a href="{{href-to "channel.tracks.track" item}}">
							{{item.title}}
							<span class="Muted">{{item.body}}</span>
						</a>
					{{/if}}
				</li>
			{{/each}}
		</ol>
	{{/if}}
</div>
