<p>
	<form>
		{{jets-search
				contentTag="#TrackList"
				content=model.tracks
				value=searchQuery
				minlength="3"
				placeholder="Search tracks JetSearch"}}
	</form>
	<!-- {{input
					value=searchQuery
					placeholder="Search tracks JS"}} -->
</p>

<p>
	<div class="BtnGroup BtnGroup--right">
		<button
			class="Btn"
			{{action 'playSelection'}}>
			Play search results
		</button>
	</div>
</p>

{{#if grouped}}
	{{#each groupedSearchedItems as |group|}}
		<h2 class="List-header Muted">{{group.items.firstObject.createdMonth}}</h2>
		<ol
			id="TrackList"
			class="List {{if numbered ' List--numbered'}}">
			{{#each group.items as |item|}}
				<li
					class="List-item">
					{{#if hasBlock}}
						{{yield item}}
					{{else}}
						{{item.title}}
					{{/if}}
				</li>
			{{/each}}
		</ol>
	{{/each}}
{{else}}
	<ol
		id="TrackList"
		class="List{{if numbered ' List--numbered'}}">
		{{#each sortedItems as |item|}}
			<li
				class="List-item"
				data-track-id={{item.id}}>
				{{#if hasBlock}}
					<!-- {{yield item}} -->
					{{item.title}}
					{{item.body}}
				{{else}}
				{{/if}}
			</li>
		{{/each}}
	</ol>
{{/if}}
