{{#if search}}
	<form class="Form" {{action "playSelection" on="submit"}}>
		<div class="Form-group">
			{{jets-search
				contentTag="#TrackList"
				content=model.tracks
				value=searchQuery
				title="Search each track in the list (title and description fields); Usage: `word1 & word2 & ...` will filter tracks that have all words at the same time"
				placeholder="Search tracks"
			}}
			<button type="button"
				class="Form-groupStatus Btn Btn--large"
				disabled={{noSearchQuery}}
				{{action 'clearSearchQuery'}}>x</button>
		</div>
		<div class="Form-group">
			<div class="BtnGroup">
				<button
					class="Btn"
					title="Use all tracks result of a search inside the player"
					type="submit">
					{{#if searchQuery}}
						<i>↳</i> Load track search
					{{else}}
						<i>▶</i> Load all tracks
					{{/if}}
				</button>
			</div>
		</div>
	</form>
{{/if}}

{{#if grouped}}
	{{#each groupedSearchedItems as |group|}}
		<h2 class="List-header Muted">{{group.items.firstObject.createdMonth}}</h2>
		<ol
			id="TrackList"
			class="List {{if numbered ' List--numbered'}}">
			{{#each group.items as |item|}}
				<li
					class="List-item">
					{{#if hasBlock}}
						{{yield item}}
					{{else}}
						{{item.title}}
					{{/if}}
				</li>
			{{/each}}
		</ol>
	{{/each}}
{{else}}
	<ol
		id="TrackList"
		class="List{{if numbered ' List--numbered'}}">
		{{#each sortedItems as |item|}}
			<li
				class="List-item"
				data-track-id={{item.id}}>
				{{#if hasBlock}}
					{{!-- {{yield item}} --}}
					<a href="{{href-to "channel.tracks.track" item}}">
						{{item.title}}
						<span class="Muted">{{item.body}}</span>
					</a>
				{{else}}
				{{/if}}
			</li>
		{{/each}}
	</ol>
{{/if}}
