{{#if search}}
	<div class="Form Form--full">
		<div class="Form-group BtnGroup">
			<label class="Label Label--horizontal">
				<span class="Label-title">
					Search
				</span>
				{{jets-search
						contentTag=".ListGroup > *"
						content=model.tracks
						value=searchQuery
						title="Search each track in the list (title and description fields); Usage: `word1 word2 word3` will filter tracks that have all these words [⌨ shift + s]"
						placeholder='Explore the tracks'
				}}
			</label>

			<button type="button"
				class="Btn"
				disabled={{noSearchQuery}}
				title="Clear search query, fresh start!"
				{{action 'clearSearchQuery'}}
			>x</button>
		</div>
		<div class="Form-group">
			<button
				class="Btn u-nowrap"
				style="min-width: 8em"
				onClick={{playSelection}}
				title="Use all tracks result of a search inside the player">
				{{#if searchQuery}}
					<i>↳</i> Load selection {{!-- load track search --}}
				{{else}}
					<i>▶</i> Play {{!-- load all tracks --}}
				{{/if}}
			</button>
		</div>
	</div>
{{/if}}

{{#unless grouped}}
	<div class="List {{if numbered ' List--numbered'}}">
		{{#each sortedItems as |item|}}
			<article class="List-item" data-track-id={{item.id}}>
				{{#if hasBlock}}
					{{yield item}}
				{{else}}
					{{track-item track=item}}
				{{/if}}
			</article>
		{{/each}}
	</div>
{{else}}
	{{#each groupedItems as |group|}}
		<div class="ListGroup">
			<h4 class="List-header">{{group.items.firstObject.createdMonth}}</h4>
			<div class="List {{if numbered ' List--numbered'}}">
				{{#each group.items as |item|}}
					<article class="List-item" data-track-id={{item.id}}>
						{{track-item
							track=item
							playSelection=playSelection
						}}
					</article>
				{{/each}}
			</div>
		</div>
	{{/each}}
{{/unless}}
