{{#if player.isPlaying}}
	<button class="Btn Btn-play Btn-play--round" {{action 'pause' target="player"}} title="Start playback from the newest track">
		{{x-icon i="pause"}}
	</button>
{{else}}
	<button class="Btn Btn-play Btn-play--round" {{action 'play' value=model.tracks.lastObject target="player"}} title="Start playback from the newest track">
		{{x-icon i="play"}}
	</button>
{{/if}}

{{yield}}
