<header>
	<h1>{{#link-to "index"}}Much Play{{/link-to}}</h1>
	<nav>
		{{#link-to "playlists.new"}}New Playlist{{/link-to}}
	</nav>
</header>

{{#if isLoggedIn}}
	<p>Hej {{currentUser.displayName}}. <button {{action 'logout'}}>Log out</button></p>
{{else}}
	<p>Please log in: <button {{action 'login'}}>Log in</button></p>
{{/if}}

<hr>

<main>
	{{outlet}}
</main>
