<header>
	<h1>{{#link-to "index"}}Much Play{{/link-to}}</h1>

	{{#if authController.isLoggedIn}}
		<h3>{{authController.currentUser.displayName}}</h3>
		<p>
			{{#link-to "playlists.new"}}<button>Create your playlist</button>{{/link-to}}
			<button {{action 'logout'}}>Log out</button>
		</p>
	{{else}}
		<h3>Create your own collection of music</h3>
		<p>Get started with either Google or Facebook (We don't need anything but your name).</p>
		<p>
			<button {{action 'login' 'google'}}>Start with Google</button>
			<button {{action 'login' 'facebook'}}>Start with Facebook</button>
		</p>
	{{/if}}
</header>

<hr>

<main>
	{{outlet}}
</main>
