<header>
	<h1>{{#link-to "index"}}Much Play{{/link-to}}</h1>
	<nav>
		{{#link-to "playlists.new"}}New Playlist{{/link-to}}
	</nav>
</header>

<p>Hej {{authController.currentUser.displayName}}.</p>

{{#if authController.isLoggedIn}}
	 <button {{action 'logout'}}>Log out</button>
{{else}}
	<button {{action 'login'}}>Log in</button>
{{/if}}

<hr>

<main>
	{{outlet}}
</main>
