<div class="Article Home">

	<h1>Muchplay</h1>
	<p class="Manchet">The perfect way to curate, play and share your own collection of YouTube and Soundcloud tracks.</p>

	<form>
		{{#if auth.authed}}
			<h3>Hej! You are logged in!</h3>
			<p>Your id is {{auth.user.id}} and your name is {{auth.user.name}}</p>

			<p>{{#link-to "playlists"}}<button class="Btn--primary">Your collection</button>{{/link-to}}</p>
			<p>{{#link-to "playlists.new"}}<button class="Btn--primary">Create your own collection</button>{{/link-to}}</p>

		{{else}}
			<h3>Please login</h3>
			<button {{ action 'login' 'google' this}}>Login with Google</button>
			<button {{ action 'login' 'facebook' this}}>Login with Facebook</button>
		{{/if}}
	</form>

	<p class="Home-meta">
		{{#link-to 'about'}}About{{/link-to}}
		{{#if auth.authed}}
			 • <a href="#" {{action 'logout' this}}>Log out</a></p>
		{{/if}}
</div>
