<div class="Article Home">
	<h1>Muchplay</h1>
	<p class="Manchet">The perfect way to curate, play and share your own collection of YouTube and Soundcloud tracks.</p>

	{{#if authController.isLoggedIn}}
		{{#if authController.currentUserModel.hasPlaylist}}
			<p>{{#link-to "playlists"}}<button class="Btn--primary Btn--large">Your collection</button>{{/link-to}}</p>
		{{else}}
			<p>{{#link-to "playlists.new"}}<button class="Btn--primary Btn--large">Create your own collection</button>{{/link-to}}</p>
		{{/if}}

		{{!-- <p><button class="Home-logoutButton Btn Btn--text" {{action 'logout'}}>Log out</button></p> --}}
	{{/if}}

	{{#unless authController.isLoggedIn}}
		{{!-- <p>Get a collection by and sign-in with either Facebook or Google to get your own collection.</p> --}}
		<p>
			<button {{action 'login' 'google'}} class="Btn--primary Btn--large">Start with Google</button>
			<button {{action 'login' 'facebook'}} class="Btn--primary Btn--large">Start with with Facebook</button>
		</p>
	{{/unless}}

	<p class="Home-meta">{{#link-to 'about'}}About{{/link-to}} • <a href="#" {{action 'logout'}}>Log out</a></p>
</div>


