<section class="Playlist">

	{{!-- {{fire-playlist
		playlist=model
		authController=authController
		isExpanded=true
		isSingle=true
		onPublishTrack="publishTrack"}} --}}

	<div class="PlaylistHeader">
		<div class="Inner">

			{{#link-to 'playlist' this}}
				<img class="PlaylistAvatar" src="https://i1.sndcdn.com/avatars-000069254848-ak10xz-t200x200.jpg?30a2558">
			{{/link-to}}

			{{#unless isEditing}}
				<div class="PlaylistFacts">
					<h1 class="PlaylistTitle">{{title}}</h1>
					<p class="PlaylistDescription">{{body}}</p>
					{{#if authController.isLoggedIn}}
					{{!-- @todo should only be for the author --}}
						<p><button class="Btn--edit" {{action 'editPlaylist'}}>Edit playlist</button></p>
					{{/if}}
				</div>
			{{/unless}}

			{{#if authController.isLoggedIn}}
				{{#if isEditing}}
					<form class="Form">
						{{input value=title placeholder="Title"}}
						{{input value=slug placeholder="Slug"}}
						{{textarea value=body placeholder="Description"}}
						<button {{action "saveEditing"}}>Save playlist</button> <button class="Btn--text" {{action 'cancelEditing'}}>Cancel</button>
					</form>
				{{/if}}

				<div class="AddTrack Form">
					{{#if isAdding}}
						{{input value=trackUrl autofocus='autofocus' placeholder="YouTube or Soundcloud url"}}<br>
						{{input value=trackTitle placeholder="Title"}}<br>
						{{textarea value=trackBody placeholder="Optional description"}}<br>
						<button {{action "publishTrack"}}>Add track</button> <button class="Btn--text" {{action 'cancelTrack'}}>Cancel</button>
					{{else}}
						<button class="Btn--textInput" {{action 'addTrack'}}>Add a track…</button>
					{{/if}}
				</div>
			{{/if}}
		</div>
	</div>

	<div class="PlaylistBody">
		<div class="Inner">

			<div class="Tracks">
				{{#if tracks}}
					<h2>Tracks</h2>
				{{else}}
					<h2>No tracks yet.</h2>
				{{/if}}

				{{#each track in tracks}}
					{{x-track
						track=track
						playlist=model
						authController=authController
						onPublishTrack="publishTrack"}}
				{{/each}}
			</div>
		</div>
	</div>

	{{outlet}}
</section>
