<p>{{#link-to 'playlists'}}&larr; playlists{{/link-to}}</p>

<article class="Playlist">
	<div class="Playlist-header">
		<div class="Inner">

			<div class="Playlist-info">

				{{#link-to 'playlist' this}}
					{{#if image}}
						<img class="Playlist-avatar" {{bind-attr src=image}}>
					{{/if}}
				{{/link-to}}

				<h1 class="Playlist-title">{{title}}</h1>
				<p class="Playlist-description">
					{{body}}
				</p>

				{{#if canEdit}}
					{{#if isEditing}}
						<form class="Form" {{action "save" on="submit"}}>
							{{input value=title placeholder="Title" autofocus='autofocus'}}
							{{!-- {{input value=slug placeholder="Slug"}} --}}
							{{!-- {{textarea value=image placeholder="Image URL"}} --}}
							{{textarea value=body placeholder="Description"}}
							<button class="Btn Btn--primary" type="submit">Save playlist</button> <button class="Btn Btn--text" {{action 'cancel'}}>Cancel</button>
						</form>
					{{else}}
						<p><button class="Btn Btn--edit" {{action 'edit'}}>Edit playlist</button></p>
					{{/if}}
				{{/if}}

			</div>
		</div>
	</div>

	<div class="Playlist-body">
		<div class="Inner">
			{{render 'tracks' tracks}}
			{{outlet}}
		</div>
	</div>
</article>
