<div {{bind-attr class=':Playback model:is-active'}}>
	<div class="Inner">

		<div {{bind-attr class=':Player isMinimized model.provider'}}>

			{{!-- <div id="ytplayer"></div> --}}

			{{!-- <iframe width="420" height="315" src="//www.youtube.com/embed/voIprW-gxXk" frameborder="0" allowfullscreen></iframe>

			<iframe id="YouTubePlayer" width="100%" height="166" frameborder="0"
				{{bind-attr src="model.url"}}></iframe> --}}

			{{!-- <iframe id="SoundcloudPlayer" width="100%" height="166" frameborder="0"
				{{bind-attr src="model.url"}}></iframe> --}}
		</div>

		<div class="Controls">
			{{#if model}}

				<span class="Playback-title">{{model.title}}</span>

				<div class="Controls-buttons">
					{{#if isPlaying}}
						<button class="PlayerBtn PlayerBtn-pause" {{action 'pause'}}ll</button>
					{{else}}
						<button class="PlayerBtn PlayerBtn-play" {{action 'play'}}>►</button>
					{{/if}}
					{{!-- <button {{action 'togglePlayer'}}>
						{{#if isMinimized}}Show{{else}}Hide{{/if}}
					</button> --}}
				</div>

			{{else}}
				<button class="PlayerBtn PlayerBtn-play PlayerBtn-play--innactive" {{action 'play'}}>►</button>
			{{/if}}
		</div>
	</div>
</div>
