<article class="Playlist">

	<div class="Playlist-header">
		<div class="Inner">

			<div class="Playlist-info">
				{{#link-to 'playlist' this}}
					<img class="Playlist-avatar" src="https://i1.sndcdn.com/avatars-000069254848-ak10xz-t200x200.jpg?30a2558">
				{{/link-to}}

				<h1 class="Playlist-title">{{title}}</h1>
				<p class="Playlist-description">
					{{body}}
					{{#if isOwner}}<br>Is owner{{else}}<br>is not owner{{/if}}
				</p>

				{{#unless isEditing}}
					{{#if authController.isLoggedIn}}
						<p><button class="Btn--edit" {{action 'editPlaylist'}}>Edit playlist</button></p>
					{{/if}}
				{{/unless}}
			</div>

			{{#if authController.isLoggedIn}}
				{{#if isEditing}}
					<form class="Form" {{action "saveEditing" on="submit"}}>
						{{input value=title placeholder="Title" autofocus='autofocus'}}
						{{input value=slug placeholder="Slug"}}
						{{textarea value=body placeholder="Description"}}
						<button type="submit">Save playlist</button> <button class="Btn--text" {{action 'cancelEditing'}}>Cancel</button>
					</form>
				{{/if}}
			{{/if}}
		</div>
	</div>

	<div class="Playlist-body">
		<div class="Inner">
			{{outlet}}
		</div>
	</div>
</article>
