<section class="Tracks">
	<form class="Form AddTrack" {{action "publishTrack" on='submit'}}>
		{{#if isAdding}}
			{{input value=trackUrl autofocus='autofocus' placeholder="YouTube or Soundcloud url"}}<br>
			{{input value=trackTitle placeholder="Title"}}<br>
			{{textarea value=trackBody placeholder="Optional description"}}<br>
			<button type='submit'>Add track</button> <button class="Btn--text" {{action 'cancelTrack'}}>Cancel</button>
		{{else}}
			<button class="Btn--textInput" {{action 'addTrack'}}>Add a track…</button>
		{{/if}}
	</form>

	<ul class="List">
		{{#each track in model}}
			<li>{{x-track
					track=track
					playlist=model
					authController=controllers.auth
					onPublishTrack="publishTrack"}}
			</li>
		{{/each}}
	</ul>

	{{outlet}}

</section>
