<div class="PlaylistBody">
	<div class="Inner">

		<div class="Tracks">
			{{#if tracks}}{{else}}<h2>No tracks yet.</h2>{{/if}}

			{{#each track in tracks}}
				<article class="Track">
					{{#link-to 'track' track}}
						<p class="Track-name" {{bind-attr href=track.url}}>{{track.title}}</p>
						<p class="Track-description">{{track.body}}</p>
					{{/link-to}}
				</article>
			{{/each}}

			{{outlet}}
		</div>
	</div>
</div>
