<section class="Tracks">

	{{#if canEdit}}
	<form class="Form AddTrack" {{action "publishTrack" on='submit'}}>
		{{#if isAdding}}
			{{input value=trackUrl autofocus='autofocus' placeholder="YouTube or Soundcloud url"}}<br>
			{{input value=trackTitle placeholder="Title"}}<br>
			{{textarea value=trackBody placeholder="Optional description"}}<br>
			<button class="Btn Btn--primary" type='submit'>Add track</button> <button class="Btn Btn--text" {{action 'cancel'}}>Cancel</button>
		{{else}}
			<button class="Btn Btn--textInput" {{action 'addTrack'}}>Add a track…</button>
		{{/if}}
	</form>
	{{/if}}

	<ul class="List">
		{{#unless model}}
			<li><a href="#">Loading tracks</a></li>
		{{/unless}}
		{{#each track in model}}
			<li>{{x-track
					auth=auth
					track=track
					playlist=controllers.playlist.model
					onPublishTrack="publishTrack"}}
			</li>
		{{/each}}
	</ul>

	{{outlet}}

</section>
