{{#each providerData as |provider|}}
	<article class="ProviderAccount">
		{{!-- <div class="ProviderAccount-media">
			{{#if provider.photoURL}}
				<img class="ProviderAccount-image" alt="Image for {{provider.displayName}} {{provider.providerId}} account" src="{{provider.photoURL}}">
			{{/if}}
		</div> --}}
		<div class="ProviderAccount-body">
			<p>
				{{if (eq provider.providerId "password") "Email" provider.providerId}}<br>

				<span class="Muted">
					{{#if (eq provider.providerId "password")}}
						{{#unless emailVerified}}
							<a href="#" {{action verifyEmail}}>Please verify</a>
						{{/unless}}
						{{provider.email}}
					{{else}}
						{{provider.displayName}}
					{{/if}}
				</span>
			</p>
		</div>

		{{#unless onlyOneAccount}}
		<button class="Btn"
			{{action unlink provider.providerId}}
			disabled={{onlyOneAccount}}
			title="Remove this account (this will NEVER delete your radio)">
				Remove
			</button>
		{{/unless}}
	</article>
{{/each}}

{{yield}}
