<header class="Manchet">
	<h1>Buttons<small> — styleguide</small></h1>
</header>

<div class="Container">
	<h2>Normal buttons</h2>
	<button class="Btn Btn--small">Small button</button><br>
	<button class="Btn">Normal button</button><br>
	<button class="Btn Btn--full">Normal, full button</button><br>
	<button class="Btn Btn--large">Large button</button><br>
	<button class="Btn Btn--huge">Huge button</button><br>
	<hr>
	<h2>Button variants</h2>
	<button class="Btn">Button</button><br>
	<button class="Btn Btn--primary">Primary button</button><br>
	<button class="Btn Btn--important">Important button</button><br>
	<button class="Btn Btn--danger">Danger button</button><br>
	<hr>
	<h2>Less important buttons</h2>
	<button class="Btn Btn--text">Text button</button><br>
	<button class="Btn Btn--transparent">Transparent button</button><br>
	<button class="Btn NonBtn">Btn + NonBtn</button><br>
	<button class="NonBtn">NonBtn</button>
	<hr>
	<h2>Buttons with icons</h2>
	<button class="Btn">{{x-icon i="play"}} Button</button><br>
	<button class="Btn Btn--primary">{{x-icon i="play"}} Primary button</button><br>
	<button class="Btn Btn--danger">{{x-icon i="play"}} Danger button</button><br>
	<button class="Btn Btn--small">{{x-icon i="play"}} Small button</button><br>
	<button class="Btn Btn--large">{{x-icon i="play"}} Large button</button><br>
	<button class="Btn Btn--huge">{{x-icon i="play"}} Huge button</button><br>
	<button class="Btn Btn--full">{{x-icon i="play"}} Full button</button><br>
	<button class="Btn Btn--text">{{x-icon i="play"}} Text button</button><br>
	<button class="Btn NonBtn">{{x-icon i="play"}} Btn + NonBtn</button><br>
	<button class="NonBtn">{{x-icon i="play"}} NonBtn</button><br>
	<button class="Btn Btn--large">{{x-icon i="play"}} Large button</button><br>
	<button class="Btn Btn--primary Btn--large">{{x-icon i="play"}} Primary and large</button>
	<hr>
	<h2>Button groups</h2>
	{{#btn-group}}
		<button class="Btn">Sir</button>
		<button class="Btn">Alex</button>
		<button class="Btn is-active">Active Button</button>
		<button class="Btn">Ferguson</button>
	{{/btn-group}}
	<hr>
	<h2>A group of button groups</h2>
	<div class="BtnGroupWrapper">
		{{#btn-group}}
			<button class="Btn">Cheese</button>
			<button class="Btn">And</button>
			<button class="Btn">Bread</button>
		{{/btn-group}}
		{{#btn-group}}
			<button class="Btn">Another</button>
			<button class="Btn">Button</button>
			<button class="Btn">Group</button>
			<button class="Btn">With</button>
			<button class="Btn">Tuna</button>
		{{/btn-group}}
	</div>
	<hr>
	<h2>A full group of button groups</h2>
	<div class="BtnGroupWrapper BtnGroupWrapper--full">
		{{#btn-group}}
			<button class="Btn">Cheese</button>
			<button class="Btn">And</button>
			<button class="Btn">Bread</button>
		{{/btn-group}}
		{{#btn-group}}
			<button class="Btn">Another</button>
			<button class="Btn">Button</button>
			<button class="Btn">Group</button>
			<button class="Btn">With</button>
			<button class="Btn">Tuna</button>
		{{/btn-group}}
	</div>
</div>
