{{#if tags}}
	<p>filter: {{filter}}</p>
	<div class="Container Section--space">
		<div class="CustomSelect">
			<select onchange={{action "setTag" value="target.value"}}>
				{{#each tags as |tag|}}
					<option value={{tag}}>{{tag}}</option>
				{{/each}}
			</select>
		</div>
	</div>
{{/if}}

<ul class="List">
	{{#each filtered as |track|}}
		<li class="List-item">{{track.title}}</li>
	{{/each}}
</ul>
