<section class="Section">
	<div class="Container">
		{{#if model.tracks.isLoaded}}
			{{#tracks-list
					 keyboardActivated=true
					 items=model.tracks
					 grouped=true
					 search=true
					 searchQuery=search
					 playSelection=(action "playSelection")
					 as |item|
			}}
				{{track-item track=item}}
			{{/tracks-list}}

		{{else}}
			{{#is-loading}}
				Loading all tracks…
			{{/is-loading}}
		{{/if}}

		{{outlet}}
	</div>
</section>

<section class="Section">
	{{#unless model.tracks.length}}
		<p class="u-tc">
			{{#if model.channel.canEdit}}
				{{link-to 'Add a first track' 'add'}} to your radio
			{{else}}
				This radio has no tracks yet.
			{{/if}}
		</p>
	{{/unless}}
</section>
