{{#if isEditing}}
	{{#modal-dialog close="closeModals"}}
		{{track-edit
				track=trackToEdit
				onSubmit=(action "updateTrack")
				onCancel=(action "closeModals")
				onDeleteTrack=(action "deleteTrack")}}
	{{/modal-dialog}}
{{/if}}

<div class="Container Container--full Grid">
	<div class="Grid-cell Grid-cell--triple">
		{{#if tracks.isLoaded}}
			{{#tracks-list items=tracks grouped=true numbered=false as |item|}}
				{{track-item
						track=item
						canEdit=model.canEdit
						edit=(action "startEditingTrack")
						onTransition="transitionToTrack"}}
			{{/tracks-list}}

			{{#unless canEdit}}
				{{#unless tracks.length}}
					<span><p>Ooh, there are no tracks in this radio yet.</p></span>
				{{/unless}}
			{{/unless}}
		{{else}}
			{{is-loading}}
		{{/if}}
	</div>

	{{outlet}}

</div>
