<section class="Section">
	<div class="Container">
		{{#if model.tracks.isLoaded}}
			{{#tracks-list
				keyboardActivated=true
				items=model.tracks
				grouped=true
				search=true
				searchQuery=search
				playSelection=(action "playSelection")
				as |item|
			}}
				{{track-item track=item}}
			{{/tracks-list}}

			{{#unless model.tracks.length}}
				<p class="Muted">
					{{#if model.channel.canEdit}}
						Your radio has no tracks yet. Try to {{link-to 'add your first' 'add'}}.
					{{else}}
						This radio has no tracks yet.
					{{/if}}
				</p>
			{{/unless}}
		{{else}}
			{{#is-loading}}
				Loading all tracks…
			{{/is-loading}}
		{{/if}}

		{{outlet}}
	</div>
</section>
