{{#if model.channelPublic.followers}}

	<section class="Section">
		<div class="Container Container--full">
			{{#list-manipulation list=model.channelPublic.followers as |manipulatedList updateSorting|}}
				{{#btn-group class="BtnGroup--right"}}
					<span class="BtnGroup-label">Filter radio channels by</span>
					{{btn-list-manipulation text="Activity"
						onClick=(action updateSorting "updated")}}
					{{btn-list-manipulation text="Age"
						onClick=(action updateSorting "created" true)}}
					{{btn-list-manipulation text="A-Z"
						onClick=(action updateSorting "title" true)}}
				{{/btn-group}}

				{{#if model.channelPublic.followers}}
					<div class="Grid {{if isList 'Grid--wide'}}">
						{{#each manipulatedList as |item|}}
							<div class="Grid-cell">
								{{channel-card channel=item wide=isList}}
							</div>
						{{/each}}
					</div>
			{{else}}
					<p>Tuning radios…</p>
					{{is-loading}}
				{{/if}}
			{{/list-manipulation}}
		</div>
	</section>

{{else}}
	<section class="Section">
		<div class="Container">
			<p class="Muted">
				There are no followers yet.
			</p>
		</div>
	</section>
{{/if}}
