{{#if model.channelPublic.followers}}

	<section class="Section">
		<div class="Container Container--full">
			{{#list-manipulation list=model.channelPublic.followers as |manipulatedList updateSorting|}}
				<div class="Filters">
					{{#btn-group class="Filter BtnGroup--right"}}
						<span class="BtnGroup-label">Filter radio channels by</span>
						{{btn-list-manipulation text="Activity"
								onClick=(action updateSorting "updated")}}
						{{btn-list-manipulation text="Age"
								onClick=(action updateSorting "created" true)}}
						{{btn-list-manipulation text="A-Z"
								onClick=(action updateSorting "title" true)}}
					{{/btn-group}}
				</div>

				{{#if model.channelPublic.followers}}
					<div class="Grid {{if isList 'Grid--wide'}}">
						{{#each manipulatedList as |item|}}
							<div class="Grid-cell">
								{{channel-card channel=item wide=isList}}
							</div>
						{{/each}}
					</div>
			{{else}}
					<p>Tuning radios…</p>
					{{is-loading}}
				{{/if}}
			{{/list-manipulation}}
		</div>
	</section>

	{{else}}
	<section class="Section">
		<div class="Container Grid">
			<div class="Grid-cell Grid-cell--triple">
				<p>
					Use the following link to share or access your Radio4000 when out of the house:
				</p>
				{{channel-sharer-url channel=model}}
			</div>
			<div class="Grid-cell Grid-cell--triple">
				{{#unless model.isExperienced}}
					<p class="Muted">
						You can customize the link by {{link-to 'updating your channel URL' 'channel.edit' class="Muted"}}.
					</p>
				{{/unless}}
				<p class="Muted">
					There are no followers yet.
				</p>
			</div>
		</div>
	</section>
{{/if}}
