{{#if model.channelPublic.followers}}

	<section class="Section">
		<div class="Container Container--full">
			{{#list-manipulation
					 list=model.channelPublic.followers
					 sortKey=sortKey
					 sortDirection=sortDirection
					 as |manipulatedList|}}
				<div class="BtnGroups BtnGroups--center">
					{{#btn-group}}
						<span class="BtnGroup-label">Sort radio channels by</span>
						{{link-to
								"Activity"
								"channel.followers"
								(query-params sort="updated")
								class='Btn'
								title="Sort by activity, last updated date"}}
						{{link-to
								"Age"
								"channel.followers"
								(query-params sort="created")
								class='Btn'
								title="Sort by age, created date"}}
						{{link-to
								"A-Z"
								"channel.followers"
								(query-params sort="title")
								class='Btn'
								title="Sort by alphabetic order of titles"}}
					{{/btn-group}}

					{{#btn-group}}
						{{link-to
								"↑"
								"channel.followers"
								(query-params sortDirection="asc")
								class='Btn'
								title="Sort direction: ascending"}}
						{{link-to
								"↓"
								"channel.followers"
								(query-params sortDirection="desc")
								class='Btn'
								title="Sort direction: descending"}}
					{{/btn-group}}
				</div>

				{{#if model.channelPublic.followers}}
					<div class="Grid">
						{{#each manipulatedList as |item|}}
							<div class="Grid-cell">
								{{channel-card channel=item}}
							</div>
						{{/each}}
					</div>
			{{else}}
					<p>Tuning radios…</p>
					{{is-loading}}
				{{/if}}
			{{/list-manipulation}}
		</div>
	</section>

{{else}}
	<section class="Section">
		<div class="Container">
			<p class="u-tc">
				Copy and share this URL address to friends, familly and beyond for your first listeners!
			</p>
			{{channel-sharer-url
					slug=model.slug
					autoSelect=true}}
			<p class="Muted">
				You can edit your radio's URL address in your {{link-to 'channel\'s settings' 'settings'}}.
			</p>
		</div>
	</section>
{{/if}}
