{{#if model.channelPublic.followers}}

	<section class="Section">
		<div class="Container Container--full">
			{{#list-manipulation list=model.channelPublic.followers as |manipulatedList updateSorting|}}
				<div class="Filters">
					{{#btn-group class="Filter BtnGroup--right"}}
						<span class="BtnGroup-label">Filter radio channels by</span>
						{{btn-list-manipulation text="Activity"
								onClick=(action updateSorting "updated")}}
						{{btn-list-manipulation text="Age"
								onClick=(action updateSorting "created" true)}}
						{{btn-list-manipulation text="A-Z"
								onClick=(action updateSorting "title" true)}}
					{{/btn-group}}
				</div>

				{{#if model.channelPublic.followers}}
					<div class="Grid {{if isList 'Grid--wide'}}">
						{{#each manipulatedList as |item|}}
							<div class="Grid-cell">
								{{channel-card channel=item wide=isList}}
							</div>
						{{/each}}
					</div>
			{{else}}
					<p>Tuning radios…</p>
					{{is-loading}}
				{{/if}}
			{{/list-manipulation}}
		</div>
	</section>

{{else}}
	<section class="Section">
		<div class="Container">
			<p class="Muted">
				There are no followers yet.
			</p>
		</div>
	</section>
{{/if}}

<section class="Section">
	<div class="Container">
		<h3>Share or embed your radio</h3>
		<p>When you're out of the house, or to insert on your websites, you can use both of the follwing links.</p>
		<p>
			{{#channel-sharer-url
					channel=model
					 autoSelect=true}}
				URL
			{{/channel-sharer-url}}
		</p>
		<p title="Tip: paste this <iframe/> element in the HTML code of any website to embed a player of this radio">
			{{#channel-sharer-url
					 channel=model.channel
					 iframe=true
					 autoSelect=true}}
				Embed
			{{/channel-sharer-url}}
		</p>

		{{#unless session.currentUser.channels.firstObject.isExperienced}}
			<p class="Muted">
				Tip: you can customize these links by {{link-to 'editing your channel URL' 'channel.edit' class="Muted"}}.
			</p>
		{{/unless}}
	</div>
</section>
