{{#link-to 'channels.index' class="Logo"}}
  <h1 title="Radio4000, selecting with love">
    {{!--<img class="Logo-img" src="/assets/images/icons/radio4000.svg" alt="Radio4000" title="Go to the homepage">--}}
		<svg class="Logo-img Logo-img--large" title="Go to the homepage" width="369" height="158" viewBox="0 0 369 158" xmlns="http://www.w3.org/2000/svg"><title>Radio4000</title><g fill="#000" fill-rule="evenodd"><path d="M352.606 44.05c-2.15-18.698-10.6-26.05-24.53-26.05C311.796 18 303 28.045 303 54.513c0 22.92 4.88 33.9 14.097 38.01 2.37 13.442 10.667 20.192 21.873 21.767 15.523 2.18 25.3-5.713 28.964-31.782 3.023-21.513-2.416-34.74-15.328-38.458zm0 0c.363 3.158.547 6.64.547 10.463 0 30.773-8.796 40.02-25.077 40.02-4.154 0-7.82-.6-10.98-2.01-.91-5.176-.944-11.346.075-18.595 3.295-23.443 16.257-32.83 31.78-30.648 1.278.18 2.497.436 3.656.77z"/><path d="M291.52 32.57c-4.616-19.75-14.395-27.276-28.855-26.518-18.844.987-28.31 15.136-26.43 51.01 1.545 29.483 7.413 44.122 17.376 49.822 3.845 7.714 10.166 11.895 17.982 13.133 16.105 2.55 30.037-8.75 35.216-41.445 4.063-25.657-2.777-40.852-15.287-46zm0 0c1.4 5.99 2.326 13.103 2.763 21.45 2.186 41.71-7.337 54.777-26.18 55.765-5.525.29-10.36-.537-14.492-2.9-4.077-8.182-5.37-20.337-2.703-37.167 4.656-29.402 18.685-41.31 34.79-38.76 2.05.324 3.998.862 5.824 1.613z"/><path d="M174.854 123.833c-12.82-7.022-19.6-25.316-19.6-63.045C155.253 16.723 167.756 0 190.903 0c14.59 0 24.952 6.645 30.62 22.593 18.843 5.393 30.827 25.36 28.328 61.1-3.16 45.164-21.627 62.163-45.007 60.528-12.937-.904-23.59-7.248-29.99-20.387zm0 0c4.588 2.514 9.95 3.583 16.05 3.583 23.146 0 35.65-15.396 35.65-66.628 0-16.29-1.708-28.842-5.03-38.195-2.572-.735-5.27-1.2-8.076-1.396-23.38-1.635-41.908 16.206-44.748 56.82-1.41 20.175.986 35.21 6.154 45.816z"/><path d="M74.84 132.078h65.414V157.5h24.15V132.08h15.592v-23.716h-15.593v-83.67h-38.98l-50.582 83.48v23.906zm21-23.385l51.29-43h.497v43H95.84z"/><path d="M0 113.168h21.382V68.255h23.79l30.107 44.913h14.757l-31.09-46.9c20.267-2.36 35.42-12.12 35.42-31.32C94.366 12.76 76.852 3 48.91 3H0v110.168zm11.11-64.61v-25.26h25.85C50.09 23.297 60 26.31 60 35.97c0 9.662-10.85 12.587-22.77 12.587H11.11z"/></g></svg>

		<svg class="Logo-img Logo-img--small" width="180" height="155" viewBox="0 0 180 155" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>r4-small</title><desc>Created using Figma</desc><g id="Canvas" transform="translate(-1094 -235)"><g id="r4-small"><g id="4"><use xlink:href="#path0_fill" transform="translate(1168.84 256.693)"/></g><g id="R"><use xlink:href="#path1_fill" transform="translate(1094 235)"/></g></g></g><defs><path id="path0_fill" fill-rule="evenodd" d="M 0 107.385L 65.4132 107.385L 65.4132 132.808L 89.5629 132.808L 89.5629 107.385L 105.156 107.385L 105.156 83.6693L 89.5629 83.6693L 89.5629 0L 50.5812 0L 0 83.4795L 0 107.385ZM 21 84L 72.288 41L 72.786 41L 72.786 84L 21 84Z"/><path id="path1_fill" fill-rule="evenodd" d="M 0 110.168L 9.38159 110.168L 9.38159 65.2547L 45.1728 65.2547L 75.279 110.168L 90.037 110.168L 58.9469 63.2677C 79.2145 60.9069 94.366 51.1492 94.366 31.9486C 94.366 9.7577 76.8532 0 48.9115 0L 0 0L 0 110.168ZM 9.10962 55.5572L 9.10962 30.297L 41.3425 30.297C 57.7095 30.297 70.0683 33.3105 70.0683 42.9714C 70.0683 52.6323 56.5405 55.5572 41.6766 55.5572L 9.10962 55.5572Z"/></defs></svg>
  </h1>
{{/link-to}}

{{aside-left-toggle}}

<div class="Aside-inner">
	<div class="Tabs Tabs--vertical">
		{{link-to "Radios" "channels" title="Find radio channels to enjoy [⌨ g h]" class="Tabs-item"}}
		{{link-to "About" "about" title="Learn more about Radio4000" class="Tabs-item"}}
	</div>

	{{#if isAuthenticated}}
		<div class="Tabs Tabs--vertical">
			{{#if userChannel}}
				{{channel-card channel=userChannel wide=true title="Your radio [⌨ g i]"}}

				{{#btn-group class="BtnGroup--full BtnGroup--tight"}}
					<button {{action "addTrack"}} class="Btn Btn--important Btn--topNoRadius" title="Add a new track to your radio [⌨ g a]">Add track</button>
				{{/btn-group}}
			{{else}}
				{{#link-to
					 "channels.new"
					 class="Btn Btn--full Btn--important"
					 title="Create your Radio4000 channel"}}
					Create your radio
				{{/link-to}}
			{{/if}}

			{{#link-to "settings" class="Tabs-item" title="Customize your Radio4000"}}
				Settings
			{{/link-to}}
			{{#link-to "auth.logout" class="Tabs-item" title="Log out from Radio4000"}}
				Log out
			{{/link-to}}
		</div>
	{{/if}}

	{{#unless isAuthenticated}}
		{{#link-to
			"auth.signup"
			class="Btn Btn--full Btn--important"
			title="Sign up to create your Radio4000"}}
			Create radio
		{{/link-to}}

		{{#link-to
			"auth.login"
			class="Btn Btn--full"
			title="Log in to Radio4000"}}
			Log in
		{{/link-to}}
	{{/unless}}

	<footer class="SiteFooter">
		<small>
			<a href="https://support.internet4000.com/radio4000" target="_blank" rel="noopener" title="Support with Radio4000">
				Help &rarr;
			</a>
			<br>
			{{#link-to "feedback" title="Let us know what you have in mind! [⌨ g f]"}}
				Send feedback
			{{/link-to}}
			<br>
			<button class="NonBtn NonBtn--link" {{action "openShortcutsModal"}}>Keyboard shortcuts</button>
		</small>
	</footer>
</div>
