<div class="Section">
	<form class="Form AddTrack" {{action "addTrack" on='submit'}}>
		{{#if isExpanded}}
			{{input-url value=trackUrl placeholder="YouTube URL" pasted="autoTitle"}}
			{{input value=trackTitle placeholder="Title"}}<br>
			{{textarea value=trackBody placeholder="Optional description"}}<br>
			<button class="Btn Btn--primary" type='submit'>Add track</button> <button class="Btn Btn--text" {{action 'close'}}>Cancel</button>
		{{else}}
			<button class="Btn Btn--textInput" {{action 'expand'}}>Add a track…</button>
		{{/if}}
	</form>
</div>
