{{isActive}}
{{#if isShuffled}}

	{{x-icon i='shuffle'}}{{x-icon i='next'}}{{if expanded ' Shuffle'}}
{{else}}
	{{#if nothingToPlay}}
		Sorry, this radio is empty for now…
	{{else}}
		{{x-icon i='play'}}{{if expanded ' Play'}}
	{{/if}}
{{/if}}
{{#if isLoading}}<span>Loading…</span>{{/if}}
{{yield}}
