<section class="Section">
	<div class="Container">
		{{channel-header channel=model}}

		{{#if model.canEdit}}
			<form class="Form">
				{{track-add-inline onSubmit=(action "addTrack")}}
			</form>
			{{#unless model.isExperienced}}
				{{page-welcome channel=model}}
			{{/unless}}
		{{/if}}

		<br>
		<h3>
			Latest tracks
			<small>({{link-to "see all" "channel.tracks"}})</small>
		</h3>

		{{#tracks-list items=latestTracks as |item|}}
			{{track-item track=item}}
		{{/tracks-list}}

		<p>{{link-to "See all tracks" "channel.tracks"}}</p>
	</div>
</section>
{{outlet}}
