<div class="Container Container--full">
	<div class="Grid">
		<article class=">Grid-cell Grid-cell--triple">
			{{channel-header channel=model}}
		</article>
	</div>

	<!-- <div class="Grid">
			 <article class="Grid-cell">
			 {{channel-card channel=model}}
			 </article>
			 <article class="Grid-cell Grid-cell--double">
			 {{channel-header
			 channel=model
			 canEdit=canEdit
			 toggleFavorite=toggleFavorite
			 isIdle=toggleFavorite.isIdle}}
			 </article>
			 {{#if canEdit}}
			 {{#unless isWelcomed}}
			 <article class="Grid-cell Grid-cell--double">
			 <div class="Channel-introduction">
			 {{page-welcome channel=model}}
			 </div>
			 </article>
			 {{/unless}}
			 {{/if}}
			 </div> -->
</div>

{{outlet}}
