<section class="Section">
	<div class="Container">
		{{channel-header channel=model.channel}}
	</div>
</section>

<section class="Section">
	{{#if model.channel.totalTracks}}
		<div class="Container">
			<h3>
				Latest tracks
				<small>({{link-to "see all" "channel.tracks"}})</small>
			</h3>

			{{#if model.channel.canEdit}}
				<form class="Form">
					{{track-add-inline onSubmit=(action "addTrack")}}
				</form>
			{{/if}}

			{{#if model.latestTracks}}
				{{#tracks-list items=model.latestTracks as |item|}}
					{{track-item track=item inline=true}}
				{{/tracks-list}}
			{{else}}
				{{#is-loading}}
					Loading latest tracks
				{{/is-loading}}
			{{/if}}
		</div>
	{{/if}}
</section>

{{#if showWelcome}}
	<section class="Section">
		<div class="Container">
			{{page-welcome channel=model.channel}}
		</div>
	</section>
{{/if}}


<section class="Section">
	<div class="Container">
		{{#unless session.currentUser.channels.firstObject.isExperienced}}
			<h3>Share or embed this radio <small></small></h3>
			<p>When you're out of the house, or to insert on your websites, you can use both of the follwing links.</p>
		{{/unless}}
		<p>
			{{#channel-sharer-url
				channel=model.channel
				autoSelect=true}}
				URL
				{{#if model.canEdit}}
					<small>({{link-to 'edit' 'channel.edit'}})</small>
				{{/if}}
			{{/channel-sharer-url}}
		</p>
		<p title="Tip: paste this <iframe/> element in the HTML code of any website to embed a player of this radio">
			{{#channel-sharer-url
				 channel=model.channel
				 iframe=true
				 autoSelect=true}}
				Embed
			{{/channel-sharer-url}}
		</p>
	</div>
</section>

{{outlet}}
