<div class="Container Container--full">
	<div class="Grid">
		<article class="Grid-cell">
			{{channel-cover src=model.coverImage.src}}
		</article>
		<article class="Grid-cell Grid-cell--double">
			<p>@{{model.slug}}</p>

			{{#if model.body}}
				<p class="Channel-description">{{model.body}}</p>
			{{/if}}

			{{#if model.updated}}
				<time class="Channel-date" title="{{model.title}} added music {{time-ago model.updated}}">Updated {{time-ago model.updated}}</time>
			{{/if}}

			{{#if model.link}}
				<p class="Channel-links">
					<a href="{{model.link}}" target="_blank" title="Go to {{model.title}}'s webpage" rel="noopener">{{model.link}}</a>
				</p>
			{{/if}}
		</article>
	</div>

	<!-- <div class="Grid">
			 <article class="Grid-cell">
			 {{channel-card channel=model}}
			 </article>
			 <article class="Grid-cell Grid-cell--double">
			 {{channel-header
			 channel=model
			 canEdit=canEdit
			 toggleFavorite=toggleFavorite
			 isIdle=toggleFavorite.isIdle}}
			 </article>
			 {{#if canEdit}}
			 {{#unless isWelcomed}}
			 <article class="Grid-cell Grid-cell--double">
			 <div class="Channel-introduction">
			 {{page-welcome channel=model}}
			 </div>
			 </article>
			 {{/unless}}
			 {{/if}}
			 </div> -->
</div>

{{outlet}}
