{{#if canEdit}}
	<div class="Container">
		<form class="Form" {{action 'addTrack' on='submit'}}>
			<div class="Form-group Form-group--relative">
				{{input-paste type="url" value=newTrackUrl placeholder="Paste in a YouTube link to add a track" required="required" pasted="addTrack"}}
				<button type="submit" class="Btn Form-groupStatus" title="Tip: Press enter to add!">Add</button>
			</div>
		</form>
	</div>
{{/if}}

{{#if isShowingModal}}
  {{#modal-dialog close="closeModals"}}
    {{track-edit model=trackToEdit saveTrack="saveTrack" deleteTrack="deleteTrack" cancelEdit="closeModals"}}
  {{/modal-dialog}}
{{/if}}

{{#if sortedModel}}
	<ul class="List">
		{{#each sortedModel as |model|}}
			<li>
				{{track-item track=model canEdit=canEdit edit="editTrack"}}
			</li>
		{{/each}}
	</ul>
{{else}}
	<div class="Container Section--space">
		<p>No tracks yet.{{if canEdit " Why don't you add one above?"}}</p>
	</div>
{{/if}}

{{outlet}}
