<div class="Channel-outlet">
	{{#if canEdit}}
		{{#if hasFewTracks}}
			<div class="Container">
				<p>Why don't you add your first tracks? It's just below.<br>Paste in the URL of a YouTube video!</p>
			</div>
		{{/if}}
		<div class="Container">
			{{track-add-inline addTrackUrl=addTrackUrl onSubmit=(action 'addTrack')}}
		</div>
	{{/if}}

	{{#if isAdding}}
	  {{#modal-dialog close="closeModals"}}
	    {{track-add newUrl=addTrackUrl submit="createNewTrack" cancel="closeModals"}}
	  {{/modal-dialog}}
	{{/if}}

	{{#if isEditing}}
	  {{#modal-dialog close="closeModals"}}
	    {{track-edit track=trackToEdit submit="saveTrack" cancel="closeModals" deleteTrack="deleteTrack"}}
	  {{/modal-dialog}}
	{{/if}}

	{{#if tracks.isLoaded}}
		{{#tracks-list items=tracks as |item|}}
			{{track-item track=item canEdit=canEdit edit=(action "startEditingTrack") onTransition="transitionToTrack"}}
		{{/tracks-list}}

		{{#if canEdit}}
			{{#unless model.coverImage}}
				<div class="Container Section--space">
					<p>Wouldn't it be nicer with an image for your radio? {{#link-to 'channel.edit' model}}Edit your radio to upload one{{/link-to}}.</p>
				</div>
			{{/unless}}
		{{else}}
			{{#unless tracks.length}}
				<div class="Container Section--space">
				  <p>Ooh, there are no tracks in this radio yet.</p>
				</div>
			{{/unless}}
		{{/if}}
	{{else}}
		<div class="Container Section--space">
			{{is-loading}}
		</div>
	{{/if}}

	{{outlet}}
</div>
