<section class="Section">
	<div class="Container">
		{{channel-header channel=model.channel}}
	</div>
</section>

<section class="Section">
	{{#if model.channel.totalTracks}}
		<div class="Container">
			<h3>
				Latest tracks
				<small>({{link-to "see all" "channel.tracks"}})</small>
			</h3>
		</div>
		<div class="Container Container--noPaddingMobile">
			{{#if model.latestTracks}}
				{{#tracks-list items=model.latestTracks as |item|}}
					{{track-item track=item}}
				{{/tracks-list}}
			{{else}}
				{{#is-loading}}
					Loading latest tracks
				{{/is-loading}}
			{{/if}}
		</div>
		<div class="Container">
			<p class="u-textRight">
				{{link-to "See all tracks" "channel.tracks"}}
			</p>
		</div>
	{{/if}}
</section>

{{#if showWelcome}}
	<section class="Section">
		<div class="Container">
			{{page-welcome channel=model.channel}}
		</div>
	</section>
{{/if}}

<section class="Section">
	<div class="Container">
		<details class="Details">
			<summary>
				Embed and share {{if model.channel.canEdit "your" "this"}} radio
			</summary>
			<aside class="Details-body">
				<p>
					{{#channel-sharer-url
							 slug=model.channel.slug
							 autoSelect=true
					}}
						Radio homepage
						{{#if model.channel.canEdit}}
							<small>{{link-to 'edit' 'channel.edit'}}</small>
						{{/if}}
					{{/channel-sharer-url}}
				</p>
				<p title="Tip: paste this <iframe> element in the HTML code of any website to embed a player of this radio">
					{{#channel-sharer-url
							 slug=model.channel.slug
							 showEmbed=true
							 autoSelect=true
					}}
						Embed
					{{/channel-sharer-url}}
				</p>
			</aside>
		</details>
	</div>
</section>

{{outlet}}
