<div class="Channel-outlet">
	{{#if canEdit}}
		<div class="Container">
			{{track-add-inline addTrackUrl=addTrackUrl
				onSubmit=(action "addTrack")}}
		</div>
	{{/if}}

	{{#if isEditing}}
		{{#modal-dialog close="closeModals"}}
			{{track-edit
				track=trackToEdit
				onSubmit=(action "updateTrack")
				onCancel=(action "closeModals")
				onDeleteTrack=(action "deleteTrack")}}
		{{/modal-dialog}}
	{{/if}}

	{{!--
	{{jets-search contentTag=".List" content=tracks}}
	--}}

	{{#unless tracks.isLoaded}}
		<div class="Container Section--space">
			{{is-loading}}
		</div>
	{{else}}
		{{#unless canEdit}}
			{{#unless tracks.length}}
				<div class="Container Section--space">
					<p>Ooh, there are no tracks in this radio yet.</p>
				</div>
			{{/unless}}
		{{/unless}}
	{{/unless}}

	{{#tracks-list items=tracks numbered=false as |item|}}
		{{track-item
			track=item
			canEdit=canEdit
			edit=(action "startEditingTrack")
			onTransition="transitionToTrack"}}
	{{/tracks-list}}

	{{outlet}}
</div>
