<div class="Channel-outlet">
	{{#if canEdit}}
		{{#if hasFewTracks}}
			<div class="Container">
				<p>Why don't you add your first tracks? It's just below — try to paste in the URL of a YouTube video!</p>
			</div>
		{{/if}}
		<div class="Container">
			<form class="Form Form--addTrack" {{action 'addTrack' on='submit'}}>
				<label class="">Add a new track to your radio</label>
				<div class="Form-group Form-group--relative">
					{{input-paste type="url" value=addTrackUrl required="required" pasted="addTrack" placeholder="Paste in a YouTube link to add a track"}}
					<button type="submit" class="Btn Form-groupStatus" title="Tip: Press enter to add!">Add</button>
				</div>
			</form>
		</div>
	{{/if}}

	{{#if isAdding}}
	  {{#modal-dialog close="closeModals"}}
	    {{track-add url=addTrackUrl submit="saveNewTrack" cancel="closeModals"}}
	  {{/modal-dialog}}
	{{/if}}

	{{#if isEditing}}
	  {{#modal-dialog close="closeModals"}}
	    {{track-edit track=trackToEdit submit="updateTrack" deleteTrack="deleteTrack" cancel="closeModals"}}
	  {{/modal-dialog}}
	{{/if}}

	{{#if tracks.isLoaded}}
		{{#tracks-list items=tracks as |item|}}
			{{track-item track=item canEdit=canEdit edit=(action "startEditing") onTransition="transitionToTrack"}}
		{{/tracks-list}}

		{{#if canEdit}}
			{{#unless model.coverImage}}
				<div class="Container Section--space">
					<p>Wouldn't it be nicer with an image for your radio? {{#link-to 'channel.edit' model}}Edit your radio to upload one{{/link-to}}.</p>
				</div>
			{{/unless}}
		{{else}}
			{{#unless tracks.length}}
				<div class="Container Section--space">
				  <p>Ooh, there are no tracks in this radio yet.</p>
				</div>
			{{/unless}}
		{{/if}}
	{{else}}
		<div class="Container Section--space">
			{{is-loading}}
		</div>
	{{/if}}

	{{outlet}}
</div>
