<section class="Section">
	<div class="Container">
		{{channel-header channel=model}}

		{{#if model.canEdit}}
			<form class="Form">
				{{track-add-inline onSubmit=(action "addTrack")}}
			</form>
			<br>
		{{/if}}
	</div>
</section>

<section class="Section">
	{{#if model.totalTracks}}
		<div class="Container">
			<h3>
				Latest tracks
				<small>({{link-to "see all" "channel.tracks"}})</small>
			</h3>
			{{#if latestTracks}}
				{{#tracks-list items=latestTracks as |item|}}
					{{track-item track=item}}
				{{/tracks-list}}
			{{else}}
				{{#is-loading}}
					Loading latest tracks
				{{/is-loading}}
			{{/if}}
		</div>
	{{/if}}
</section>

{{#if showWelcome}}
	<section class="Section">
		<div class="Container">
			{{page-welcome channel=model}}
		</div>
	</section>
{{/if}}

<section class="Section">
	<div class="Container">
		<h3>
			Share radio
		</h3>
		<p>Use the following links to share or embed this radio on any website.</p>
		<p>
			{{#channel-sharer-url
					 channel=model
					 autoSelect=true}}
				URL
			{{/channel-sharer-url}}
		</p>
		<p>
			{{#channel-sharer-url
					 channel=model
					 iframe=true
					 autoSelect=true}}
				Iframe <small>(embed)</small>
			{{/channel-sharer-url}}
		</p>
	</div>
</section>
{{#if model.canEdit}}
{{/if}}

{{outlet}}
