<div class="Container Container--full">
	<div class="Grid">
		<article class=">Grid-cell Grid-cell--triple">
			{{channel-header channel=model}}
		</article>
		{{#if canEdit}}
			<div class="Grid-cell Grid-cell--double">
				{{track-add-inline addTrackUrl=addTrackUrl
						onSubmit=(action "addTrack")}}

				{{#if isEditing}}
					{{#modal-dialog close="closeModals"}}
						{{track-edit
								track=trackToEdit
								onSubmit=(action "updateTrack")
								onCancel=(action "closeModals")
								onDeleteTrack=(action "deleteTrack")}}
					{{/modal-dialog}}
				{{/if}}
			</div>
		{{/if}}
	</div>

	<!-- <div class="Grid">
			 <article class="Grid-cell">
			 {{channel-card channel=model}}
			 </article>
			 <article class="Grid-cell Grid-cell--double">
			 {{channel-header
			 channel=model
			 canEdit=canEdit
			 toggleFavorite=toggleFavorite
			 isIdle=toggleFavorite.isIdle}}
			 </article>
			 {{#if canEdit}}
			 {{#unless isWelcomed}}
			 <article class="Grid-cell Grid-cell--double">
			 <div class="Channel-introduction">
			 {{page-welcome channel=model}}
			 </div>
			 </article>
			 {{/unless}}
			 {{/if}}
			 </div> -->
</div>

{{outlet}}
