<a href={{href-to "channel" channel}} title={{concat channel.title " " channel.body}}>
	{{channel-cover src=channel.image}}

	<h3 class="ChannelCard-title">
		{{channel.title}}
	</h3>
</a>

<p class="ChannelCard-body">
	{{!-- {{channel.body}} --}}
	{{!-- {{do-truncate channel.body}} --}}
	{{link-hashtags (do-truncate channel.body) channel.slug}}
</p>

<div class="ChannelCard-controls">
	{{play-shuffle-btn
		class="Btn--small"
		channel=channel
		showText=false}}
</div>

{{!-- 
{{#unless channel.canEdit}}
	{{btn-favorite
		class="ChannelCard-favorite Btn Btn--text Muted"
		channel=channel
		showText=false}}
{{/unless}}
--}}
