<article>
	<header class="Manchet Manchet--left">
		<h1>Forms<small> — styleguide</small></h1>
	</header>

	<div class="Container">
		<p>Now we'll show some forms and buttons.</p>

		<h2>Buttons</h2>

		<p>
			<button class="Btn">Button</button><br>
			<button class="Btn Btn--primary">Primary button</button><br>
			<button class="Btn Btn--danger">Danger button</button><br>
			<button class="Btn Btn--full">Full button</button><br>
			<button class="Btn Btn--small">Small button</button><br>
			<button class="Btn Btn--text">Text button</button><br>
			<button class="Btn NonBtn">Btn + NonBtn</button><br>
			<button class="NonBtn">NonBtn</button>
			<button class="Btn Btn--large">Large button</button>
			<button class="Btn Btn--primary Btn--large">Primary and large</button>
		</p>

		<p>
			<button class="Btn">{{x-icon i="play"}} Button</button><br>
			<button class="Btn Btn--primary">{{x-icon i="play"}} Primary button</button><br>
			<button class="Btn Btn--danger">{{x-icon i="play"}} Danger button</button><br>
			<button class="Btn Btn--full">{{x-icon i="play"}} Full button</button><br>
			<button class="Btn Btn--small">{{x-icon i="play"}} Small button</button><br>
			<button class="Btn Btn--text">{{x-icon i="play"}} Text button</button><br>
			<button class="Btn NonBtn">{{x-icon i="play"}} Btn + NonBtn</button><br>
			<button class="NonBtn">{{x-icon i="play"}} NonBtn</button>
			<button class="Btn Btn--large">{{x-icon i="play"}} Large button</button>
			<button class="Btn Btn--primary Btn--large">{{x-icon i="play"}} Primary and large</button>
		</p>

		<p>
			<button class="Btn">{{x-icon i="play"}} Button</button><br>
			<button class="Btn Btn--primary">{{x-icon i="shuffle"}} Primary button</button><br>
			<button class="Btn Btn--danger">{{x-icon i="pause"}} Danger button</button><br>
			<button class="Btn Btn--full">{{x-icon i="play"}} Full button</button><br>
			<button class="Btn Btn--small">{{x-icon i="shuffle"}} Small button</button><br>
			<button class="Btn Btn--text">{{x-icon i="play"}} Text button</button><br>
			<button class="Btn NonBtn">{{x-icon i="shuffle"}} Btn + NonBtn</button><br>
			<button class="NonBtn">{{x-icon i="play"}} NonBtn</button>
			<button class="Btn Btn--large">{{x-icon i="shuffle"}} Large button</button>
			<button class="Btn Btn--primary Btn--large">{{x-icon i="shuffle"}} Primary and large</button>
		</p>

		<h3>Button group</h3>

		{{#btn-group}}
			<button class="Btn">Sir</button>
			<button class="Btn">Alex</button>
			<button class="Btn is-active">Active Button</button>
			<button class="Btn">Ferguson</button>
		{{/btn-group}}

		<h3>A group of button groups</h3>

		<div class="BtnGroupWrapper">
			{{#btn-group}}
				<button class="Btn">Cheese</button>
				<button class="Btn">And</button>
				<button class="Btn">Bread</button>
			{{/btn-group}}
			{{#btn-group}}
				<button class="Btn">Another</button>
				<button class="Btn">Button</button>
				<button class="Btn">Group</button>
				<button class="Btn">With</button>
				<button class="Btn">Tuna</button>
			{{/btn-group}}
		</div>

		<h2>Forms</h2>

		<form class="Form">
			<div class="Form-group">
				<label>A label
					<input type="text" value="Text input">
				</label>
			</div>
			<div class="Form-group">
				<label>A label
					<textarea>A textarea</textarea>
				</label>
			</div>
			<div class="Form-group">
				<button class="Btn" type="submit">Submit</button>
			</div>
		</form>

		<h2>Custom select</h2>
		<div class="CustomSelect">
			<select>
				<option value="0">Hey</option>
				<option value="0">This is me</option>
				<option value="0">And my</option>
				<option value="0">Shadow</option>
			</select>
		</div>

	</div>
</article>
