{{#form-group
		 model=track
		 valuePath="url"
		 label="URL"
		 hint="Paste in the URL of a YouTube video" as |value|}}
	{{focus-input
			type="url"
			value=value
			required="required"
			placeholder="Paste in a YouTube link"
			autoFocus=true
			autoSelect=true}}
{{/form-group}}

{{#if track.mediaNotAvailable}}
	<p>This link seems to be broken, <a href={{youtubeSearchUrl}} target="_blank" rel="noopener">find a new one</a>!</p>
{{/if}}

{{#form-group
	model=track
	valuePath="title"
	label="Title"
	hint="Paste in the URL of a YouTube video" as |value|}}
	{{input value=value placeholder="Enter the track title" required="required"}}
	{{#if fetchTitle.isRunning}}
		<p class="Form-groupStatus">Updating…</p>
	{{/if}}
{{/form-group}}

{{#form-group
	model=track
	valuePath="body"
	label="Description"
	hint="Give your track an optional description" as |value|}}
	{{textarea value=value placeholder="Track description"}}<br>
{{/form-group}}

<div class="Form-group">
	<div class="BtnGroupWrapper BtnGroupWrapper--full">
		{{#btn-group}}
			<button
					onclick={{perform submitTask}}
					type="submit"
					class="Btn Btn--primary"
					title="Save the track"
					disabled={{submitTask.isRunning}}>
				{{if submitTask.isIdle "Save" "Saving…"}}
			</button>

			<button {{action "cancel"}} class="Btn Btn--text" title="Stop editing the track">Cancel</button>
		{{/btn-group}}
		{{#btn-group class="BtnGroup--right"}}
			<button
					onclick={{perform deleteTrack}}
					class="Btn Btn--text Btn--danger u-alignRight"
					title="Delete this track from your radio"
					disabled={{deleteTrack.isRunning}}>
				{{if deleteTrack.isIdle "Delete" "Deleting…"}}
			</button>
		{{/btn-group}}
	</div>
</div>

{{yield}}
