<div class="Form-group">
	<label title="Paste in the URL of a YouTube video">URL
		{{focus-input type="url" value=track.url required="required" placeholder="Paste in a YouTube link"}}
		{{errors-display model=track valuePath="url"}}
	</label>
</div>

<div class="Form-group Form-group--relative">
	<label title="Give your track a title">Title
		{{input value=track.title placeholder="Enter the track title" required="required"}}<br>
		{{errors-display model=track valuePath="title"}}
	</label>
	{{#if fetchTitle.isRunning}}<p class="Form-groupStatus">Updating…</p>{{/if}}
	{{!-- {{youtube-search query=model.title action="addFromSearch"}} --}}
</div>

<div class="Form-group">
	<label title="Give your track an optional description">Description
		{{input value=track.body placeholder="Track description"}}<br>
		{{errors-display model=track valuePath="body"}}
	</label>
</div>

<div class="Form-group">
	<div class="BtnGroupWrapper BtnGroupWrapper--full">
		{{#btn-group}}
			<button {{action "submit"}} type="submit" class="Btn Btn--primary" title="Save the track" disabled={{if isIdle "" "disabled"}}>
				{{if isIdle "Save" "Saving…"}}
			</button>
			<button {{action "cancel"}} class="Btn Btn--text" title="Stop editing the track">Cancel</button>
			<button {{action "deleteTrack"}} class="Btn Btn--text Btn--danger u-alignRight" title="Delete this track from your radio">Delete</button>
		{{/btn-group}}
	</div>
</div>

{{yield}}
