<form class="Form EditTrack" {{action "saveTrack" on="submit"}}>
	<div class="Form-group">
		<label>URL
			{{input type="url" placeholder="Copy in a YouTube URL" value=model.url required="required"}}
		</label>
	</div>
	<div class="Form-group">
		<label>Title
			{{focus-input value=model.title placeholder="Title" required="required"}}
		</label>
	</div>
	<div class="Form-group">
		<label>Description
			{{input type="text" value=model.body placeholder="Description"}}
		</label>
	</div>
	<div class="Form-group">
		<button type="submit" class="Btn Btn--primary" title="Save the track">
			Save track
		</button>
		<button class="Btn Btn--text" {{action 'cancelEdit' title="Stop editing the track"}}>
			Cancel
		</button>
		<button class="Btn Btn--text Btn--danger u-alignRight" {{action 'deleteTrack' title="Delete this track from your radio"}}>
			Delete
		</button>
	</div>
</form>

{{yield}}
