{{#link-to 'channels.index' class="Logo"}}
  <h1>
    <img class="Logo-img" src="/assets/images/icons/radio4000.svg" alt="Radio4000" title="Go to the homepage">
  </h1>
{{/link-to}}

{{#if flashMessages.queue}}
	<aside class="FlashMessages">
		{{#each flashMessages.queue as |flash|}}
			{{flash-message flash=flash}}
		{{/each}}
	</aside>
{{/if}}

{{aside-left-toggle}}

{{aside-left
	isAuthenticated=session.isAuthenticated
	userChannel=session.currentUser.channels.firstObject
	toggleModal=(action "toggleModal")}}

<main class="SiteMain">
	{{yield}}
</main>

<aside class="Aside Aside--right">
	{{x-playback}}
</aside>

{{#if isShowingModal}}
	{{#modal-dialog close="toggleModal" translucentOverlay=true}}
		<div class="Manchet">
			<h2><small>Add a </small>new track<small> to your radio</small></h2>
		</div>
		{{track-form-add
			initialUrl=url
			onSubmit=(action "saveTrack")
			onCancel=(action "toggleModal")}}
		<p>
			Do you want to add tracks directly from YouTube?<br>
			&rarr;<span {{action "toggleModal"}}>{{link-to "Get the bookmarklet" "bookmarklet" class="Btn Btn--text"}}</span>
		</p>
	{{/modal-dialog}}
{{/if}}
