{{#link-to 'application' class="Logo"}}
  <h1>
    <img class="Logo-img" src="/assets/images/icons/radio4000.svg" alt="Radio4000" title="Go to the homepage">
  </h1>
{{/link-to}}

{{aside-left-toggle}}

{{#if flashMessages.queue}}
	<aside class="FlashMessages">
		{{#each flashMessages.queue as |flash|}}
			{{flash-message flash=flash}}
		{{/each}}
	</aside>
{{/if}}

{{aside-left
	isAuthenticated=session.isAuthenticated
	userChannel=session.currentUser.channels.firstObject
	toggleModal=(action "toggleModal")}}

<main class="SiteMain">
	{{yield}}
</main>

<aside class="Aside Aside--right">
	{{x-playback}}
</aside>

{{#if isShowingModal}}
	{{#modal-dialog close="toggleModal" translucentOverlay=true}}
		<h2>Add a new track to your radio</h2>
		{{track-add
			newUrl=url
			onSubmit=(action "saveTrack")
			onCancel=(action "toggleModal")}}
		<p {{action "toggleModal"}}>
			Do you want to add tracks directly from YouTube?<br>
			&rarr;{{link-to "Get the bookmarklet" "bookmarklet" class="Btn Btn--text"}}
		</p>
	{{/modal-dialog}}
{{/if}}
