{{#if flashMessages.queue}}
	<aside class="FlashMessages">
		{{#each flashMessages.queue as |flash|}}
			{{flash-message flash=flash}}
		{{/each}}
	</aside>
{{/if}}

{{navigation-toggle-btn}}

{{input-autocomplete}}

{{aside-navigation
	isAuthenticated=session.isAuthenticated
	userChannel=session.currentUser.channels.firstObject
	onClick=(action "openAddTrack")}}

<main class="SiteMain">
	{{yield}}
</main>

<aside class="Aside Aside--right">
	{{x-playback}}
</aside>

{{#if isShowingModal}}
	{{#modal-dialog onClose=(action "closeModal")}}
		<div class="Sections">
			<section class="Section">
				<div class="Manchet">
					<h2><small>Add a </small>new track<small> to your radio</small></h2>
				</div>
				<p class="Container">
					{{track-form-add
						initialUrl=url
						onSubmit=(action "saveTrack")
						onCancel=(action "closeModal")}}
				</p>
				<p class="Container">
					<span class="Muted" {{action "closeModal"}}>{{link-to "Add faster with the Bookmarklet" "bookmarklet"}}</span>
				</p>
			</section>
		</div>
	{{/modal-dialog}}
{{/if}}

{{#if uiStates.showShortcutsModal}}
	{{#modal-dialog
		clickOutsideToClose=true
		onClose=(action "closeShortcutsModal")
	}}
		<button class="Btn u-alignRight" {{action "closeShortcutsModal"}}>close</button>
		<h2>Keyboard shortcuts</h2>

		<h3>Player</h3>
		<ul class="KeyboardList">
			<li><kbd>p</kbd> play/pause</li>
			<li><kbd>n</kbd> play <strong>next</strong> track</li>
			<li><kbd>s</kbd> <strong>s</strong>huffle current track selection</li>
			<li><kbd>m</kbd> (un)<strong>m</strong>ute the volume</li>
			<li><kbd>r</kbd> play a <strong>r</strong>andom radio channel</li>
			<li><kbd>f</kbd> cycle through <strong>f</strong>ormats (default, fullscreen, minimized)</li>
		</ul>

		<h3>Movement</h3>
		<p><small>Use these to move around the webiste. First press the <kbd>g</kbd> key followed by the second key before 500ms.</small></p>
		<ul class="KeyboardList">
			<li><kbd>g</kbd><kbd>g</kbd> <strong>h</strong>omepage</li>
			<li><kbd>g</kbd><kbd>r</kbd> <strong>r</strong>adios</li>
			<li><kbd>g</kbd><kbd>m</kbd> <strong>m</strong>ap</li>
			<li><kbd>g</kbd><kbd>y</kbd> history (y, as in your web-browser)</li>
			<li><kbd>g</kbd><kbd>i</kbd> my radio (i, as in I, me)</li>
			<li><kbd>g</kbd><kbd>h</kbd> radio <strong>h</strong>omepage (yours or the channel you are on, or the latest visisted channel)</li>
			<li><kbd>g</kbd><kbd>t</kbd> radio <strong>t</strong>racks (yours or the channel you are on)</li>
			<li><kbd>g</kbd><kbd>f</kbd> <strong>f</strong>avorite radios (yours or the channel you are on)</li>
			<li><kbd>g</kbd><kbd>a</kbd> <strong>a</strong>dd track</li>
			<li><kbd>g</kbd><kbd>,</kbd> settings</li>
			<li><kbd>g</kbd><kbd>c</kbd> <strong>c</strong>urrent channel being played</li>
			<li><kbd>g</kbd><kbd>x</kbd> track being played (<strong>x</strong>, as in a cross to locate the track/trax)</li>
		</ul>

		<ul class="KeyboardList">
			<li>
				<small>
					Press <kbd>?</kbd> to toggle this window.
					Something missing?
					<span {{action "closeShortcutsModal"}}>
						{{link-to "Ask for it!" "feedback"}}
					</span>
				</small>
			</li>
		</ul>
	{{/modal-dialog}}
{{/if}}
