<div class="Sections">
	<section class="Section">
		<header class="Manchet">
			<h1>Settings</h1>
			<p>Add and remove accounts to manage your radio.</p>
		</header>
		<div class="Container">

			{{#if currentUser.email}}
				<form class="ProviderAccount" {{action "updateEmail" newEmail on="submit"}}>
					<div class="ProviderAccount-body">
						<h3>Your email</h3>
						<div class="Form-group">
							{{input placeholder=currentUser.email value=newEmail}}
						</div>
						<p class="ProviderAccount-id">
							{{#if currentUser.emailVerified}}
								(verified email)
							{{else}}
								<a href="#" {{action "verifyEmail"}} title="Click to send a new verification email">Please verify</a>
							{{/if}}
						</p>
					</div>
					<button class="Btn" type="submit">Update</button>
				</form>
			{{/if}}

			<h3>Accounts you have added</h3>

			{{account-provider-list
				providerData=providerData
				emailVerified=currentUser.emailVerified
				unlink=(action "unlinkAccount")
				resetPassword=(action "resetPassword")
				verifyEmail=(action "verifyEmail")}}

			<h3>Accounts you can add</h3>

			{{#if hasEverything}}
				<p class="Muted">You have linked all possible accounts.</p>
			{{/if}}

			<div class="ProviderAccounts">
				{{#unless hasGoogle}}
					{{account-provider-link
						name="Google"
						providerId="google.com"
						disabled=hasGoogle
						onLink=(action "linkAccount")}}
				{{/unless}}
				{{#unless hasFacebook}}
					{{account-provider-link
						name="Facebook"
						providerId="facebook.com"
						disabled=hasFacebook
						onLink=(action "linkAccount")}}
				{{/unless}}
				{{#unless hasEmail}}
					{{account-email-link
						name="Email"
						onLink=(action "linkEmail")}}
				{{/unless}}
			</div>
		</div>
	</section>
</div>
{{outlet}}
