<div class="Sections">
	<section class="Section">
		<header class="Manchet">
			<h1>Settings</h1>
			<p>Customize your tool to your needs for a personal experience.</p>
		</header>
	</section>
	<section class="Section">
		<div class="Container">
			<h2>Your accounts</h2>
			<p>You can connect to Radio4000 with all your linked accounts. It is also used to perform actions from Radio4000 to other sites.</p>
			{{account-provider-list providerData=providerData unlink=(action 'unlinkAccount')}}
			<p>Those accounts can be added too:</p>
			<div class="ProviderAccounts">
				{{#unless hasGoogle}}
					{{account-provider-link name="Google" providerId="google.com" disabled=hasGoogle link=(action 'linkAccount')}}
				{{/unless}}
				{{#unless hasFacebook}}
					{{account-provider-link name="Facebook" providerId="facebook.com" disabled=hasFacebook link=(action 'linkAccount')}}
				{{/unless}}
				{{#unless hasEmail}}
					{{account-email-link disabled=hasEmail link=(action 'linkEmail')}}
				{{/unless}}
			</div>
		</div>
	</section>

</div>
{{outlet}}
