<div class="Sections">
	<section class="Section">
		<header class="Manchet">
			<h1>General <small>settings</small></h1>
			<p class="Muted">Customize your user experience</p>
		</header>
	</section>

	{{#if currentUser.email}}
		<section class="Section">
			<div class="Container">
					<h2>Email</h2>

					<form class="ProviderAccount" {{action "updateEmail" newEmail on="submit"}}>
						<label class="ProviderAccount-body">
							<p class="ProviderAccount-id">
								{{#unless currentUser.emailVerified}}
									Your email is not yet verified. We have sent a verification email to your new address. <a href="#" {{action "verifyEmail"}} title="Click to send a new verification email. After clicking the link in the email, please refresh this page.">Need a new verification link?</a>.
								{{/unless}}
							{{input placeholder=currentUser.email value=newEmail}}
							</p>
						</label>
						<button class="Btn" type="submit">Update</button>
					</form>
			</div>
		</section>
	{{/if}}

	<section class="Section">
		<div class="Container">
			<h2>Accounts</h2>
			<p>Manage the accounts you can use to login Radio4000.</p>

			{{account-provider-list
				providerData=providerData
				emailVerified=currentUser.emailVerified
				unlink=(action "unlinkAccount")
				resetPassword=(action "resetPassword")
				verifyEmail=(action "verifyEmail")}}

			<div class="ProviderAccounts">
				{{#if hasEverything}}
					<p class="Muted">There are no other accounts to connect.</p>
				{{/if}}
				{{#unless hasGoogle}}
					{{account-provider-link
						name="Google"
						providerId="google.com"
						disabled=hasGoogle
						onLink=(action "linkAccount")}}
				{{/unless}}
				{{#unless hasFacebook}}
					{{account-provider-link
						name="Facebook"
						providerId="facebook.com"
						disabled=hasFacebook
						onLink=(action "linkAccount")}}
				{{/unless}}
				{{#unless hasEmail}}
					{{account-email-link
						name="Email"
						onLink=(action "linkEmail")}}
				{{/unless}}
			</div>
		</div>
	</section>

	<section class="Section">
		<div class="Container">
			<h2>Premium</h2>
			<p>Radio4000 will always be free to use.</p>
			<p>
				To support the team in creating the best music experience, you can upgrade to a premium Radio4000 account.
				For <strong>14€, one time payment</strong>, access all Radio4000 features; <strong>pay once, enjoy Radio4000 for ever.</strong>
			</p>
			<p>What you get:</p>
			<ul>
				<li>reblog music from a radio channel to yours</li>
				<li>filter tracks in radios channels by their data and tags</li>
				<li>analyse channels and their music</li>
				<li>every future features the team will develop</li>
				<li>the satisfaction of supporting a great open source project</li>
			</ul>
			<form action="/your-server-side-code" method="POST">
				<script
						src="https://checkout.stripe.com/checkout.js" class="stripe-button"
						data-key="pk_test_Ti8aYhMv1as1ZrbaZzaI8QOk"
						data-amount="1400"
						data-name="Radio4000.com"
						data-description="Pay once, enjoy Radio4000 premium features for ever, and ever"
						data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
						data-locale="auto"
						data-zip-code="true">
				</script>
			</form>
		</div>
	</section>

	<section class="Section">
		<div class="Container">
			<h2>Delete my Radio4000 account</h2>
			{{auth-delete-account
				firebaseApp=firebaseApp
				user=session.currentUser
				onError=(action "onError")
				onDelete=(action "deletedUser")}}
		</div>
	</section>
</div>

{{outlet}}
