<div class="Cover-image">
	{{#if hasBlock}}
		{{yield}}
	{{else if src}}
		{{!-- <img src="{{cover-img src size=220}}"> --}}
		{{!-- <img src="{{cover-img src size=220 webp=true}}"> --}}
		{{!-- <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazyload" alt=""
			data-src="{{cover-img src size=250}}"> --}}
		{{!-- <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" " class="lazyload" alt="" data-sizes="auto"
			data-srcset="{{cover-img src size=150}} 150w,
				{{cover-img src size=250}} 250w"> --}}
		<picture>
			<source data-srcset="{{cover-img src size=200 webp=true}}" type="image/webp">
			<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
				class="lazyload"
				data-src="{{cover-img src size=200}}"
				alt="">
		</picture>
	{{/if}}
</div>
