<figure class="Cover-img">
	{{#if model.coverImage}}
		<img src={{model.coverImage.thumb}}>
	{{/if}}

	{{#if playback.player.isPlaying}}
		{{!-- <button class="Cover-button" {{action "pause"}} title="Pause radio">{{x-icon i="pause"}}</button> --}}
	{{else}}
		<button class="Cover-button" {{action "play"}} title="Play radio">{{x-icon i="play"}}</button>
	{{/if}}
</figure>

{{#unless hideTitle}}
	<h3 class="Cover-title">
		{{model.title}}
	</h3>
{{/unless}}

{{yield}}
