<div class="Cover-image">
	{{#if hasBlock}}
		{{yield}}
	{{else if src}}
		<picture>
			<source data-srcset="{{cover-img src size=200 format='jpg'}}" media="(max-width: 400px)">
			{{#if disableGif}}
				<source data-srcset="{{cover-img src size=200 format='lofi'}}" type="image/webp">
			{{else}}
				<source data-srcset="{{cover-img src size=200 format='awebp'}}" type="image/webp">
			{{/if}}
			<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
				class="lazyload"
				data-src="{{cover-img src size=200}}"
				alt="">
		</picture>
	{{/if}}
</div>
