<figure class="Cover-img">
	{{#if model.coverImage}}
		<img src={{model.coverImage.thumb}}>
	{{/if}}

	{{#unless hideControls}}
		<button class="Cover-button" {{action "play"}} title="Play radio">{{x-icon i="play"}}</button>
	{{/unless}}
</figure>

{{#unless hideTitle}}
	<h3 class="Cover-title">
		{{model.title}}
	</h3>
{{/unless}}

{{yield}}
