<div class="Sections Sections--center">
	<section class="Section">
		<div class="Manchet">
			<h1>Delete radio</h1>
		</div>
		<div class="Container">
			<div >
				<div>
					<p>Deleting your radio channel <strong>{{model.title}}</strong> will result in:</p>
					<ul>
						<li>Deletition of all your radio's data, your favorites and all tracks</li>
						<li>Your radio will therefore be inaccessible to any other user</li>
					</ul>
				</div>

				<div>
					<div class="BtnGroup BtnGroup--full">
						<a href="{{href-to 'channel.index' model}}" class="Btn">
							Cancel, keep my radio!
						</a>
						<button disabled={{isDeleting}} class="Btn Btn--danger" {{action 'deleteChannel'}}>
							{{#if isDeleting}}
							Deleting…
							{{else}}
							Yes, delete my radio (for real)
							{{/if}}
						</button>
					</div>
				</div>
				<div class="Note">
					<p><strong>Note:</strong></p>
					<ul>
						<li>
							This action <strong>does not</strong> <a href="https://support.internet4000.com/radio4000/#how-to-delete-my-radio4000-account"
							 target="_blank" rel="noopener">delete your Radio4000 account</a>
						</li>
						<li>You can {{link-to "make a backup" "settings"}} of your radio</li>
						<li>We cannot bring your radio back</li>
						<li>You can always create a new radio</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
</div>

{{title "Delete your radio" replace=true}}
