<div class="Sections">
	<section class="Section">

		{{#if session.isAuthenticated}}

			<div class="Container">
				<p>You are already logged in.</p>
				<p>{{link-to "Log out" "logout"}}</p>
				{{#if session.currentUser.channels.firstObject}}
					<p>Did you want to go to your radio?</p>
					<p>
					{{#link-to "channel" session.currentUser.channels.firstObject.slug}}
						Go to {{session.currentUser.channels.firstObject.title}}.
					{{/link-to}}
					</p>
				{{/if}}
			</div>

		{{else}}
			<header class="Manchet">
				<h1>Login</h1>
			</header>
			<div class="Container">
				<p>To create and manage your Radio4000, please connect:</p>
				<p>
					<button class="Btn Btn--large" title="Sign in or register with Google" {{action 'login' 'google'}}>
						Google</button>
					<span style="margin: 0 0.5rem;">or</span>
					<button class="Btn Btn--large" title="Sign in or register with Facebook" {{action 'login' 'facebook'}}>
						Facebook</button>
				</p>
				{{#if session.isWorking}}
					{{#is-loading}}Warming transistors…{{/is-loading}}
				{{/if}}
				<p><br>&rarr; <a href="{{href-to 'intro'}}">Get introduced to Radio4000</a></p>
			</div>
		{{/if}}
	</section>
</div>
