<section class="Section Section--100vh Section--flex Section--login">
	<div class="Section-bgCredits">
		<a href="https://commons.wikimedia.org/wiki/File:The_Burning_of_the_Library_at_Alexandria_in_391_AD.jpg#filelinks" target="_blank">
			Ambrose Dudley<br>
			The Burning of the Library at Alexandria in 391 AD
		</a>
	</div>
	<div class="Container Container--centered Login">
		<span class="Login-after"></span>
		<span class="Login-middle"></span>
		<span class="Login-before"></span>


			{{#if session.isAuthenticated}}
				<p>You are already logged in</p>
				{{#if session.currentUser.channels.firstObject}}
					<p class="">
						{{channel-card channel=session.currentUser.channels.firstObject wide=true}}
					</p>
				{{else}}
					<p class="">
						<a href="{{href-to 'channels.new'}}" class="Btn Btn--large" title="Your radio">Create my radio</a>
					</p>
				{{/if}}

			{{else}}

				{{#unless session.isWorking}}
					<h1 class="">Login Radio4000</h1>
					<p class="">to create or manage your radio.</p>
					<p class="">
						<button type="submit" class="Btn Btn--large" title="Log in with your Google account" {{action 'login' 'google'}}>
							Google
						</button>
						<button type="submit" class="Btn Btn--large" title="Log in with your Facebook account" {{action 'login' 'facebook'}}>
							Facebook
						</button>
					</p>
					<p class=""><a href="{{href-to 'intro'}}">What is Radio4000?</a></p>
				{{else}}
					<p class="">Please wait</p>
					{{is-loading}}
				{{/unless}}

			{{/if}}
	</div>
</section>
