<div class="Sections">
	<section class="Section">
		<div class="Container">
			{{#if session.currentUser.channels.firstObject}}
				<p>You are already logged in.<br>
				Did you want to go to your radio?</p>
				<p>
					{{#link-to 'channel' session.currentUser.channels.firstObject.slug}}
						Go to {{session.currentUser.channels.firstObject.title}}.
					{{/link-to}}
				</p>
			{{else}}
				<h1>Get your own radio</h1>
				<p>Collect all the music you like via YouTube videos and play them as a radio.<br><br>
				How does it work? Sign in or register below, give your radio a name and add tracks to your radio by pasting in YouTube links.</p>
				<br><br>
				<p><strong>Use Radio4000 with…</strong></p>
				<p>
					<button class="Btn Btn--large" title="Sign in or register with Google" {{action 'login' 'google'}}>
						Google</button>
						<span style="margin: 0 0.5rem;">or</span>
					<button class="Btn Btn--large" title="Sign in or register with Facebook" {{action 'login' 'facebook'}}>
						Facebook</button>
				</p>
				<br>
				{{#if session.isWorking}}
					{{#is-loading}}Warming transistors…{{/is-loading}}
				{{/if}}
				<br>
				<br>
				<p class="Subtitle">A single radio for you, music for everyone — and an infinity of great tracks curated with love.</p>
				<p>&rarr; <a href="{{href-to 'intro'}}">Get properly introduced to Radio4000</a></p>
				<figure class="Banner Banner--isolated">
					<img class="Banner-media" src="https://res.cloudinary.com/radio4000/image/upload/q_70,w_700,e_brightness:25/great-day-in-harlem-art-kane-1958_xfbr4f" alt="">
					<p class="Banner-credits">
						<a href="http://www.seewah.com/a-great-day-in-harlem/" target="_blank">Art Kane, A Great Day in Harlem</a>
					</p>
				</figure>
			{{/if}}
		</div>
	</section>
</div>
