<div class="BigStep">
	<div class="BigStep-container">

		{{#if session.isAuthenticated}}

			{{#if session.currentUser.channels.firstObject}}
				<h1 class="BigStep-title">Your radio</h1>
				<p class="BigStep-subTitle">
					<a href="{{href-to 'channel' session.currentUser.channels.firstObject}}" class="BigStep-goto" title="Your radio">{{session.currentUser.channels.firstObject.title}}</a>
				</p>
			{{else}}
				<p>You are already logged in</p>
				<p class="BigStep-buttons">
					<a href="{{href-to 'channels.new'}}" class="Btn Btn--transparent Btn--large" title="Your radio">Create my radio</a>
				</p>
			{{/if}}

		{{else}}

			{{#unless session.isWorking}}
				<h1 class="BigStep-title">Log in to Radio4000</h1>
				<p class="BigStep-subTitle">and create or manage your radio.</p>
				<p class="BigStep-buttons">
					<button type="submit" class="Btn Btn--transparent Btn--large" title="Log in with your Google account" {{action 'login' 'google'}}>
						Google
					</button>
					<button type="submit" class="Btn Btn--transparent Btn--large" title="Log in with your Facebook account" {{action 'login' 'facebook'}}>
						Facebook
					</button>
				</p>
				<p class="Muted"><br><br><a href="{{href-to 'application'}}">Go back</a></p>
			{{else}}
				<p class="BigStep-subTitle">Please wait</p>
				{{is-loading}}
			{{/unless}}

		{{/if}}
	</div>
</div>
