{{#navigation-toggle-layer overlay=true class="Aside-inner"}}
	{{application-logo}}

	<div class="Grid">
		{{#if isAuthenticated}}
			{{#if userChannel}}
				<article class="Grid-cell">
					{{channel-card channel=userChannel wide=true title="Your radio [⌨ g i]"}}
					{{#btn-group class="BtnGroup--full BtnGroup--tight"}}
						<button {{action "addTrack"}} class="Btn Btn--important Btn--topNoRadius" title="Add a new track to your radio [⌨ g a]">
							Add track
						</button>
					{{/btn-group}}
				</article>
			{{/if}}
		{{/if}}

		<article class="Grid-cell">
			<nav class="Tabs">
				{{link-to "Radio channels" "channels" title="Find radio channels to enjoy [⌨ g h]" class="Tabs-item"}}

				{{#if isAuthenticated}}
					{{#if userChannel}}
						{{#link-to
								 "channel"
								 userChannel
								 class="Tabs-item"
								 title="Create your Radio4000 channel"}}
							My radio
						{{/link-to}}
					{{else}}
						{{#link-to
								 "channels.new"
								 class="Tabs-item"
								 title="Create your Radio4000 channel"}}
							Create my radio
						{{/link-to}}
					{{/if}}

					{{#link-to "settings" class="Tabs-item" title="Customize your Radio4000"}}
						Settings
					{{/link-to}}
					{{#link-to "auth.logout" class="Tabs-item" title="Log out from Radio4000"}}
						Log out
					{{/link-to}}
				{{/if}}

				{{#unless isAuthenticated}}
					{{#link-to
							 "auth.login"
							 class="Tabs-item"
							 title="Log in to Radio4000"}}
						Log in
					{{/link-to}}
					{{#link-to
							 "auth.signup"
							 class="Tabs-item"
							 title="Sign up to create your Radio4000"}}
						Create radio
					{{/link-to}}
				{{/unless}}
			</nav>
		</article>

		<article class="Grid-cell">
			<nav class="Tabs">
				{{link-to "About" "about" title="Learn more about Radio4000" class="Tabs-item"}}

				<a class="Tabs-item" href="https://support.internet4000.com/radio4000" target="_blank" rel="noopener" title="Support with Radio4000">
					Help &rarr;
				</a>
				<a class="Tabs-item" href="https://github.com/internet4000/publications/blob/master/user-agreement-privacy-policy-terms-of-use.md" target="_blank" rel="noopener">
					Privacy &rarr;
				</a>
				{{#link-to "feedback" title="Send some feedback about this site to the developers [⌨ g f]" class="Tabs-item"}}
					Send feedback
				{{/link-to}}
				<button class="Tabs-item NonBtn NonBtn--link" {{action "openShortcutsModal"}} title="Show keyboard shortcut [⌨  ?]">
					Keyboard shortcuts
				</button>
			</nav>
		</article>
	</div>

{{/navigation-toggle-layer}}
