<div class="Channel-media" title="Image for {{channel.title}}">
	{{#if channel.canEdit}}
		{{#link-to "settings.channel"}}
			<div class="Channel-cover">
				{{channel-cover src=channel.coverImage.src}}
			</div>
		{{/link-to}}
	{{else}}
		<div class="Channel-cover">
			{{channel-cover src=channel.coverImage.src}}
		</div>
	{{/if}}
</div>

<div class="BtnGroup Channel-buttons">
	{{play-shuffle-btn channel=channel class="Btn--large Channel-playback"}}
	{{#unless channel.canEdit}}
		{{btn-favorite channel=channel class="Btn--wide"}}
	{{/unless}}
</div>

<div class="Channel-header">
	<div class="Channel-body">
		<p class="Channel-slug">
			<a href="{{href-to 'channel' channel}}" title="To listen, tune in @{{channel.slug}}">
				@{{channel.slug}}
			</a>
		</p>
		<p>
			{{#if shouldShowUpdated}}
				<span
					class="Channel-date Muted"
					title="{{channel.title}} was last updated {{time-ago channel.updated}}"
				>
					{{time-ago channel.updated}}
				</span>
			{{/if}}
			{{!-- Note here the ``<updated>, (map)` syntax --}}
			{{#if channel.hasCoordinates}}
				- {{#link-to
						'channels.map'
						(query-params
							lat=lat
							lng=lng
							zoom=8
						)
						class="Muted"
						title=(concat 'Locate ' channel.title ' on the map [' lat '/' lng ']')
						}}map{{/link-to}}
			{{/if}}
		</p>
		{{#if channel.body}}
			<p class="Channel-description">{{link-hashtags channel.body channel.slug}}</p>
		{{/if}}
		{{#if hasLinks}}
			<p class="Channel-links">
				{{#if channel.link}}
					<a class="Muted" href="{{channel.link}}" rel="noopener" target="_blank" title="Go to {{channel.title}}'s webpage">{{channel.link}}</a>
				{{/if}}
			</p>
		{{/if}}
	</div>
</div>
