<div class="EditImage" {{bind-attr class="isEditingImage:is-editingImage"}}>
	<button class="EditImage-btn"{{action 'editImage'}} title="Change image">{{x-icon i="camera"}}</button>
	<form class="Form" {{action "saveImage" on="submit"}}>
		<div class="Form-group">
			{{file-upload image=image}}
		</div>
		<div class="Form-group">
			<button class="Btn Btn--primary" type="submit">Save</button>
			<button class="Btn Btn--text" {{action "cancelEditImage"}}>Cancel</button>
		</div>
	</form>
</div>
