<form class="Form EditPlaylist" {{action "trySave" on="submit"}}>
	<h3>Edit your channel</h3>
	<div class="Form-group">
		<label for="title">Title</label>
		{{input name="title" value=title placeholder="Title" autofocus='autofocus'}}
	</div>
	<div class="Form-group">
		<label for="body">Description</label>
		{{textarea name="body" value=body placeholder="Description"}}
	</div>
	<div class="Form-group">
		<label for="image">Channel photo</label>
		{{file-upload image=image}}
	</div>

	<div class="Form-group Form--playlistSlug">
		<label for="slug">Permalink</label>
		<span class="Permalink">radio4000.com/c/</span>
		{{input name="slug" value=slug placeholder="channel-slug"}}
	</div>

	<div class="Form-group">
		<button class="Btn Btn--text Btn--danger Btn--delete" {{action 'tryDelete'}}>Delete channel (no way back)</button>
	</div>

	<div class="Form-group Form--save">
		<button class="Btn Btn--primary" type="submit">Save</button>
		<button class="Btn Btn--text" {{action "cancel"}}>Cancel</button>
	</div>
</form>
