<div class="Container Section--space">
	<h3>Edit your channel</h3>

	<form class="Form Form--box" {{action "trySave" on="submit"}}>
		<div class="Form-group">
			<label for="title">Channel title</label>
			{{focus-input id="title" value=model.title placeholder="Title" autofocus='autofocus' required="required"}}
		</div>

		<div class="Form-group">
			<label for="body">Channel description</label>
			{{textarea id="body" value=model.body maxlength=channelDescriptionMaxLength placeholder="What is your channel about?"}}
		</div>

		<div class="Form-group Form--playlistSlug">
			<label for="slug">Permalink</label>
			<span class="Permalink">radio4000.com/c/</span>
			{{input id="slug" value=model.slug placeholder="channel-slug" required="required"}}
		</div>

		<div class="Form-group">
			<label for="image">Channel image</label>
			{{file-upload image=newImage}}
			{{#if model.coverImage}}
				<button class="Btn" {{action 'deleteImage'}}>Delete image</button>
			{{/if}}
		</div>

		{{!-- {{#if isAdmin}}
			<div class="Form-group">
				<label for="image">Featured
					{{input type="checkbox" checked=model.isFeatured}}
				</label>
			</div>
		{{/if}} --}}

		<div class="Form-group Form--save">
			<button class="Btn Btn--primary" type="submit">Save</button>
			{{#link-to 'channel' model class="Btn Btn--text"}}Cancel{{/link-to}}
			<button class="Btn Btn--text Btn--danger u-alignRight Btn--delete" {{action 'tryDelete'}}>Delete channel (no way back)</button>
		</div>
	</form>
</div>
