<section class="Section">
	<div class="Manchet">
		<h1><small>Explore all</small> radios</h1>
		<p class="Muted">Each radio is curated by one <b>human</b>. Listen, discover someone's personal selection. <br/>If you feel like sharing yours, we welcome you to <a href="{{href-to 'login'}}" title="">create your own radio</a>.</p>
	</div>

	<div class="Container Container--full">
		<form class="Search">
			{{input class="Search-input" type="search" value=search placeholder="Search radios"}}
			<button class="Search-btn Btn" type="submit">Search</button>
			<button class="Search-toggle Btn" {{action 'changeLayout'}}>
				{{if isList 'Bigger' 'Smaller'}}
			</button>
		</form>
	</div>
</section>

{{!-- {{#btn-group}}
	<button class="Btn" {{action 'prev'}} title="See previous radios">prev</button>
	<button class="Btn" {{action 'next'}} title="See next radios">next</button>
{{/btn-group}} --}}

<section class="Section">
	<div class="Container Container--full">
		{{#if sortedChannels}}
			<div class="Grid {{if isList 'Grid--wide'}}">
			  <div class="Grid-cell">
			    <h3>Tip</h3>
			    <div class="Muted">
			      <p>Newest radios are at the top.</p>
			      <p>Press <strong>W</strong> anytime (on your keyboard) to play a random radio. Press again in order to 'swipe' to a new radio.</p>
			      <p>Channels without music are not displayed here.</p>
			    </div>
			  </div>
			  {{#each sortedChannels as |item|}}
			    <div class="Grid-cell">
			      {{channel-card channel=item wide=isList}}
			    </div>
			  {{/each}}
			</div>
		{{else}}
			<p>Tuning radios…</p>
			{{is-loading}}
		{{/if}}
	</div>
</section>

<section class="Section Container">
	<p><a href="{{href-to 'channels'}}">See all curated radios &rarr;</a></p>
</section>
