<section class="Section">
	<div class="Manchet">
		<p>
			Each radio is curated by one <b>human</b>. Listen, discover someone's personal selection.<br/>
			If you feel like sharing yours, we welcome you to <a href="{{href-to "auth.login"}}" title="">create your own radio</a>.
		</p>
	</div>

	<div class="Container Container--full">

		{{#list-manipulation list=channels as |manipulatedList updateSorting|}}
			<div class="Filters">
				{{#btn-group class="Filter"}}
					<span class="BtnGroup-label">Search</span>
					{{jets-search contentTag=".jets-content" content=channels}}
					<span class="BtnGroup-label" style="margin-left: 1em">Filter by</span>
					{{btn-list-manipulation text="Activity"
							onClick=(action updateSorting "updated")}}
					{{btn-list-manipulation text="Age"
							onClick=(action updateSorting "created" true)}}
					{{btn-list-manipulation text="A-Z"
							onClick=(action updateSorting "title" true)}}
				{{/btn-group}}
			</div>

				<div class="Muted">
					<p>TIP: Press <strong>W</strong> anytime (on your keyboard) to play a random radio. Press <strong>W</strong> again to 'swap' to another one. Radios without music are not shown here.</p>
				</div>

				{{#unless channels}}
					<p>Tuning radios…</p>
					{{is-loading}}
				{{/unless}}

				<div class="jets-content">
						{{!--
						{{#each manipulatedList as |item|}}
							{{channel-row channel=item}}
						{{/each}}
						--}}
						{{#vertical-collection manipulatedList
							minHeight=46
							containerSelector="body"
							as |channel index|
						}}
							{{channel-row channel=channel}}
						{{/vertical-collection}}
				</div>
		{{/list-manipulation}}
	</div>
</section>

<section class="Section Container">
	<p><a href="{{href-to 'channels'}}">See all curated radios &rarr;</a></p>
</section>
