<div class="Manchet Manchet--left">
	<h1>All<small> — radios from A to Z</small></h1>
</div>

<div class="Section Section--search">
	<div class="Container Container--full Flex Flex--single">
		{{input type="search" value=search placeholder="Search radios"}}

		{{#btn-group}}
			<h4 class="BtnGroup-label">Sort by</h4>
			<button class="Btn is-active" {{action 'sortBy' 'created'}}>
				Date {{sort-indicator ascending=sortedChannels.sortAscending}}
			</button>
			<button class="Btn" {{action 'sortBy' 'title'}}>
				Name {{sort-indicator ascending=sortedChannels.sortAscending}}
			</button>
			<button class="Btn" {{action 'toggleView'}}>
				{{if isGrid 'List' 'Grid'}}
			</button>
		{{/btn-group}}
	</div>
</div>

<div class="Section">
	{{#if isGrid}}
		<div class="Container Container--full">
			{{channels-grid channels=sortedChannels}}
		</div>
	{{else}}
		<div class="Container Container--full Container--noPadding">
			{{channels-list channels=sortedChannels showCover=true}}
		</div>
	{{/if}}
</div>

<div class="Container">
	<p>{{#link-to 'channels'}}See all curated radios &rarr;{{/link-to}}</p>
</div>
