<div class="Sections">
	<div class="Manchet Manchet--left">
		<h1>All<small> — radios from A to Z</small></h1>
	</div>

	<section class="Section">
		<div class="Container Container--full">
			<form class="Search">
				{{input class="Search-input" type="search" value=search placeholder="Search radios"}}
				<button class="Search-btn Btn" type="submit">Search</button>
				<button class="Search-toggle Btn" {{action 'toggleGrid'}}>
					{{if isGrid 'List' 'Grid'}}
				</button>
			</form>
		</div>
	</section>

	<section class="Section">
		{{#if isGrid}}
			<div class="Container Container--full">
				{{#if sortedChannels}}
					{{#each-grid items=sortedChannels as |item|}}
						{{channel-card channel=item}}
					{{/each-grid}}
				{{else}}
					<p>Tuning radios…</p>
					{{is-loading}}
				{{/if}}
			</div>
		{{else}}
			{{channels-list channels=sortedChannels}}
		{{/if}}
	</section>

	<section class="Section Container">
		<p>{{#link-to 'channels'}}See all curated radios &rarr;{{/link-to}}</p>
	</section>
</div>
