<section class="Section">
	<div class="Container Container--full">
		{{#list-manipulation
				 sortKey=sortKey
				 list=filteredChannels
				 as |manipulatedList updateSorting|}}

			<div class="BtnGroups">
				{{#btn-group}}
					<span class="BtnGroup-label">Filter by</span>
					{{link-to
							"Activity"
							"channels.all"
							(query-params sort="updated")
							class='Btn'
							title="Filter by activity, last updated date"}}
					{{link-to
							"Age"
							"channels.all"
							(query-params sort="created")
							class='Btn'
							title="Filter by age, created date"}}
					{{link-to
							"A-Z"
							"channels.all"
							(query-params sort="title")
							class='Btn'
							title="Filter by alphabetic order of titles"}}
				{{/btn-group}}

				{{#btn-group}}
					<span class="BtnGroup-label">Search</span>
					{{list-search
							items=filteredChannels
							value=search
							afterSearching=(action "handleSearch")
							title="Search radio channels, titles and descriptions"}}
				{{/btn-group}}
			</div>

			<div class="Grid {{if isList 'Grid--wide'}}">
				<div class="Grid-cell">
					<p>
						Each radio is <a href="{{href-to "about"}}">curated by one <b>human</b></a>. Listen, discover someone's personal selection.<br/>
					</p>
					{{#unless session.currentUser.channels.firstObject}}
						<p>
							If you feel like sharing yours, we welcome you to <a href="{{href-to "auth.login"}}" title="">create your own radio</a>.
						</p>
					{{/unless}}
					{{#btn-group class="BtnGroup--full BtnGroup--vertical"}}
						{{play-random-channel class="Btn--large"}}
					{{/btn-group}}
					<p class="Muted">
						Tip: you can also press <strong>W</strong> on your keyboard anywhere on the site to play a random channel.
					</p>
				</div>

				{{#unless channels}}
					<div class="Grid-cell">
						{{#is-loading}}
							loading all channels...
						{{/is-loading}}
					</div>
				{{/unless}}
				{{#each manipulatedList as |item|}}
					<div class="Grid-cell">
						{{channel-card channel=item wide=isList}}
					</div>
				{{/each}}
				<!-- <div class="Grid-cell">
						 <p class="Muted">TIP: Press <strong>W</strong> anytime (on your keyboard) to play a random radio. Press <strong>W</strong> again to 'swap' to another one. Radios without music are not shown here.</p>
						 </div> -->
			</div>
		{{/list-manipulation}}
	</div>
</section>

<section class="Section Container">
	<p><a href="{{href-to 'channels'}}">See all featured radios &rarr;</a></p>
</section>
