<section class="Section">
	<div class="Container Container--full">
		{{#list-manipulation
				 sortKey=sortKey
				 list=filteredChannels
				 as |manipulatedList updateSorting|}}

			<div class="Filters">
				{{#btn-group class="Filter"}}
					<span class="BtnGroup-label">Search</span>
					{{list-search
						items=filteredChannels
						value=search
						afterSearching=(action "handleSearch")}}

					<span class="BtnGroup-label" style="margin-left: 1rem">Filter by</span>
					{{btn-list-manipulation text="Activity"
							onClick=(action updateSorting "updated")}}
					{{btn-list-manipulation text="Age"
							onClick=(action updateSorting "created" true)}}
					{{btn-list-manipulation text="A-Z"
							onClick=(action updateSorting "title" true)}}
					{{!--
					<span class="BtnGroup-label">&nbsp;</span>
					<button class="Btn Btn--small" {{action "changeLayout"}}>
						{{if isList "Bigger" "Smaller"}}
					</button>
					--}}
				{{/btn-group}}
			</div>

			<div class="Grid {{if isList 'Grid--wide'}}">
				<div class="Grid-cell">
					<p>
						Each radio is curated by one <b>human</b>. Listen, discover someone's personal selection.<br/>
					</p>
					{{#unless session.currentUser.channels.firstObject}}
						<p>
							If you feel like sharing yours, we welcome you to <a href="{{href-to "auth.login"}}" title="">create your own radio</a>.
						</p>
					{{/unless}}
					<p>
						{{play-random-channel}}
					</p>
					<p class="Muted">
						Tip: you can also press <strong>W</strong> anywhere on the site to play a random channel.
					</p>
				</div>

				{{#unless channels}}
					<div class="Grid-cell">
						{{#is-loading}}
							loading all channels...
						{{/is-loading}}
					</div>
				{{/unless}}
				{{#each manipulatedList as |item|}}
					<div class="Grid-cell">
						{{channel-card channel=item wide=isList}}
					</div>
				{{/each}}
				<!-- <div class="Grid-cell">
						 <p class="Muted">TIP: Press <strong>W</strong> anytime (on your keyboard) to play a random radio. Press <strong>W</strong> again to 'swap' to another one. Radios without music are not shown here.</p>
						 </div> -->
			</div>
		{{/list-manipulation}}
	</div>
</section>

<section class="Section Container">
	<p><a href="{{href-to 'channels'}}">See all featured radios &rarr;</a></p>
</section>
