<section class="Section">
	<div class="Container Container--full">
		{{#list-manipulation
				 sortKey=sortKey
				 sortDirection=sortDirection
				 list=filteredChannels
				 as |manipulatedList|}}

			<div class="BtnGroups">
				{{#btn-group}}
					<span class="BtnGroup-label">Sort by</span>
					{{link-to
							"Activity"
							"channels.all"
							(query-params sort="updated")
							class='Btn'
							title="Sort by activity, last updated date"}}
					{{link-to
							"Age"
							"channels.all"
							(query-params sort="created")
							class='Btn'
							title="Sort by age, created date"}}
					{{link-to
							"A-Z"
							"channels.all"
							(query-params sort="title")
							class='Btn'
							title="Sort by alphabetic order of titles"}}
				{{/btn-group}}

				{{#btn-group}}
					{{link-to
							"↑"
							"channels.all"
							(query-params sortDirection="asc")
							class='Btn'
							title="Sort direction: ascending"}}
					{{link-to
							"↓"
							"channels.all"
							(query-params sortDirection="desc")
							class='Btn'
							title="Sort direction: descending"}}
				{{/btn-group}}


				{{#btn-group}}
					<span class="BtnGroup-label">Search</span>
					{{list-search
							items=filteredChannels
							value=search
							afterSearching=(action "handleSearch")
							title="Search radio channels, titles and descriptions"}}
				{{/btn-group}}
			</div>

			<div class="Grid">
				<div class="Grid-cell">
					<p>
						Each radio is <a href="{{href-to "about"}}">curated by one <b>human</b></a>. Listen, discover someone's personal selection.<br/>
					</p>
					{{#unless session.currentUser.channels.firstObject}}
						<p>
							If you feel like sharing yours, we welcome you to <a href="{{href-to "auth.login"}}" title="">create your own radio</a>.
						</p>
					{{/unless}}
					{{#btn-group class="BtnGroup--full BtnGroup--vertical"}}
						{{play-random-channel class="Btn--large"}}
					{{/btn-group}}
					<p class="Muted">
						Tip: you can also press <strong>R</strong> on your keyboard anywhere on the site to play a random channel.
					</p>
				</div>

				{{#if channels}}
					{{#each manipulatedList as |item|}}
						<div class="Grid-cell">
							{{channel-card channel=item wide=isList}}
						</div>
					{{/each}}
				{{else}}
					<div class="Grid-cell Grid-cell--double">
						{{#is-loading}}
							Loading all radio channels
						{{/is-loading}}
					</div>
				{{/if}}
			</div>
		{{/list-manipulation}}
	</div>
</section>

<section class="Section Container">
	<p><a href="{{href-to 'channels'}}">See all featured radios &rarr;</a></p>
</section>
