{{#if model.favoriteChannels}}

	<section class="Section">
		<div class="Container Container--full">
			{{#list-manipulation
					 list=model.favoriteChannels
					 sortKey=sortKey
					 sortDirection=sortDirection
					 as |manipulatedList|}}
				<div class="BtnGroups">
					{{#btn-group}}
						<span class="BtnGroup-label">Sort radio channels by</span>
						{{link-to
								"Activity"
								"channel.favorites"
								(query-params sort="updated")
								class='Btn'
								title="Sort by activity, last updated date"}}
						{{link-to
								"Age"
								"channel.favorites"
								(query-params sort="created")
								class='Btn'
								title="Sort by age, created date"}}
						{{link-to
								"A-Z"
								"channel.favorites"
								(query-params sort="title")
								class='Btn'
								title="Sort by alphabetic order of titles"}}
					{{/btn-group}}

					{{#btn-group}}
						{{link-to
								"↑"
								"channel.favorites"
								(query-params sortDirection="asc")
								class='Btn'
								title="Sort by alphabetic order of titles"}}
						{{link-to
								"↓"
								"channel.favorites"
								(query-params sortDirection="desc")
								class='Btn'
								title="Sort by alphabetic order of titles"}}
					{{/btn-group}}
				</div>

				{{#if model.favoriteChannels}}
					<div class="Grid">
						{{#each manipulatedList as |item|}}
							<div class="Grid-cell">
								{{channel-card channel=item}}
							</div>
						{{/each}}
					</div>
			{{else}}
					<p>Tuning radios…</p>
					{{is-loading}}
				{{/if}}
			{{/list-manipulation}}
		</div>
	</section>

	{{else}}
	<div class="Container">
		<p>This radio doesn't have any favorites, yet.</p>
	</div>
{{/if}}
