<form class="Form" {{action "send" on="submit"}}>
	<div class="Form-group">
		{{textarea
			value=message
			placeholder="Your feedback"
			required="required"}}
	</div>
	<div class="Form-group">
		{{input
			type="email"
			value=email
			placeholder="Your email (optional, only used to answer you)"}}
	</div>

	<div style="display:none;" class="Form-group">
		<label>Don’t fill this out:
			{{input
				value=botField
				placeholder="This input is for botzzz, if filled, do not send -_-"}}
		</label>
	</div>

	<div class="BtnGroupWrapper BtnGroupWrapper--full">
		<button type="submit" class="Btn Btn--large" disabled={{notValid}}>
			{{#if sendFeedback.isRunning}}
					Sending…
				{{!-- {{else if sendFeedback.last.isSuccessful}}
					Sent! --}}
				{{else if sendFeedback.isError}}
					Error, try to refresh the page
				{{else}}
					Send feedback
				{{/if}}
		</button>
	</div>
</form>
