<div class="Manchet Manchet--left">
	<h1>All<small> — radios from A to Z</small></h1>
</div>

<div class="Container Container--full Flex Flex--single">
	{{input type="search" value=search placeholder="Search channels"}}

	{{#btn-group}}
		<h4 class="BtnGroup-label">Sort by</h4>

		<button class="Btn" {{action 'sortBy' 'created'}}>
			Date {{sort-indicator ascending=sortAscending}}
		</button>
		<button class="Btn" {{action 'sortBy' 'title'}}>
			Name {{sort-indicator ascending=sortAscending}}
		</button>
	{{/btn-group}}
</div>

<div class="Container Container--full Container--noPadding">
	{{channels-list channels=channels}}
</div>

<div class="Container Container--full">
	<p>Don't know which one to pick? {{#link-to 'channels.all'}}See currated radios{{/link-to}}.</p>
</div>
