<section class="Section">
	{{#unless model.featured}}
		<div class="Container">
			{{is-loading}}
		</div>
	{{else}}
		<div class="Container Container--full">
			<div class="Grid">
				<div class="Grid-cell">
					<p>Hello and welcome!</p>
					<p>You can start your journey by listening to one of the radio on this page.</p>
					<p>Otherwise, let's explore!</p>
					<p>
						&rarr; <a href="{{href-to 'about.intro'}}">What is Radio4000?</a><br/>
						&rarr; <a href="{{href-to 'channels.all'}}">See all radios</a>
					</p>
				</div>
				{{#each sortedFeaturedChannels as |channel|}}
				  <div class="Grid-cell">
				    {{channel-card channel=channel}}
				  </div>
				{{/each}}
			</div>
		</div>
	{{/unless}}
</section>
