<section class="Section">
	<div class="Manchet Manchet--left">
		<h1>Discover<small> — editor's selection</small></h1>
	</div>

	{{#if model.featured}}
		<div class="Container Container--full">
			<div class="Grid">
				{{#each model.featured as |item|}}
					<div class="Grid-item">
						{{channel-card channel=item}}
					</div>
				{{/each}}
				<div class="Grid-item">
					<h3>Tip</h3>
					<p class="Muted">Each selected channel has been curated by human ears and handpicked for its unquestionable quality.</p>
					<p class="Muted">Listen to music you'll love, it's free! {{link-to 'See all channels' 'channels.all'}}.</p>
				</div>
			</div>
		</div>
	{{else}}
		{{is-loading}}
	{{/if}}
</section>

{{!-- <section class="Section">
	<div class="Manchet Manchet--left">
		<h2>Popular <small> — listener favorites</small></h2>
	</div>

	<div class="Container Container--full">
		<div class="Grid">
			<div class="Grid-item">
				<h3>Tip</h3>
				<div class="Muted">
					<p>These are the most popular channels as rated by listeners. Diverse music tastes are the foundation of Radio4000.</p>
					<p>Each human gets a single, ongoing channel - a blank slate to be shaped by their own music taste!</p>
					{{#link-to 'channels.new' class="Btn"}}
					Get my own radio
					{{/link-to}}
				</div>
			</div>

			{{#if topSortedChannels}}
				{{#each topSortedChannels as |item|}}
					<div class="Grid-item">
						{{channel-card channel=item}}
					</div>
				{{/each}}
			{{else}}
				{{is-loading}}
			{{/if}}
		</div>
	</div>
</section> --}}

<section class="Section">
	<div class="Manchet Manchet--left">
		<h2><small>Your</small> favorite <small>radios</small></h2>
	</div>

	<div class="Container Container--full">
		<div class="Grid">
			{{#if currentUserFavorites}}
				{{#each currentUserFavorites as |item|}}
					<div class="Grid-item">
						{{channel-card channel=item}}
					</div>
				{{/each}}
			{{else}}
				<div class="Grid-item">
					<h3>Tip</h3>
					<div class="Muted">
						<p>You don't have any favorite Radio channel yet.</p>
						<p>Play other radios to find some you'll like.</p>
					</div>
				</div>
			{{/if}}

		</div>
	</div>
</section>

<div class="Container">
	<p>{{#link-to 'channels.all'}}See all radios &rarr;{{/link-to}}</p>
</div>
