<div class="Sections">
	<section class="Section">
		<div class="Manchet">
			<h1>Discover<small> — editor's selection</small></h1>
		</div>

		{{#unless model.featured}}
			<div class="Container">
				{{is-loading}}
			</div>
		{{else}}
			<div class="Container Container--full">
				<div class="Grid">
					{{#each model.featured as |item|}}
						<div class="Grid-cell">
							{{channel-card channel=item}}
						</div>
					{{/each}}
					<div class="Grid-cell Grid-cell--double">
						<h3>Tip</h3>
						<div class="Muted">
							<p>Each selected channel has been curated by human ears and handpicked for its unquestionable quality. Listen to music you'll love, it's free!</p>
						</div>
						<p>&rarr; {{href-to 'See all channels' 'channels.all'}}
							{{#unless model.userChannel}}
								<br>&rarr; {{href-to 'Create your own radio' 'channels.new' class="" title="Create your own radio now or log in"}}
							{{/unless}}
							{{#unless session.isAuthenticated}}
								<br>&rarr; {{href-to 'Sign in or register' 'login' class="" title="Create your own radio now or log in"}}
							{{/unless}}
						</p>
					</div>
				</div>
			</div>
		{{/unless}}
	</section>

	{{#if model.userChannel.favoriteChannels}}
		<section class="Section">
			<div class="Manchet">
				<h2><small>Your</small> favorite <small>radios</small></h2>
			</div>

			<div class="Container Container--full">
				<div class="Grid Grid--wide">
					{{#each model.userChannel.favoriteChannels as |item|}}
						<div class="Grid-cell">
							{{channel-card channel=item wide=true}}
						</div>
					{{/each}}
				</div>
			</div>
		</section>
	{{/if}}
</div>
