<div class="Sections">
	{{#unless session.isAuthenticated}}
		<div class="Container u-tc">
			<h3>Welcome to Radio4000! (version 1)</h3>
			<p>
				Start exploring by listening to one of these
				<a href="{{href-to 'about'}}">curated radio channels</a>.
			</p>
		</div>
	{{/unless}}

	<div class="Container u-tc">
		<p>
			Visit the <a href="https://radio4000.com">version 2 website on radio4000.com</a>
			 to continue listening or to operate your radio channel.</p>
	 	<p><a href="https://matrix.to/#/#radio4000:matrix.org" #radio4000:matrix.org</a>
			community chat, or on
			<a href="https://github.com/radio4000/components">github</a>
		</p>
	</div>

	<section class="Container Container--full">
		<div class="BtnGroup BtnGroup--center">
			{{play-random-channel class="Btn--important"}}
			<button {{action "refreshSelection"}} class="Btn">
				<i>⟳</i>
				Load new radios
			</button>
		</div>
	</section>

	<section class="Section Section--flex Section--flexCenter">
		<div class="Container Container--full">
			<div class="Grid Grid--vcenter Grid--home">
				{{#if filteredModel.length}}
					{{#each filteredModel as |channel|}}
						<div class="Grid-cell">
							{{channel-card channel=channel}}
						</div>
					{{/each}}
				{{else}}
					{{#if model.length}}
						<div class="Grid-cell">
							{{#is-loading}}
								Loading featured radio channels…
							{{/is-loading}}
						</div>
					{{else}}
						<div class="Grid-cell">
							There are no featured channels
						</div>
					{{/if}}
				{{/if}}
			</div>
			{{#unless session.isAuthenticated}}
				<div class="u-tc">
					<p>You could also
						<a href={{href-to "auth.signup"}}>create a radio</a>
						for yourself.</p>
				</div>
			{{/unless}}
		</div>
	</section>
</div>
