<div class="Manchet Manchet--left">
	<h1>Discover<small> — curated radios</small></h1>
</div>

<div class="Container Container--full">
	<div class="Section">
		{{#if model.featured}}

			{{#each-grid items=model.featured as |item|}}
				{{#link-to 'channel' item}}
					{{channel-card channel=item}}
				{{/link-to}}
			{{/each-grid}}

		{{else}}
			<p>Finding curated radios…</p>
			{{partial 'partials/loader'}}
		{{/if}}
	</div>
</div>

<div class="Manchet Manchet--left">
	<h2>Popular <small> — hall of fame</small></h2>
</div>

<div class="Container Container--full">
	<div class="Section">
		{{#if popular}}
			{{#each-grid items=popular as |item|}}
				{{#link-to 'channel' item}}
					{{channel-card channel=item}}
				{{/link-to}}
			{{/each-grid}}
		{{else}}
			<p>Finding popular radios…</p>
			{{partial 'partials/loader'}}
		{{/if}}
	</div>

	<p>{{#link-to 'channels.all'}}See all radios &rarr;{{/link-to}}</p>
</div>
