<section class="Container Container--full">
	<div class="BtnGroup BtnGroup--right">
		{{play-random-channel}}
		<button {{action 'refreshSelection'}} class="Btn">
			<i>⟳</i> Load new radios
		</button>
	</div>
</section>

<section class="Section Section--flex Section--flexCenter">
	<div class="Container Container--full">
		<div class="Grid Grid--vcenter">
			{{#if filteredModel.length}}
				{{#each filteredModel as |channel|}}
					<div class="Grid-cell">
						{{channel-card channel=channel}}
					</div>
				{{/each}}
			{{else}}
				{{#if model.length }}
					<div class="Grid-cell">
						{{#is-loading}}
							Loading featured radio channels…
						{{/is-loading}}
					</div>
				{{else}}
					<div class="Grid-cell">
						There are no featured channels
					</div>
				{{/if}}
			{{/if}}

			{{#unless session.isAuthenticated}}
				<div class="Grid-cell Grid-cell--double">
					<h3>Welcome to Radio4000!</h3>
					<p>Start your journey by listening to one of the radio channels on this page.</p>
					<p>
						Each radio is <a href="{{href-to 'about'}}">curated by a human</a>.
					</p>
				</div>
			{{/unless}}
		</div>
	</div>
</section>

{{#unless session.isAuthenticated}}
<section class="Container">
	<div class="u-tc">
		{{#if session.isAuthenticated}}
			<p>If anything, <a href="{{href-to 'feedback'}}">get in touch</a>.</p>
		{{else}}
			<p>It is always possible to <a href={{href-to "auth.signup"}}>create a radio yourself</a>.</p>
		{{/if}}
	</div>
</section>
{{/unless}}
