<form class="Form AddTrack" {{action "saveTrack" on='submit'}}>
	<div class="Form-group">
		<label for="trackUrl">URL</label>
		{{focus-input id="trackUrl" type="url" value=model.url placeholder="Or paste in a YouTube link" required="required" autofocus="autofocus"}}
	</div>
	<div class="Form-group Form-group--relative">
		<label for="trackTitle">Title</label>
		{{input id="trackTitle" value=model.title placeholder="Search for a track" required="required"}}<br>
		{{#if isFetchingTitle}}<p class="Form-groupStatus">Updating…</p>{{/if}}
		{{youtube-search query=model.title action="addFromSearch"}}
	</div>
	<div class="Form-group">
		<label for="trackBody">Description</label>
		{{input id="trackBody" value=model.body placeholder="Fantastic track! #fantastic (optional)"}}<br>
	</div>

	<div class="Form-group">
		<button class="Btn Btn--primary {{if justAdded 'is-flashing'}}" type='submit' title="Add track to your radio">Add track</button>
		<button class="Btn Btn--text" {{action 'cancelEdit' title="Stop editing the track"}}>
			Cancel
		</button>
	</div>
</form>

 {{yield}}
