<div class="Form-group">
	<label title="Paste in the URL of a YouTube video">URL
		{{focus-input type="url" value=track.url required="required" placeholder="Paste in a YouTube link" autofocus="autofocus"}}
		{{errors-display showErrors=showErrors errors=errors.track.url}}
	</label>
</div>

<div class="Form-group Form-group--relative">
	<label title="Give your track a title">Title
		{{input value=track.title placeholder="Enter the track title" required="required"}}<br>
		{{errors-display showErrors=showErrors errors=errors.track.title}}
	</label>
	{{#if isFetchingTitle}}<p class="Form-groupStatus">Updating…</p>{{/if}}
	{{!-- {{youtube-search query=model.title action="addFromSearch"}} --}}
</div>

<div class="Form-group">
	<label title="Give your track an optional description">Description
		{{input value=track.body placeholder="Fantastic track! #fantastic (optional)"}}<br>
		{{errors-display showErrors=showErrors errors=errors.track.body}}
	</label>
</div>

<div class="Form-group">
	<div class="BtnGroupWrapper BtnGroupWrapper--full">
		{{#btn-group}}
			<button {{action "submit"}} type="submit" class="Btn Btn--primary {{if justAdded 'is-flashing'}}" title="Add track to your radio">Add track</button>
			<button {{action "cancel"}} class="Btn Btn--text" title="Nevermind, do not add the track">Cancel</button>
		{{/btn-group}}
	</div>
</div>

{{yield}}
