<div {{bind-attr class=':Playback model:is-active'}}>
	{{#if model}}

		<p>
			{{#if isPlaying}}
				<button {{action 'pause'}}<strong>ll</strong></button>
			{{else}}
				<button {{action 'play'}}>►</button>
			{{/if}}

			<button {{action 'togglePlayer'}}>
				{{#if isMinimized}}Show{{else}}Hide{{/if}}
			</button>

			<span class="Playback-title">{{provider}}: {{key}}</span>
		</p>

		<div {{bind-attr class=':Player isMinimized model.provider'}}>

			<iframe id="YouTubePlayer" width="100%" height="166" frameborder="0"
				{{bind-attr src="youtubeUrl"}}></iframe>

			<iframe id="SoundcloudPlayer" width="100%" height="166" frameborder="0"
				{{bind-attr src="soundcloudUrl"}}></iframe>
		</div>

	{{else}}
		<p>Choose a sound!</p>
	{{/if}}
</div>
