<h2>Sounds</h2>

<ul class="List">
	{{#each sound in controller}}
	<li class="List-item">
		{{#link-to 'sound' sound}}
			{{sound.key}} <small>{{sound.provider}}</small>
		{{/link-to}}
	</li>
	{{/each}}
</ul>

<div {{bind-attr class=":Sound isHidden:is-hidden"}}>
	<button class="Sound-toggleBtn" {{action toggleSound}}>Toggle</button>
	{{outlet}}
</div>
