{{#if player.isPlaying}}
	<div class="u-dn">
		{{#btn-group class="BtnGroup--right"}}
			{{#if session.currentUser.channels.firstObject.isPremium}}
				<button
					{{action "prefillCurrentTrack"}}
					class="Btn"
					type="button"
					title="Add the current 'on air' track into your radio [⌨ a]">
					Copy current track
				</button>
			{{else}}
				<button
					{{action "inviteToPremium"}}
					class="Btn Muted"
					type="button"
					title="(Upgrade) Add the current 'on air' track into your radio [⌨ a]">
					Copy current track
				</button>
			{{/if}}
		{{/btn-group}}
	</div>
{{/if}}


{{#form-group
	model=track
	valuePath="url"
	label="URL"
	hint="Paste in the URL of a YouTube video" as |value|}}
	{{focus-input
			type="url"
			value=value
			required="required"
			placeholder="Paste in a YouTube link"
			autoFocus=true}}
{{/form-group}}

{{#form-group
	model=track
	valuePath="title"
	label="Title"
	hint="Paste in the URL of a YouTube video" as |value|}}
	{{input value=value placeholder="Enter the track title" required="required"}}
	{{#if fetchTitle.isRunning}}
		<p class="Form-groupStatus">Updating…</p>
	{{/if}}
{{/form-group}}

{{#form-group
		 model=track
		 valuePath="body"
		 label="Description"
		 hint="Give your track an optional description" as |value|}}
	{{textarea value=value placeholder="Fantastic track! #fantastic (optional)"}}<br>
{{/form-group}}

<div class="Form-group">
	{{#btn-group class="BtnGroupWrapper BtnGroupWrapper--full"}}
		<button {{action "submit"}} type="submit" class="Btn Btn--important" title="Add track to your radio" disabled={{disableSubmit}}>
			{{if submitTask.isIdle "Add track" "Adding…"}}
		</button>
		<button {{action "cancel"}} type="button" class="Btn" title="Go back, do not add the track">Cancel</button>
	{{/btn-group}}
</div>
