<div class="Playback-player">
	<!-- Do you like this player? It's open source!
	 github.com/internet4000/radio4000-player -->
	<script src="http://localhost:4002/dist/radio4000-player.js"></script>
	<radio4000-player
		autoplay="true"
		r4-url="true"
		track-id={{track.id}}
		class="{{if uiStates.isMinimized 'mini'}}"
	></radio4000-player>
</div>

<div class="Playback-layoutButtons">
	<button class="Btn Btn--small" {{action 'toggleMinimizedFormat'}} title="Toggle minimized player (press 'F')">
		{{if uiStates.isMinimized '⬒' '_'}}
	</button>

	<button class="Btn Btn--small" {{action 'toggleFullscreenFormat'}} title="Toggle fullscreen player (press 'F')">
		{{#if uiStates.isFullscreen}}
			{{x-icon i='arrows-compress'}}
		{{else}}
			{{x-icon i='arrows-expand'}}
		{{/if}}
	</button>
</div>

