<div class="Playback">

	{{#if player.model}}
		<div class="Playback-title" title="Current track / go to current radio">
			{{#link-to 'channel.index' player.model.channel}}
				{{player.model.title}}
				<span class="Playback-channel">({{player.model.channel.title}})</span>
			{{/link-to}}
		</div>
	{{/if}}

	<div class="Playback-buttons">

		<label class="Playback-shuffle Btn Btn--text {{if player.isShuffled 'is-active'}}" for="isShuffled" title="Toggle shuffle playback">
			{{x-icon i='shuffle'}}
			{{input type="checkbox" id="isShuffled" checked=player.isShuffled class="is-hidden"}}
		</label>

		<button class="NonBtn" {{action 'prev' model}} title="Previous track">
			{{x-icon i='previous'}}
		</button>

		{{#if player.isPlaying}}
			<button class="NonBtn" {{action 'togglePlay' target="emberYoutube"}} title="Pause track">
				{{x-icon i='pause'}}
			</button>
		{{else}}
			<button class="NonBtn" {{action 'togglePlay' target="emberYoutube"}} title="Play track">
				{{x-icon i='play'}}
			</button>
		{{/if}}

		<button class="NonBtn" {{action 'next' model}} title="Next track">
			{{x-icon i='next'}}
		</button>
	</div>

	<button class="Playback-videoBtn NonBtn" {{action 'toggleFullscreen'}} title="Toggle fullscreen video">
		{{#if uiStates.isFullscreen}}
			{{x-icon i='arrows-compress'}}
		{{else}}
			{{x-icon i='arrows-expand'}}
		{{/if}}
	</button>
</div>
