<div class="Playback-title" title="Current track / go to current radio">
	{{#if player.model}}
		<div {{action "scrollToTrack"}}>
			{{#link-to 'track' player.model.channel player.model replace=true}}
				{{player.model.title}}
				<span class="Playback-channel">({{player.model.channel.title}})</span>
			{{/link-to}}
		</div>
	{{else}}
	{{/if}}
</div>

{{#unless player.model}}
	{{#link-to 'channels.all' class="Playback-welcomeLink"}}
		{{x-icon i='play'}} Find a radio channel to play!
	{{/link-to}}
{{/unless}}

<div class="Playback-buttons">
	<button class="Playback-shuffle Btn Btn--text  {{if player.isRandom 'is-active'}}" {{action 'toggleRandom'}} title="Toggle shuffle playback">
		{{x-icon i='shuffle'}}
	</button>
	<button class="NonBtn" {{action 'prev'}} title="Previous track">
		{{x-icon i='previous'}}
	</button>

	{{player/play-pause isPlaying=player.isPlaying play=(action "play") pause=(action "pause")}}

	<button class="NonBtn" {{action 'next'}} title="Next track">
		{{x-icon i='next'}}
	</button>

	<button class="Playback-toggleVolume NonBtn" {{action "toggleVolume"}} title="Toggle the playback volume">
	    {{#if radioDevice.isMuted}}Unmute{{else}}Mute{{/if}}
	</button>
</div>

<button class="Playback-fullscreenBtn NonBtn" {{action 'toggleFullscreen'}} title="Toggle fullscreen video">
	{{#if uiStates.isFullscreen}}
		{{x-icon i='arrows-compress'}}
	{{else}}
		{{x-icon i='arrows-expand'}}
	{{/if}}
</button>
