<div class="Playback-layoutButtons">
	{{!-- skip button is hidden for now because it doesn't fit here ux-wise --}}
	{{#if player.model.channel}}
		<button class="Btn Btn--small"
			onClick={{perform bot.playAnotherRadio channel}}
			disabled={{bot.playAnotherRadio.isRunning}}
			title="Swap to another radio">
			{{if bot.playAnotherRadio.isIdle 'Swap' 'Swapping'}}
		</button>
	{{/if}}
	<button class="Playback-minimalBtn Btn Btn--small" {{action 'toggleMinimizedPlayer'}} title="Toggle minimized player">
		{{if uiStates.player.isMinimized '⬒' '_'}}
	</button>
	<button class="Playback-fullscreenBtn Btn Btn--small" {{action 'toggleMaximizedPlayer'}} title="Toggle fullscreen player">
		{{#if uiStates.player.isMaximized}}
			{{x-icon i='arrows-compress'}}
		{{else}}
			{{x-icon i='arrows-expand'}}
		{{/if}}
	</button>
</div>

<div class="Playback-player">
	{{radio-bot}}
	{{yield}}
	{{ember-youtube class="Player"
		ytid=player.model.ytid
		delegate=this
		delegate-as="emberYoutube"
		playerVars=youtubePlayerVars
		showProgress=true
		lazyload=true
		playing="onYouTubePlay"
		paused="onYouTubePause"
		ended="onYouTubeEnd"
		error="onYouTubeError"}}
</div>

{{#if player.model}}
	<div class="Playback-channel">
		{{channel-card channel=channel wide=true}}
	</div>
	<div class="Playback-text">
		<div class="Playback-title" title="Current track / go to current radio">
			<div {{action "scrollToTrack"}}>
				{{#link-to 'track' channel player.model replace=true}}
					{{player.model.title}}
				{{/link-to}}
			</div>
		</div>
		{{#if player.model.body}}
			<p class="Playback-description">"{{player.model.body}}"</p>
		{{/if}}
	</div>

{{/if}}

<div class="Playback-buttons {{unless player.model "u-hide"}}">
	<button class="Playback-button Playback-shuffle {{if player.isRandom 'is-active'}}" {{action 'toggleRandom'}} title="{{if player.isRandom 'Disable shuffle' 'Enable shuffle'}}">
		{{x-icon i='shuffle'}}
	</button>

	<button class="Playback-button" {{action 'prev'}} title="Previous track">
		{{x-icon i='previous'}}
	</button>

	{{play-pause-btn isPlaying=player.isPlaying play=(action "play") pause=(action "pause") class="Playback-button"}}

	<button class="Playback-button" {{action 'next'}} title="Next track">
		{{x-icon i='next'}}
	</button>

	<button class="Playback-button Playback-toggleVolume {{if emberYoutube.isMuted 'u-textStrike'}}" {{action "toggleVolume"}} title="Toggle the playback volume">Mute</button>
</div>
