<nav {{action "closePanel"}}>

	{{#if session.userChannel}}
	<div class="NavGroup">
		<figure class="Thumbnail" {{bind-attr style=session.userChannel.coverImage.background}}></figure>
		{{#link-to 'channel' session.userChannel title="Go to my channel"}}{{session.userChannel.title}}{{/link-to}}
	</div>
	{{/if}}

	<div class="NavGroup">
		{{#if session.authed}}
			{{#link-to 'application' title="Discover channels"}}→ Dashboard{{/link-to}}
		{{/if}}
		{{#link-to 'channels' title="Discover channels"}}→ Discover{{/link-to}}
		{{#if session.authed}}
			{{#if session.userChannel}}
				{{#link-to 'channel' session.userChannel title="Go to my channel"}}→ My channel{{/link-to}}
				{{!-- {{#link-to 'tracks.add' session.userChannel title="Add a track to my channel"}}{{x-icon i="plus"}} Add track{{/link-to}} --}}
			{{else}}
				{{#link-to 'new' title="Create your channel"}}My channel{{/link-to}}
			{{/if}}
		{{else}}
			{{#link-to 'new' title="Create your channel"}}+ Create my channel{{/link-to}}
		{{/if}}

	</div>

	<div class="NavGroup">
		{{!-- {{#link-to 'application' title="Back to home"}}Home{{/link-to}} --}}
		{{#link-to 'about' title="Learn more about Radio4000"}}About{{/link-to}}
		{{#link-to 'help' title="Answers to your questions"}}Help{{/link-to}}
		{{!-- {{#link-to 'forum' title="Help us evolve. Join the Radio 4000 forum"}}Forum{{/link-to}}
		 --}}
		<a href="https://groups.google.com/forum/#!forum/radio4000" target="_blank">Forum</a>
		{{#link-to 'log' title="See what's new in the changelog"}}Log{{/link-to}}
	</div>

	<div class="NavGroup">
		{{#if session.authed}}
			<a href="#" class="Muted" title="Sign out from Radio 4000" {{action 'logout' this}}>Sign out</a>
		{{else}}
			{{#link-to 'signin' title="Sign in to Radio 4000"}}Sign in / Register{{/link-to}}
		{{/if}}
	</div>

</nav>
