<nav>
	<div class="NavGroup">
		<div class="UserChannel">
			{{#if session.userChannel}}
				{{#link-to 'channel' session.userChannel title="Go to my channel"}}

					<img class= "UserChannel-media" src="{{session.userChannel.coverImage.src}}">

					<div class="UserChannel-body">
						<p class="UserChannel-intro Muted">Your radio channel</p>
						<p class="UserChannel-title">{{session.userChannel.title}}</p>
					</div>
				{{/link-to}}
			{{else}}
				{{#link-to "new" class="" title="Create your channel"}}
					<div class="UserChannel-body BoxIcon BoxIcon--add">
						<p class="UserChannel-title">Create your channel</p>
					</div>
				{{/link-to}}
			{{/if}}
		</div>
	</div>

	<div class="NavGroup">
		{{#link-to 'channels' title="Discover channels"}}Discover{{/link-to}}
	</div>

	<div class="NavGroup">
		{{#link-to 'about' title="Learn more about Radio4000"}}About{{/link-to}}
		{{#link-to 'help' title="Answers to your questions"}}Help / FAQ{{/link-to}}
	</div>

	<div class="NavGroup">
		{{#if session.authed}}
			<a href="#" class="Muted" title="Sign out from Radio 4000" {{action 'logout' this}}>Sign out</a>
		{{else}}
			{{#link-to 'signin' title="Sign in to Radio 4000"}}Register or sign in{{/link-to}}
		{{/if}}
	</div>
</nav>
