<aside class="PanelNav">
	<div class="PanelNav-overlay"></div>

	<div class="PanelNav-inner">
		<div class="PanelNav-group">
			<div class="UserChannel">
				{{#if session.currentUser.channels.firstObject}}
					{{#link-to 'channel' session.currentUser.channels.firstObject title="Go to my radio"}}

						<img class= "UserChannel-media" src="{{session.currentUser.channels.firstObject.coverImage.thumb}}">

						<div class="UserChannel-body">
							<p class="UserChannel-intro Muted">Your radio</p>
							<p class="UserChannel-title">{{session.currentUser.channels.firstObject.title}}</p>
						</div>
					{{/link-to}}
				{{else}}
					{{#link-to 'channels.new' class="" title="Create your radio"}}
						<div class="UserChannel-body BoxIcon BoxIcon--add">
							<p class="UserChannel-title">Create your radio</p>
						</div>
					{{/link-to}}
				{{/if}}
			</div>
		</div>

		<div class="PanelNav-group">
			{{#link-to 'intro' title="Get introduced Radio4000"}}Introduction{{/link-to}}
			{{#link-to 'about' title="Learn more about Radio4000"}}About{{/link-to}}
			<a href="http://blog.radio4000.com" target="_blank" title="How's the weather at Radio4000?">Blog &rarr;</a>
			{{#link-to 'help' title="Answers to your questions"}}Help{{/link-to}}
		</div>

		{{#if session.isAuthenticated}}
			<div class="PanelNav-group">
				<form class="CheckboxRemote">
					<label>{{input type="checkbox" name="activateRemotetoggle" checked=activateRemote}}Use this device as a remote control/{{activateRemote}}</label>
				</form>
			</div>
		{{/if}}

		<div class="PanelNav-group">
			{{#if session.isAuthenticated}}
				<a href="#" class="Muted" title="Log out from Radio4000" {{action 'logout' this}}>Log out</a>
			{{else}}
				{{#link-to 'login' title="Log in to Radio4000"}}Log in{{/link-to}}
			{{/if}}
		</div>
	</div>
</aside>
