<aside class="PanelNav">
	<div class="PanelNav-overlay"></div>

	<div class="PanelNav-inner">
		{{#if authed}}
			<div class="PanelNav-group">
				<div class="UserChannel">
					{{#if userChannel}}
						{{#link-to 'channel' userChannel title="Go to my radio"}}

							<img class= "UserChannel-media" src="{{userChannel.coverImage.thumb}}">

							<div class="UserChannel-body">
								<p class="UserChannel-intro Muted">Your radio</p>
								<p class="UserChannel-title">{{userChannel.title}}</p>
							</div>
						{{/link-to}}
					{{else}}

							{{#link-to "channels.new" title="Create your radio"}}
								<div class="UserChannel-body BoxIcon BoxIcon--add">
									<p class="UserChannel-title">Create your radio</p>
								</div>
							{{/link-to}}
					{{/if}}
				</div>
			</div>
		{{/if}}

		<div class="PanelNav-group">
			{{#link-to 'intro' title="Get introduced to Radio4000"}}Introduction{{/link-to}}
			{{#link-to 'about' title="Learn more about Radio4000"}}About{{/link-to}}
			{{#link-to 'help' title="Answers to your questions"}}Help{{/link-to}}
			<a href="http://blog.radio4000.com" target="_blank" title="How is the weather at Radio4000?">&rarr; Blog</a>
		</div>

		{{!-- {{#if authed}}
			<div class="PanelNav-group">
				<form class="CheckboxRemote">
					<label title="Your radio will automatically play the tracks you play on another device.">{{input type="checkbox" checked=session.currentUser.settings.isRemoteActive}}Remote control</label>
				</form>
			</div>
		{{/if}} --}}

		<div class="PanelNav-group">
			{{#if authed}}
				<a href="#" class="Muted" title="Log out from Radio4000" {{action 'logout' this}}>Log out</a>
			{{else}}
				{{#link-to 'login' title="Register or log in to Radio4000"}}Register or log in{{/link-to}}
			{{/if}}
		</div>
	</div>
</aside>
