<div class="BigStep">
	<div class="BigStep-container">

		<h1 class="BigStep-title">Name your radio</h1>

	<form class="Form" {{action "create" on="submit"}}>

		<div class="Form-group">
			{{focus-input value=newRadioTitle
							  required="required"
							  placeholder='For instance: “The Pirate Radio”'
							  maxlength=titleMaxLength minlength=titleMinLength}}
		</div>

		{{#if titleError}}
			<p class="u-underline">Please keep your name between {{titleMinLength}} and {{titleMaxLength}} characters.</p>
		{{/if}}

		<p class="Muted">Don't worry, you can change it <em>anytime later!</em></p>

		<div class="Form-group">
			<div class="BigStep-buttons">
				<button disabled={{isSaving}} type="submit" class="Btn " title="Create your radio channel">
					{{#if isSaving}}Creating…{{else}}Create my radio{{/if}}
				</button>
			</div>
		</div>

	</form>

	</div>
</div>
