<div class="BigStep">
	<div class="BigStep-container">

		<h1 class="BigStep-title">Just <span class="u-underline">name</span> your radio</h1>

	<form class="Form" {{action "create" on="submit"}}>

		<div class="Form-group">
			{{focus-input value=model.title
							  placeholder='For instance: “The Pirate Radio”'
							  required="required" maxlength=titleMaxLength minlength=titleMinLength}}
		</div>

		{{#if titleError}}
			<p class="u-underline">Oops, please keep your name betzeen {{titleMinLength}} and {{titleMaxLength}} characters. Currently {{model.title.length}}</p>
		{{/if}}

		<p>Don't worry, you can change it <em>anytime later</em>!</p>

		<div class="Form-group">
			<div class="BigStep-buttons">
				<button disabled={{isSaving}} type="submit" class="Btn " title="Create your radio channel">
					{{#if isSaving}}Creating…{{else}}Create my radio{{/if}}
				</button>
			</div>
		</div>

	</form>

	</div>
</div>
