{{title "Create radio"}}

<section class="Sections Sections--center">
	<div class="Section">

		<header class="Manchet">
			<h1><small>Choose a </small>name<small> for your </small>radio</h1>
		</header>

		<div class="Container">
			<form onsubmit={{perform createRadio}}>
				<div class="Form Form--full">
					{{#form-group model=this valuePath="title"  as |v|}}
						{{focus-input
								autoFocus=true
								value=v
								required="required"
								placeholder="ex: “The Pirate Radio”"}}
					{{/form-group}}
				</div>
				<p class="u-tc">
					You can <em>always</em> change it later.
				</p>
				<p class="u-tc">
					<button type="submit"
						class="Btn Btn--large"
						title="Create your radio channel"
						disabled={{disableSubmit}}>
						{{if createRadio.isRunning "Creating…" "Create radio channel"}}
					</button>
				</p>
			</form>
		</div>
	</div>
</section>
