<a class="Track-link" href="#" {{action 'play' track}}>
{{!-- {{#link-to 'track' track class="Track-link"}} --}}
	<h3 class="Track-title">
		{{track.title}}
	</h3>
	<p class="Track-body">{{track.body}}</p>
{{!-- {{/link-to}} --}}
</a>

{{#unless trackWidget}}
	<p class="Track-controls Muted" title="Edit the track" {{action 'edit'}}>

		{{!-- using a static icon to avoid an extra component for performance --}}
		{{!-- {{x-icon i="pencil"}} --}}
		<svg class="icon-pencil">
			<use xlink:href="/assets/images/icons/sprite.svg#icon-pencil"></use>
		</svg>
	</p>
{{/unless}}
