<a href="{{href-to 'channel.tracks.track' track}}" {{action "play" track}}>
	<h3 class="Track-title">{{track.title}}</h3>
	<p class="Track-body">{{track.body}}</p>
</a>

{{track-contextual
	track=track
	canEdit=canEdit
	onEdit=(action "onEdit")
	onCopyTrack=(action "copyTrack")}}

{{yield}}
