{{#if hasLocation}}
	{{#leaflet-map
		maxBounds=maxBounds
		lat=lat
		lng=lng
		zoom=zoom
		onLoad=(action "initMap")
		onMoveend=(action "updateCenter")
	}}
		{{tile-layer url="https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png"}}

		{{#marker-layer location=location}}
			{{#popup-layer}}
				<div style="padding:1rem 2rem">Your radio</div>
			{{/popup-layer}}
		{{/marker-layer}}
	{{/leaflet-map}}

	<div class="BtnGroupWrapper BtnGroupWrapper--full">
		<div class="BtnGroup">
			<button class="Btn" onclick={{perform submitTask null null}}>Remove location</button>
			{{#if showButtons}}
				<button class="Btn Btn--text" {{action "cancel"}}>Cancel</button>
			{{/if}}
		</div>

		{{#if showButtons}}
			<div class="BtnGroup--right">
				<button
					class="Btn Btn--primary"
					title="Update the coordinates of your radio channel"
					onclick={{perform submitTask currentLat currentLng}}
					disabled={{submitTask.isRunning}}>
					{{if submitTask.isIdle "Save coordinates" "Saving…"}}
				</button>
			</div>
		{{/if}}
	</div>
{{else}}
	<button class="Btn Btn--primary" onclick={{perform submitTask 10.487811882056695 40.42968750000001}}>Add location</button>
{{/if}}

{{yield}}
