<form class="Form" onsubmit={{perform update newLat newLng}}>
	{{#leaflet-map
			 maxBounds=maxBounds
			 lat=newLat
			 lng=newLng
			 zoom=zoom
			 onMoveend=(action "updateCenter")}}
		{{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
		{{#marker-layer location=location}}
			{{#popup-layer}}
				Your radio
			{{/popup-layer}}
		{{/marker-layer}}
	{{/leaflet-map}}

	<!-- <div class="Form-group">
			 <label>Latitude: {{input value=newLat }}</label>
			 </div>
			 <div class="Form-group">
			 <label>Longitude: {{input value=newLng }}</label>
			 </div> -->
	<div class="BtnGroupWrapper BtnGroupWrapper--full">
		<button class="Btn" {{action "cancel"}}>Cancel</button>
		<button
			class="Btn Btn--primary"
			title="Update the localisation coordinates of your radio channel"
			disabled={{update.isRunning}}>
			{{if update.isIdle "Update localisation" "Updating…"}}
		</button>
	</div>
</form>

{{yield}}
