<div class="Application" {{bind-attr class='isMaximized'}}>

	<header class="SiteHeader">

		<div class="Bar">
			<h1 class="SiteLogo">
				{{#link-to "index" title="Back to the dashboard"}}
					<img src="images/radio4000-small-cropped.png" alt="Radio 4000">
				{{/link-to}}
			</h1>

			<nav>
				{{#if auth.authed}}
					{{#if auth.user.playlists}}
						{{#link-to 'playlist' this}}My playlist{{/link-to}}
					{{/if}}
				{{/if}}

				{{#link-to 'playlists'}}Discover{{/link-to}}

				<aside class="ContextualNavigation u-alignRight">
					{{#if auth.authed}}
						{{#if auth.user.playlists}}
							{{#link-to 'playlist' this}}+ Add track{{/link-to}}
							{{else}}
								{{#link-to 'new' this}}+ Create your playlist{{/link-to}}
						{{/if}}

						{{else}}
							{{#link-to 'login'}}Log in{{/link-to}}
					{{/if}}

				</aside>
			</nav>

		</div>


	</header>

	<main class="SiteMain">
		{{outlet}}
	</main>

	<aside class="SiteAside">
		{{render 'playback'}}
	</aside>
</div>
