<div class="Application" {{bind-attr class='guiStateClass'}}>

	<header class="SiteHeader">

		<div class="Bar">

			{{!-- <h1 class="SiteLogo">{{#link-to "index" title="Back to the dashboard"}}
				<img src="images/radio4000-small-cropped.png" alt="Radio 4000">
				Radio 4000
				{{/link-to}}</h1> --}}

			<nav>
				{{#link-to 'application'}}Radio 4000{{/link-to}}

				{{#if auth.authed}}
					{{#link-to 'application'}}Your playlist{{/link-to}}
					{{!-- yourplay: {{yourPlaylist}} --}}
				{{/if}}

				{{#link-to 'playlists'}}Playlists{{/link-to}}

				<div class="u-alignRight">
					{{#if auth.authed}}
						{{!-- <a href="#" {{action 'logout' this}}>Log out</a> --}}
					{{else}}
						{{#link-to 'login'}}Log in{{/link-to}}
					{{/if}}
				</div>
			</nav>

		</div>
	</header>

	<main class="SiteMain">

	{{#each playlist in userPlaylists}}
			{{#link-to "playlist" playlist class="Playlist"}}
				<h3 class="Title">{{playlist.title}}</h3>
				<p class="Body">{{playlist.body}}</p>
			{{/link-to}}
		{{/each}}


		{{outlet}}
	</main>

	<aside class="SiteAside">
		{{render 'playback'}}
		{{outlet 'player'}}
	</aside>
</div>
