<div class="Application" {{bind-attr class='isMaximized'}}>
	<header class="SiteHeader">
		<div class="Bar">
			{{partial 'navigation'}}
		</div>
	</header>

	<main class="SiteMain">
		{{outlet}}
	</main>

	<aside class="SiteAside">
		{{render 'playback'}}
	</aside>

	<footer class="SiteFooter">
		<nav class="Nav Container">
			{{#link-to 'about' title="about radio 4000"}}About{{/link-to}}
			 • {{#link-to 'forum' title="radio 4000 forum"}}Forum{{/link-to}}
			{{#if session.authed}}
			 • <a href="#" title="logout from radio 4000" {{action 'logout' this}}>Log out</a>
			{{else}}
			• {{#link-to 'login' title="login radio 4000"}}Sign up{{/link-to}}
			{{/if}}
		</nav>
	</footer>
</div>
