<div {{bind-attr class=":OverlayManager :BreadAndCheese isMaximized isPanelOpen:is-panelOpen"}}>
	<header class="SiteHeader">
		{{partial 'partials/nav-header'}}
	</header>

	<aside class="SitePanelNav" {{action "closePanel"}}>
		{{partial 'partials/nav-panel'}}
	</aside>

	<aside class="SitePanelNavOverlay" {{action "closePanel"}}></aside>

	<main class="SiteMain">
		{{liquid-outlet name="main"}}
	</main>

	<aside class="SiteAside">
		{{render 'playback'}}
		{{!-- should do: {{outlet sidebar}} + nested route instead of using render --}}
	</aside>
</div>
