<div class="BreadAndCheese" {{bind-attr class='isMaximized'}}>
	<header class="SiteHeader">
		<div class="Bar">
			{{partial 'navigation'}}
		</div>
	</header>

	<main class="SiteMain">
		{{liquid-outlet}}
	</main>

	<aside class="SiteAside">
		{{render 'playback'}}
	</aside>

	<footer class="SiteFooter">
		<nav class="Nav Container">
			{{#link-to 'about' title="Learn more about Radio4000"}}About{{/link-to}}
			 • {{#link-to 'forum' title="Go to the Radio 4000 forum"}}Forum{{/link-to}}
			{{#if session.authed}}
			 • <a href="#" title="Sign out from Radio 4000" {{action 'logout' this}}>Sign out</a>
			{{else}}
			• {{#link-to 'signin' title="Sign in to Radio 4000"}}Sign in{{/link-to}}
			{{/if}}
		</nav>
	</footer>
</div>
