<div class="Application" {{bind-attr class='guiStateClass'}}>
	<header class="SiteHeader">
		<h1 class="SiteLogo">{{#link-to "index" title="Back to the dashboard"}}
			<img src="images/radio4000-small-cropped.png" alt="Radio 4000">
		{{/link-to}}</h1>
	</header>

	<main class="SiteMain">
		{{outlet}}

		{{partial 'navigation'}}
	</main>

	<aside class="SiteAside">
		{{render 'playback'}}
		{{outlet 'player'}}
	</aside>


</div>
