<div {{bind-attr class=":BreadAndCheese isMaximized isPanelOpen:is-panelOpen"}}>
	<header class="SiteHeader">
		<div class="Bar Bar--top">

			{{!-- {{#link-to "channels" class="BackArrow"  title="Back to Discover"}}&larr;{{/link-to}} --}}
			<h1 class="SiteLogo">
				<!-- <a href="#" {{action 'back'}}></a> -->
				{{#link-to "channels" title="Back to Discover"}}
					<img src="images/logos/logo-radio4000.png" alt="Radio4000">
				{{/link-to}}
			</h1>

			<div class="ContextualNavigation">
				{{outlet "contextual-navigation"}}
				<button class="TogglePanel" title="Menu" {{action "togglePanel"}}>⊚</button>
			</div>
		</div>
	</header>

	<aside class="SitePanelNav">
		{{partial 'partials/nav-panel'}}
	</aside>

	<aside class="SitePanelNavOverlay"></aside>

	<main class="SiteMain">

		{{#if-ios}}
			<div class="Note Note--full">
				<p>We're sorry but because your iOS device doesn't support autoplay Radio4000 can't work properly.</p>
			</div>
		{{/if-ios}}

		{{outlet}}
	</main>

	{{render 'playback'}}
</div>
