<div class="NavigationTab Container Flex Container--full">
	{{#link-to 'channel.index' title="Discover channels" class="NavigationTab-item"}}{{tracks.length}} tracks{{/link-to}}
	{{#link-to 'channel.favorite-channels' title="Discover channels" class="NavigationTab-item"}}{{favoriteChannels.length}} favorite channels{{/link-to}}
	{{#link-to 'channel.followers' title="Discover channels" class="NavigationTab-item"}}{{fans.length}} followers{{/link-to}}
</div>

<article class="Channel Channel--detail">

	<div class="Channel-header Section">
		<div class="Container">

			<div class="HideThumbnailForDevTools">
				<figure class="Thumbnail" {{bind-attr style=coverImage.background}}>
					{{#if playback.player.isPlaying}}
						<div class="Thumbnail-bg"></div>
						<button class="Thumbnail-button" {{action "pause"}} title="Pause this channel">{{x-icon i="pause"}}</button>
					{{else}}
						<div class="Thumbnail-bg"></div>
						<button class="Thumbnail-button" {{action "play"}} title="Play this channel">{{x-icon i="play"}}</button>
					{{/if}}
					{{!-- {{#if canEdit}}
						{{partial 'channel/editImage'}}
					{{/if} --}}}
				</figure>
			</div>

			<h1 class="Channel-title">
				{{#link-to 'channel' this}}
					{{title}}
				{{/link-to}}
			</h1>

			{{!-- <div class="Channel-contextual">
			</div> --}}

			{{#if session.authed}}
				<div class="BtnGroup">
					{{x-favorite value=isFavorite action="toggleFavorite"}}
				</div>
			{{/if}}

			<p class="Channel-description">{{body}}</p>
			<p class="Muted LastUpdate">(updated {{lastUpdatedFormatted}})</p>

			<div class="BtnGroupWrapper">
				{{#if canEdit}}
					<div class="BtnGroup">
						{{#link-to 'tracks.add' this class="Btn" title="Add track"}}
							{{x-icon i="plus"}} Add track
						{{/link-to}}
						{{#if isEditing}}
							{{#link-to 'channel' this class="Btn" title="Cancel editing channel"}}
								{{x-icon i="pencil"}} Edit
							{{/link-to}}
						{{else}}
							{{#link-to 'channel.edit' this class="Btn" title="Edit your channel"}}
								{{x-icon i="pencil"}} Edit
							{{/link-to}}
						{{/if}}
				</div>
				{{/if}}

			{{outlet 'channel-header'}}

			</div>
		</div>
	</div>

	{{!-- {{outlet 'channel-body'}} --}}
	<div class="Channel-body">
		{{outlet}}
	</div>

	{{!-- this page doesn't have a normal outlet to avoid rendering the track in to it --}}
</article>
