<article class="Playlist Playlist--detail">

	<figure class="Thumbnail" {{bind-attr style=imageBackground}}>
		<button class="Thumbnail-button" {{action "playLatest"}}>{{x-icon i="play"}}</button>

		<div class="Thumbnail-bottom">
			<div class="BtnGroupWrapper Container">
				<div class="BtnGroup">
					{{#if canEdit}}
						{{#link-to 'channel.add' this class="Btn" title="add track"}}
							{{x-icon i="plus"}} Add track
						{{/link-to}}
						{{#if isEditing}}
							{{#link-to 'channel' this class="Btn" title="cancel editing channel"}}
								{{x-icon i="pencil"}} Edit
							{{/link-to}}
						{{else}}
							{{#link-to 'channel.edit' this class="Btn" title="edit your channel"}}
								{{x-icon i="pencil"}} Edit
							{{/link-to}}
						{{/if}}
					{{/if}}
				</div>
				<div class="BtnGroup">
					{{#if session.authed}}
						{{x-favorite value=isFavorite action="toggleFavorite"}}
					{{/if}}
				</div>
			</div>
		</div>
	</figure>

	<div class="Playlist-header Section">
		<div class="Container">
			<h1 class="Playlist-title">
				{{#link-to 'channel' this title="channel title"}}
					{{title}}
				{{/link-to}}
				<span class="Muted LastUpdate">({{tracks.length}} tracks, {{lastUpdated}})</span>
			</h1>
			<p class="Playlist-description">{{body}}</p>

			{{!-- <p><button {{action 'claim'}}>claim</button></p> --}}

			{{outlet 'channel-header'}}
		</div>
	</div>

	{{outlet 'channel-body'}}

	<div class="Playlist-body">
		{{render 'tracks' tracks}}
	</div>

	{{#if user.favoriteChannels}}
	<div class="Playlist-favorites">
		<div class="Container">
			<h2>Favorites from {{title}}</h2>
		</div>
		<div class="Container Container--noPadding">
			<ul class="List">
			{{#each channel in user.favoriteChannels}}
				<li>
					{{#link-to "channel" channel class="PlaylistTeaser" title="user favorite channels"}}
						<h3 class="PlaylistTeaser-title">{{channel.title}}</h3>
					{{/link-to}}
				</li>
			{{/each}}
			</ul>
		</div>
	</div>
	{{/if}}
</article>
