<div class="NavigationTab">
	{{#link-to 'channels' title="Back to Discover" class="BackArrow NavigationTab-item"}}
		<span class="BackArrow-item">←</span>
		<span class="BackArrow-item">←</span>
	{{/link-to}}
	{{#link-to 'channel.index' title="All tracks" class="NavigationTab-item"}}{{model.tracks.length}} tracks{{/link-to}}
	{{#link-to 'channel.favorite-channels' title="Favorites of this channel" class="NavigationTab-item"}}{{model.favoriteChannels.length}} favorites{{/link-to}}
	{{#link-to 'channel.followers' title="Followers" class="NavigationTab-item"}}{{model.followers.length}} followers{{/link-to}}
</div>

<article class="Channel Channel--detail">

	<div class="Channel-header Section">
		<div class="Container Container--full">

			<div class="Channel-cover">
				{{x-cover model=model hideTitle=true}}
			</div>

			{{!-- {{#if canEdit}}
				{{partial 'channel/editImage'}}
			{{/if} --}}

			<h1 class="Channel-title">
				{{#link-to 'channel' model}}
					{{model.title}}
				{{/link-to}}
			</h1>

			<p class="Channel-description">{{model.body}}</p>
			{{#if model.lastUpdatedFormatted}}
				<p class="Muted LastUpdate">(last update {{model.lastUpdatedFormatted}})</p>
			{{/if}}


			<div class="BtnGroupWrapper">
				{{#if canEdit}}
					<div class="BtnGroup">
						{{#link-to 'channel.add' model class="Btn" title="Add track"}}
							{{x-icon i="plus"}} Add track
						{{/link-to}}
						{{#if isEditing}}
							{{#link-to 'channel' model class="Btn" title="Cancel editing channel"}}
								{{x-icon i="pencil"}} Edit channel
							{{/link-to}}
						{{else}}
							{{#link-to 'channel.edit' model class="Btn" title="Edit your channel"}}
								{{x-icon i="pencil"}} Edit channel
							{{/link-to}}
						{{/if}}
					</div>
				{{/if}}

				{{#if session.authed}}
					<div class="BtnGroup">
						{{x-favorite value=isFavorite action="toggleFavorite"}}
					</div>
				{{/if}}

			</div>

			{{!-- {{outlet 'channel-header'}} --}}

		</div>
	</div>

	<div class="Channel-body">
		<div class="Container Container--full">
			{{!-- {{outlet 'channel-body'}} --}}
			{{outlet}}
		</div>
	</div>

	{{!-- this page doesn't have a normal outlet to avoid rendering the track in to it --}}
</article>
