<article class="Channel Channel--detail">
	<div class="Channel-header">
		<div class="Container Container--full">

			<div class="Channel-media">
				<div class="Channel-cover">
					{{channel-cover model=model hideTitle=true}}
				</div>
			</div>

			<div class="Channel-body">

				<div class="Channel-titleSection">
					<span class="Follow Follow--title">
						{{btn-favorite action="toggleFavorite" isFavorite=isFavorite}}
					</span>
					<h1 class="Channel-title">
						{{#link-to 'channel' model}}{{model.title}}{{/link-to}}
					</h1>
				</div>

				{{#if model.tracks}}
					<p class="Muted LastUpdate">(updated {{lastUpdatedFormatted}})</p>
				{{/if}}

				{{#if canEdit}}
					<div class="BtnGroupWrapper">
						<div class="BtnGroup">
							{{#link-to 'channel.add' model class="Btn" title="Add track"}}
								{{x-icon i="plus"}} Add track
							{{/link-to}}
							{{#link-to 'channel.edit' model class="Btn" title="Edit your channel"}}
								{{x-icon i="pencil"}} Edit channel
							{{/link-to}}
						</div>
					</div>
				{{/if}}

				{{#if model.body}}
					<p class="Channel-description">{{model.body}}</p>
				{{/if}}
				{{#if model.link}}
					<p class="Channel-links">
						<a href="{{model.link}}" target="_blank">{{model.link}}</a>
					</p>
				{{/if}}

			</div>
		</div>
	</div>

	<nav class="NavigationTab">
		{{#link-to 'channel.index' class="NavigationTab-item" title="All tracks"}}
			{{model.tracks.length}} tracks
		{{/link-to}}
		{{#link-to 'channel.favorite-channels' class="NavigationTab-item" title="Favorites of this channel"}}
			{{model.favoriteChannels.length}} favorites
		{{/link-to}}
		{{#link-to 'channel.followers' class="NavigationTab-item" title="Followers"}}
			{{model.channelPublic.followers.length}} followers
		{{/link-to}}
	</nav>

	<div class="Channel-outlet">
		{{outlet}}
	</div>
</article>
