<article class="Channel Channel--detail">
	<div class="Channel-header">
		<div class="Container Container--full">

			<div class="Channel-media">
				<div class="Channel-cover">
					{{channel-cover model=model hideTitle=true}}
				</div>
			</div>

			<div class="Channel-body">
				<h1 class="Channel-title">
					{{#link-to 'channel' model}}{{model.title}}{{/link-to}}
				</h1>
				{{#if model.lastUpdatedFormatted}}
					<p class="Muted LastUpdate">(last update {{model.lastUpdatedFormatted}})</p>
				{{/if}}

				{{#if canEdit}}
					<div class="BtnGroupWrapper">
						<div class="BtnGroup">
							{{#link-to 'channel.add' model class="Btn" title="Add track"}}
								{{x-icon i="plus"}} Add track
							{{/link-to}}
							{{#link-to 'channel.edit' model class="Btn" title="Edit your channel"}}
								{{x-icon i="pencil"}} Edit channel
							{{/link-to}}
						</div>
					</div>
				{{/if}}

				{{#unless canEdit}}
					<div class="BtnGroupWrapper">
						<div class="BtnGroup">
							{{btn-favorite value=isFavorite action="toggleFavorite"}}
						</div>
					</div>
				{{/unless}}

				{{#if model.body}}
					<p class="Channel-description">{{model.body}}</p>
				{{/if}}

			</div>
		</div>
	</div>

	<nav class="NavigationTab">
		{{#link-to 'channel.index' class="NavigationTab-item" title="All tracks"}}
			{{model.tracks.length}} tracks
		{{/link-to}}
		{{#link-to 'channel.favorite-channels' class="NavigationTab-item" title="Favorites of this channel"}}
			{{model.favoriteChannels.length}} favorites
		{{/link-to}}
		{{#link-to 'channel.followers' class="NavigationTab-item" title="Followers"}}
			{{model.channelPublic.followers.length}} followers
		{{/link-to}}
	</nav>

	<div class="Channel-outlet">
		{{outlet}}
	</div>
</article>
