<article class="Channel Channel--detail">
	<figure class="Thumbnail" {{bind-attr style=imageBackground}}>
		{{#if playback.player.isPlaying}}
			<div class="Thumbnail-bg" {{action "pause"}}></div>
			<button class="Thumbnail-button" {{action "togglePlay" target="playback.player"}} title="Pause this channel">{{x-icon i="pause"}}</button>
		{{else}}
			<div class="Thumbnail-bg" {{action "play"}}></div>
			<button class="Thumbnail-button" {{action "togglePlay" target="playback.player"}} title="Play this channel">{{x-icon i="play"}}</button>
		{{/if}}

		{{#if canEdit}}
			{{partial 'channel/editImage'}}
		{{/if}}
	</figure>

	<div class="Channel-header Section">
		<div class="Container">
			<h1 class="Channel-title">
				{{#link-to 'channel' this title="Channel title"}}
					{{title}}
				{{/link-to}}
				<span class="Muted LastUpdate">({{tracks.length}} tracks, {{lastUpdated}})</span>
			</h1>
			<p class="Channel-description">{{body}}</p>

			<div class="BtnGroupWrapper">
				{{#if canEdit}}
					<div class="BtnGroup">
						{{#link-to 'tracks.add' this class="Btn" title="Add track"}}
							{{x-icon i="plus"}} Add track
						{{/link-to}}
						{{#if isEditing}}
							{{#link-to 'channel' this class="Btn" title="Cancel editing channel"}}
								{{x-icon i="pencil"}} Edit
							{{/link-to}}
						{{else}}
							{{#link-to 'channel.edit' this class="Btn" title="Edit your channel"}}
								{{x-icon i="pencil"}} Edit
							{{/link-to}}
						{{/if}}
				</div>
				{{/if}}
				<div class="BtnGroup">
					{{#if session.authed}}
						{{x-favorite value=isFavorite action="toggleFavorite"}}
					{{/if}}
				</div>

			{{outlet 'channel-header'}}

			</div>
		</div>
	</div>

	{{outlet 'channel-body'}}

	<div class="Channel-body">
		{{render 'tracks' tracks}}
	</div>

	{{#if user.favoriteChannels}}
	<div class="Channel-favorites">
		<div class="Container">
			<h3>Favorite channels from {{title}}</h3>
		</div>
		<div class="Container Container--noPadding">
			<ul class="List">
			{{#each channel in user.favoriteChannels}}
				<li>
					{{#link-to "channel" channel class="ChannelTeaser" title="Go to this channel"}}
						<h3 class="ChannelTeaser-title">{{channel.title}}</h3>
						<p class="ChannelTeaser-description"> {{do-truncate channel.body 140}}</p>
					{{/link-to}}
				</li>
			{{/each}}
			</ul>
		</div>
	</div>
	{{/if}}

	{{!-- this page doesn't have a normal outlet to avoid rendering the track in to it --}}
</article>
