{{#unless auth.authed}}

	<article class="Section Home">
		<p class="Manchet">Create your own <span class="is-highlighted">radio</span>, share your music tastes and listen to your friend's</p>
	</article>

	<section class="Section Section--half Section--teaser">
	<a href="#" {{action 'showLogin'}}>
			<div class="Section-inner">
				<h2 class="Title">Get your own playlist</h2>
				{{#if showLogin}}
					<p>Please choose how to log in.</p>
					<p>
						<button class="Btn Btn--primary" {{ action 'login' 'google' this}}>With Google</button>
						<button class="Btn Btn--primary" {{ action 'login' 'facebook' this}}>With Facebook</button>
					</p>
				{{else}}
					<p>Get started or log in</p>
				{{/if}}
			</div>
		</a>
	</section>

	<section class="Section Section--half Section--teaser">
		{{#link-to 'playlists'}}
			<div class="Section-inner">
				<h2 class="Title">Start listening</h2>
				<p>See all playlists</p>
			</div>
		{{/link-to}}
	</section>
{{/unless}}

{{#if auth.authed}}
	<section class="Section">
		{{render 'user' auth.user}}
	</section>
{{/if}}


{{partial 'navigation'}}
