<div class="Container">
	{{#unless auth.authed}}

		<section class="Section Manchet">
			<a href="#" class="is-highlighted" {{ action 'showLogin' true }}>Create your radio</a>, share your music tastes and listen to your friend's
		</section>

		<section class="Section Section--half">
			<a href="#" class="Box" {{action 'showLogin' true}}>
				<h2 class="Title">Create your radio</h2>
				{{#if showLogin}}
					<p><span class="is-highlighted">choose</span> how to register/log in</p>
					<p>
						<button class="Btn Btn--primary" {{ action 'login' 'google' this}}>with Google</button>
						<button class="Btn Btn--primary" {{ action 'login' 'facebook' this}}>with Facebook</button>
					</p>
				{{else}}
					<p><span class="is-highlighted">2 clicks</span> to broadcast</p>
				{{/if}}
			</a>
		</section>

		<section class="Section Section--half">
			{{#link-to 'playlists' class="Box"}}
				<h2 class="Title">Listen</h2>
				<p><span class="is-highlighted">browse</span> playlists</p>
			{{/link-to}}
		</section>
	{{/unless}}

	{{#if auth.authed}}
		{{render 'user' auth.user}}
	{{/if}}

</div>
