<article class="Article Home">

	<h1>Radio 4000</h1>
	<p class="Manchet">The perfect way to curate, play and share your own collection of YouTube tracks.</p>

	{{#if auth.authed}}

		{{#if auth.user.hasPlaylist}}

			<h3>Welcome back, {{auth.user.name}}</h3>
			<p>{{#link-to "playlist" auth.user.playlist}}
				<button class="Btn Btn--large Btn--primary">Your playlist</button>
			{{/link-to}}</p>

		{{else}}

			<h3>Success, {{auth.user.name}}!</h3>
			<p>Now you just need to {{#link-to "playlists.new"}}<button class="Btn">Create your own playlist</button>{{/link-to}}</p>
		{{/if}}

	{{else}}

		<h3>Get your own list</h3>
		<p>
			<button class="Btn Btn--primary" {{ action 'login' 'google' this}}>Connect with Google</button>
			<button class="Btn Btn--primary" {{ action 'login' 'facebook' this}}>Connect with Facebook</button>
		</p>

	{{/if}}

	<nav>
		{{#if auth.authed}}
			{{#link-to 'dashboard'}}Dashboard{{/link-to}} •
		{{/if}}
		{{#link-to 'playlists'}}Playlists{{/link-to}} •
		{{#link-to 'about'}}About{{/link-to}}
		{{#if auth.authed}} • <a href="#" {{action 'logout' this}}>Log out</a>{{/if}}
	</nav>

</article>
