<article class="Home">
	<p class="Manchet">The perfect way to curate, play and share your own playlist of YouTube tracks.</p>
</article>

{{#if auth.authed}}
	{{#unless auth.user.playlists}}
		<section class="Section">
			<h2>Create your playlist</h2>
			<p>{{#link-to "playlists.new"}}<button class="Btn">Get your own playlist</button>{{/link-to}}</p>
		</section>
	{{/unless}}
{{/if}}

{{#unless auth.authed}}
	<section class="Section Section--teaser">
		<div class="Section-inner">
			<h2 class="Title">Get your own playlist</h2>
			{{#if showLogin}}
				<p>Please choose how to log in.</p>
				<p>
					<button class="Btn Btn--primary" {{ action 'login' 'google' this}}>With Google</button>
					<button class="Btn Btn--primary" {{ action 'login' 'facebook' this}}>With Facebook</button>
				</p>
			{{else}}
				<p><a href="#" {{action 'showLogin'}}>Get started or log in</a></p>
			{{/if}}
		</div>
	</section>
{{/unless}}

{{#if auth.authed}}
	<section class="Section">
		{{render 'user' auth.user}}
	</section>
{{/if}}

<section class="Section Section--teaser">
	<div class="Section-inner">
		<h2 class="Title">Start listening</h2>
		<p>{{#link-to 'playlists'}}See all playlists{{/link-to}}</p>
	</div>
</section>


{{partial 'navigation'}}
