<div class="Manchet">
	<h1>Login or Register</h1>
</div>

<div class="Container Section">

	<div class="LoginBox">
		<button class="Btn Btn--primary" title="Login with Google" {{action 'login' 'google'}}>with Google</button>
		<button class="Btn Btn--primary" title="Login with Facebook" {{action 'login' 'facebook'}}>with Facebook</button>
		{{!-- {{#if session.authed}}
			<p class="Muted">You are already logged in ({{session.user.id}}). Go to the {{#link-to 'application' title="back to dashboard"}}homepage{{/link-to}}.</p>
		{{else}}
		{{/if}} --}}
	</div>

</div>

{{outlet}}
