<div class="LogIn">
	<div class="LogIn-container">

		{{#if session.isAuthenticated}}
			<h1 class="LogIn-title">Your radio</h1>
			<p class="LogIn-subTitle">
				{{#link-to 'channel' session.currentUser.channels.firstObject class="LogIn-goto" title="Your radio"}}
					{{session.currentUser.channels.firstObject.title}}
				{{/link-to}}
			</p>
		{{else}}
			{{#unless session.isWorking}}
				<h1 class="LogIn-title">Log in Radio4000</h1>

				<p class="LogIn-subTitle">to create or manage your radio</p>

				<div class="LogIn-buttons">
					<button type="submit" class="Btn" title="Log in with your Google account" {{action 'logIn' 'google'}}>
						Google
					</button>

					<button type="submit" class="Btn" title="Log in with your Facebook account" {{action 'logIn' 'facebook'}}>
						Facebook
					</button>
				</div>

			{{else}}
			<p class="LogIn-subTitle">Please wait</p>
				<is-loading></is-loading>
			{{/unless}}
		{{/if}}
	</div>
</div>
