<article class="Playlist">

	<p>{{#link-to 'application'}}&larr; back{{/link-to}}</p>

	<header class="Playlist-header Box">

		<h1 class="Playlist-title">{{title}}</h1>
		<p class="Playlist-description">
			{{body}}
		</p>

		{{#if auth.authed}}
			<p><button class="Btn Btn--favorite" {{action 'favorite'}} title="Add to favorites">&#3104;</button></p>
		{{/if}}

		{{#if canEdit}}
			{{#if isEditing}}
				<form class="Form" {{action "save" on="submit"}}>
					{{input value=title placeholder="Title" autofocus='autofocus'}}
					{{!-- {{input value=slug placeholder="Slug"}} --}}
					{{!-- {{textarea value=image placeholder="Image URL"}} --}}
					{{textarea value=body placeholder="Description"}}
					<button class="Btn Btn--primary" type="submit">Save playlist</button>
					<button class="Btn Btn--text" {{action 'cancel'}}>Cancel</button>
					<button class="Btn Btn--text Btn--danger" {{action 'tryDelete'}}>Delete playlist</button>
				</form>
			{{else}}
				<p><button class="Btn Btn--edit" {{action 'edit'}}>Edit playlist</button></p>

			{{/if}}
		{{/if}}
	</header>

	<div class="Playlist-body Box Box--clean">
		{{render 'tracks' tracks}}
		{{outlet}}
	</div>
</article>
