<div {{bind-attr class=':Player model::is-hidden isMaximized'}}>
	{{#if model}}
		<iframe id="player" type="text/html" width="210" height="166" frameborder="0" {{bind-attr src="embedUrl"}}></iframe>
	{{/if}}
</div>

<div {{bind-attr class=':Playback model:is-active'}}>
	<div class="Controls">
		{{#if model}}
			<div class="Controls-title" title="Current track / go to current channel">
				{{#link-to 'channel' model.channel}}
					{{#if model.title}}
						{{model.title}} <span class="Controls-channel">({{channel.title}})</span>
					{{else}}
						Untitled
					{{/if}}
				{{/link-to}}
			</div>
			<div class="Controls-buttons">
				<button class="Btn Btn--text" {{bind-attr disabled=busy}} {{action 'playPrev' model}} title="Previous track" >
					{{x-icon i='previous'}}
				</button>
				{{#if isPlaying}}
					<button class="Btn Btn--text" {{bind-attr disabled=busy}} {{action 'pause'}} title="Pause track" >
						{{x-icon i='pause'}}
					</button>
				{{else}}
					<button class="Btn Btn--text" {{bind-attr disabled=busy}} {{action 'play'}} title="Play track" >
						{{x-icon i='play'}}
					</button>
				{{/if}}
				<button class="Btn Btn--text" {{bind-attr disabled=busy}} {{action 'playNext' model}} title="Next track" >
					{{x-icon i='next'}}
				</button>
			</div>
			<button class="Btn Btn--text Controls-videoBtn" {{action 'toggle'}} title="Toggle fullscreen video">
				{{#if isMaximized}}
					{{x-icon i='arrows-compress'}}
				{{else}}
					{{x-icon i='arrows-expand'}}
				{{/if}}
			</button>
		{{else}}
			{{!-- no track is selected here --}}
		{{/if}}
	</div>
</div>
