<div {{bind-attr class=':Playback model:is-active'}}>
	<div class="Container">

		<div {{bind-attr class=':Player isMaximized model.provider'}}>
			{{#if model}}
				<iframe id="player" type="text/html" width="210" height="166" frameborder="0" {{bind-attr src="embedUrl"}}></iframe>
			{{/if}}
		</div>

		<div class="Controls">
			{{#if model}}

				<div class="Controls-title">
					{{#link-to 'playlist' controllers.playlist}}
						{{#if model.title}}
							{{model.title}}
						{{else}}
							Untitled
						{{/if}}
					{{/link-to}}
				</div>

				<div class="Controls-buttons">
					
					<button class="Btn" {{action 'prev' model}}>Previous</button>
					{{#if isPlaying}}
						<button class="Btn" {{action 'pause'}}>Pause</button>
					{{else}}
						<button class="Btn" {{action 'play'}}>Play</button>
					{{/if}}
					<button class="Btn" {{action 'next' model}}>Next</button>


					<button class="Btn" {{action 'toggle'}} title="Toggle the video">Video</button>
				</div>

			{{else}}
				<button class="Btn" {{action 'play'}}>@dodo just playsomething</button>
			{{/if}}
		</div>
	</div>
</div>
