<div {{bind-attr class=':Playback model:is-active'}}>
	<div class="Inner">

		<div {{bind-attr class=':Player isMinimized model.provider'}}>

			{{#if model}}
				<iframe id="player" type="text/html" width="210" height="166" frameborder="0" {{bind-attr src="embedURL"}}></iframe>
			{{/if}}

			{{!-- <iframe id="SoundcloudPlayer" width="100%" height="166" frameborder="0"
				{{bind-attr src="model.url"}}></iframe> --}}
		</div>

		<div class="Controls">
			{{#if model}}
				<div class="Controls-buttons">
					{{#if isPlaying}}
						<button class="PlayerBtn" {{action 'pause'}}>ll</button>
					{{else}}
						<button class="PlayerBtn" {{action 'play'}}>►</button>
					{{/if}}
					{{!-- <button {{action 'togglePlayer'}}>
						{{#if isMinimized}}Show{{else}}Hide{{/if}}
					</button> --}}
				</div>

				<span class="Playback-title">
					{{#if model.title}}
						{{model.title}}
					{{else}}
						Untitled
					{{/if}}
				</span>

			{{else}}
				<button class="PlayerBtn PlayerBtn-play PlayerBtn-play--inactive" {{action 'play'}}>►</button>
			{{/if}}
		</div>
	</div>
</div>
