<article class="Playlist Playlist--detail">

	<figure class="Thumbnail" {{action "playLatest"}} {{bind-attr style=imageBackground}}>
		<button class="Thumbnail-button">{{x-icon i="play"}}</button>
		{{!-- {{#if image}}
			<img {{bind-attr src=image alt=title}}>
		{{/if}} --}}
	</figure>

	<div class="Playlist-header Container">

		<h1 class="Playlist-title">{{#link-to 'playlist' this}}{{title}}{{/link-to}}</h1>

		<div class="BtnGroupWrapper">
			<div class="BtnGroup">

				{{#if auth.authed}}
					{{x-favorite value=isFavorite action="toggleFavorite"}}
				{{/if}}
			</div>
			<div class="BtnGroup">
				{{#if canEdit}}
					{{#link-to 'playlist.add' this class="Btn"}}
						{{x-icon i="plus"}} Add track
					{{/link-to}}

					{{#if isEditing}}
						{{#link-to 'playlist' this class="Btn"}}
							{{x-icon i="pencil"}} Cancel editing
						{{/link-to}}
					{{else}}
						{{#link-to 'playlist.edit' this class="Btn" title="Edit your playlist"}}
							{{x-icon i="pencil"}} Edit
						{{/link-to}}
					{{/if}}
				{{/if}}
			</div>
		</div>

		<p {{bind-attr class=":Playlist-description isExpanded:is-expended:is-collapsed"}} {{action "extend"}}>{{body}}</p>
	</div>

	<div class="Container">
		<header class="Playlist-header Section">
			{{outlet 'playlist-header'}}
		</header>

		<div class="Playlist-body">
			{{outlet 'playlist-body'}}
			{{render 'tracks' tracks}}
		</div>

		<div class="Playlist-favorites Container">
			<h2>Favorites from {{title}}</h2>
			<p>A list of radio channels {{title}} saved.</p>
			{{#if user.favoritePlaylists}}
				<div class="Playlists">
					{{#each playlist in user.favoritePlaylists}}
						{{#link-to "playlist" playlist class="Playlist Playlist--teaser"}}
							<h3 class="Playlist-title">{{playlist.title}}</h3>
						{{/link-to}}
					{{/each}}
				</div>
			{{/if}}
		</div>
	</div>
</article>
