<article class="Playlist Playlist--detail">

	<div class="Manchet">
		<h1 class="Playlist-title">{{#link-to 'playlist' this}}{{title}}{{/link-to}}</h1>

		<p {{bind-attr class=":Playlist-description :Container isExpanded:is-expended:is-collapsed"}} {{action "extend"}}>{{body}}</p>

		<p class="BtnGroup">
			<button class="Btn" {{action "playLatest"}}>{{x-icon i="play"}} Play</button>

			{{#if auth.authed}}
				{{x-favorite value=isFavorite action="toggleFavorite"}}
			{{/if}}

			{{#if canEdit}}
				{{#link-to 'playlist.add' this class="Btn"}}
					{{x-icon i="plus"}} Add track
				{{/link-to}}

				{{#if isEditing}}
					{{#link-to 'playlist' this class="Btn"}}
						{{x-icon i="pencil"}} Cancel editing
					{{/link-to}}
				{{else}}
					{{#link-to 'playlist.edit' this class="Btn" title="Edit your playlist"}}
						{{x-icon i="pencil"}} Edit
					{{/link-to}}
				{{/if}}
			{{/if}}
		</p>
	</div>

	<div class="Container">
		<header class="Playlist-header Section">
			{{outlet 'playlist-header'}}
		</header>

		<div class="Playlist-body">
			{{outlet 'playlist-body'}}
			{{render 'tracks' tracks}}
			{{outlet}}
		</div>
	</div>
</article>
