<div {{bind-attr class=':Player isMaximized'}}>
	{{#if model}}
		<iframe id="player" type="text/html" width="210" height="166" frameborder="0" {{bind-attr src="embedUrl"}}></iframe>
	{{/if}}
</div>

<div {{bind-attr class=':Playback model:is-active'}}>
	<div class="Controls">
		{{#if model}}
			<div class="Controls-buttons">

				<button class="Btn Btn--text" title="previous track" {{action 'prev' model}} title="Previous">
					{{x-icon i='previous'}}
				</button>
				{{#if isPlaying}}
					<button class="Btn Btn--text" title="pause track" {{action 'pause'}} title="Pause">
						{{x-icon i='pause'}}
					</button>
				{{else}}
					<button class="Btn Btn--text" title="play track" {{action 'play'}} title="Play">
						{{x-icon i='play'}}
					</button>
				{{/if}}
				<button class="Btn Btn--text" title="next track" {{action 'next' model}}>
					{{x-icon i='next'}}
				</button>
			</div>

			<button class="Btn Btn--text Controls-videoBtn" {{action 'toggle'}} title="toggle fullscreen video">
				{{#if isMaximized}}
					{{x-icon i='arrows-compress'}}
				{{else}}
					{{x-icon i='arrows-expand'}}
				{{/if}}
			</button>

			<div class="Controls-title" title="current track / go to current channel">
				{{#link-to 'playlist' model.playlist}}
					{{#if model.title}}
						{{model.title}}
					{{else}}
						Untitled
					{{/if}}
				{{/link-to}}
			</div>

		{{else}}
			{{!-- no track is selected here --}}
		{{/if}}
	</div>
</div>
