<div {{bind-attr class=':Playback model:is-active'}}>
	<div class="Inner">

		<div {{bind-attr class=':Player isMaximized model.provider'}}>
			{{#if model}}
				<iframe id="player" type="text/html" width="210" height="166" frameborder="0" {{bind-attr src="embedUrl"}}></iframe>
				{{!-- <iframe id="SoundcloudPlayer" width="100%" height="166" frameborder="0"
					{{bind-attr src="model.url"}}></iframe> --}}
			{{/if}}
		</div>

		<div class="Controls">
			{{#if model}}
				<div class="Controls-buttons">
					<button class="PlayerBtn" {{action 'toggle'}}>&#9672;</button>
					<button class="PlayerBtn">&#9835;</button>
					{{#if isPlaying}}
						<button class="PlayerBtn" {{action 'pause'}}>ll</button>
					{{else}}
						<button class="PlayerBtn" {{action 'play'}}>►</button>
					{{/if}}
				</div>

				<span class="Controls-state">{{state}}</span>

				<span class="Controls-title">
					{{#if model.title}}
						{{model.title}}
					{{else}}
						Untitled
					{{/if}}

				</span>

			{{else}}
				<button class="PlayerBtn PlayerBtn-play PlayerBtn-play--inactive" {{action 'play'}}>►</button>
			{{/if}}
		</div>
	</div>
</div>
