<article class="Playlist">

	<header class="Playlist-header Box">
		<h1 class="Playlist-title">{{title}}</h1>
		<div class="Playlist-desc">
			{{body}}
		</div>

		{{#if canEdit}}
			{{#if isEditing}}
				<form class="Form" {{action "save" on="submit"}}>
					{{input value=title placeholder="Title" autofocus='autofocus'}}
					{{!-- {{input value=slug placeholder="Slug"}} --}}
					{{!-- {{textarea value=image placeholder="Image URL"}} --}}
					{{textarea value=body placeholder="Description"}}
					<button class="Btn Btn--primary" type="submit">Save</button>
					<button class="Btn Btn--text" {{action 'cancel'}}>Cancel</button>
					<button class="Btn Btn--text Btn--danger" {{action 'tryDelete'}}>Delete</button>
				</form>
			{{else}}
				<p><button class="Btn Btn--edit" {{action 'edit'}}>Edit</button></p>
			{{/if}}
		{{/if}}

		{{#if auth.authed}}
			{{#if favorited}}
				<p>Saved to favorites.</p>
			{{else}}
				<p><button class="Btn Btn--favorite" {{action 'favorite'}} title="Add to favorites">Favorite</button></p>
			{{/if}}
		{{/if}}
	</header>

	<div class="Playlist-body Box Box--clean">
		{{render 'tracks' tracks}}
		{{outlet}}
	</div>
</article>
