<div class="Manchet Manchet--left">
	<h1>Continue to Radio4000</h1>
</div>

<div class="Container">
	<p>To create a new radio channel or manage the one you have, please choose a service to sign in with.</p>
	<br>
	<form class="Form Form--box Form--boxSmall">
		{{#unless session.isWorking}}
			<div class="Form-group FlexRow">
				<button type="submit" class="Btn" title="Continue with your Google account" {{action 'signIn' 'google'}}>
					{{x-icon i="google-plus"}} Google
				</button>

				<p>or</p>

				<button type="submit" class="Btn" title="Continue with your Facebook account" {{action 'signIn' 'facebook'}}>
					{{x-icon i="facebook"}} Facebook
				</button>
			</div>
		{{else}}
			<p>One second while we sign you in…</p>
		{{/unless}}
	</form>

	<p class="Muted">Not using Google or Facebook? Sign in with e-mail is coming soon.</p>
</div>
