{{!-- <div class="BtnGroup u-alignRight">
	<h4 class="BtnGroup-label">Sort by</h4>
	<button class="Btn" {{action 'sortBy' 'created'}}>Date</button>
	<button class="Btn" {{action 'sortBy' 'title'}}>Title</button>
</div> --}}

<div class="Container">

	{{#unless model}}
		{{#if controllers.playlist.canEdit}}
			<div class="Annoncement">
				<h3>Welcome to your new channel!</h3>
				<p>To get started, just paste in a YouTube URL</p>
			</div>
		{{else}}
			<p>No tracks yet.</p>
		{{/if}}
	{{/unless}}

	<ul class="List">
		{{#each track in arrangedContent}}
			<li>{{x-track
					track=track
					playlist=controllers.playlist
					onPublishTrack="publishTrack"}}
			</li>
		{{/each}}
	</ul>
</div>

{{!-- by default, the "detail page" of an x-track would be rendered here,
		but we overwrite it in the track router --}}
{{outlet}}
