{{!-- <div class="Manchet">
	<h1>Tracks<small> — all the {{model.length}} sounds of Radio4000</small></h1>
</div> --}}

{{!-- <div class="BtnGroup u-alignRight">
	<h4 class="BtnGroup-label">Sort by</h4>
	<button class="Btn" {{action 'sortBy' 'created'}}>Date</button>
	<button class="Btn" {{action 'sortBy' 'title'}}>Title</button>
</div> --}}

{{!-- by default, the "detail page" of an x-track would be rendered here,
		but we overwrite it in the track router --}}
{{outlet}}

<ul class="List">
	{{#each track in model}}
		<li>{{x-track
				track=track
				channel=controllers.channel
				playback=controllers.playback
				currentTrackComponent=currentTrackComponent
				onPublishTrack="publishTrack"}}
		</li>
	{{/each}}
</ul>

{{!-- Shows help for the channel owner only --}}
{{#if showHelp}}
	<div class="Note">
		{{#if noTracks}}
			<h2>Welcome to your new channel!</h2>
			<p>To add a track, tap, you guessed it, <em>'Add track'</em> and paste in a YouTube video URL.</p>
		{{/if}}

		{{#if oneTrack}}
			<p><strong>Your first track!</strong> Why don't you add another?</p>
		{{/if}}

		{{#unless hasImage}}
			<p>You can always add an image of your channel in the top left corner on your channel. If you edit your channel, you'll see all your options.</p>
		{{/unless}}
	</div>
{{else}}
	{{!-- normal people get this --}}
	{{#unless model}}
		<p>No tracks yet.</p>
	{{/unless}}
{{/if}}

