{{#if canEdit}}
	<form class="Form AddTrack" {{action "publishTrack" on='submit'}}>
		{{#if isAdding}}
			{{input-url value=trackUrl placeholder="YouTube URL" pasted="autoTitle"}}
			{{input value=trackTitle placeholder="Title"}}<br>
			{{textarea value=trackBody placeholder="Optional description"}}<br>
			<button class="Btn Btn--primary" type='submit'>Add track</button> <button class="Btn Btn--text" {{action 'cancel'}}>Cancel</button>
		{{else}}
			<button class="Btn Btn--textInput" {{action 'addTrack'}}>Add a track…</button>
		{{/if}}
	</form>
{{/if}}

<div class="Section Section--noBottom">
	<div class="BtnGroup u-alignLeft">
		<button class="Btn" {{action 'playLatest'}}>Play radio</button>
	</div>
	<div class="BtnGroup u-alignRight">
		<h4 class="BtnGroup-label">Sort by</h4>
		<button class="Btn" {{action 'sortBy' 'created'}}>Date</button>
		<button class="Btn" {{action 'sortBy' 'title'}}>Title</button>
	</div>
</div>

{{#unless model}}
	<p>No tracks yet.</p>
{{/unless}}

<ul class="List">
	{{#each track in arrangedContent}}
		<li>{{x-track
				track=track
				playlist=controllers.playlist
				onPublishTrack="publishTrack"}}
		</li>
	{{/each}}
</ul>

{{!-- by default, the "detail page" of an x-track would be rendered here,
		but we overwrite it in the track router --}}
{{outlet}}
