{{!-- <div class="BtnGroup u-alignRight">
	<h4 class="BtnGroup-label">Sort by</h4>
	<button class="Btn" {{action 'sortBy' 'created'}}>Date</button>
	<button class="Btn" {{action 'sortBy' 'title'}}>Title</button>
</div> --}}

{{#unless model}}
	{{#if controllers.channel.canEdit}}
		<div class="Container">
			<div class="Annoncement">
				<h3>Welcome to your new channel!</h3>
				<p>To get started, tap 'Add track'</p>
				{{!-- just paste in a YouTube URL --}}
			</div>
		{{else}}
			<div class="Container">
				<p>No tracks yet.</p>
			</div>
		</div>
	{{/if}}
{{/unless}}

<div class="Container Container--noPadding">
	<ul class="List">
		{{#each track in arrangedContent}}
			<li>{{x-track
					track=track
					channel=controllers.channel
					playback=controllers.playback
					currentTrackComponent=currentTrackComponent
					onPublishTrack="publishTrack"}}
			</li>
		{{/each}}
	</ul>
</div>

{{!-- by default, the "detail page" of an x-track would be rendered here,
		but we overwrite it in the track router --}}
{{outlet}}
