{{title "Search Radio4000" replace=true}}

<section class="Section">
	<div class="Container Container--full">
		<p>hey {{filteredChannels.length}} </p>
		<div class="Grid">
			<div class="Grid-cell">
				<p>
					Each radio is <a href="{{href-to 'about'}}">curated by one human</a>. Listen, discover someone's personal selection.<br/>
				</p>
				<p>
					{{play-random-channel class="Btn--large"}}
				</p>
			</div>

			{{#if filteredChannels}}
				{{#each filteredChannels as |channel|}}
					<div class="Grid-cell">
						{{channel-card-lite channel=channel}}
					</div>
				{{/each}}
			{{else}}
				<div class="Grid-cell">
					{{#is-loading}}
						<p>Loading radios</p>
					{{/is-loading}}
				</div>
			{{/if}}
		</div>
	</div>
</section>

<section class="Section Container">
	<p>
		Not sure what to listen to?
		Try one of the <a href="{{href-to 'channels'}}">featured radios</a>.
	</p>
</section>

