<form {{action "submit" on="submit"}}>
	{{#form-group model=channel valuePath="title" label="Name" as |v|}}
		{{input type="text" value=(readonly v)
			autofocus="autofocus"
			placeholder="ex: The pirate Radio"
			required="required"
			title="The title is the main text used when displaying your radio accross the r4 system."
			minlength=titleMinLength
			maxlength=titleMaxLength
			input=(action (mut proxy.title) value="target.value")}}
	{{/form-group}}

	{{#form-group model=channel valuePath="slug" label="URL" as |v|}}
		<p class="Muted" style="font-weight: normal">https://radio4000.com/{{v}}</p>
		{{input type="text" value=(readonly v)
			placeholder="ex: pirate-radio"
			required="required"
			title="The slug, is the URL of your radio, such as in 'https://radio4000.com/your-radio'. You can edit and share this link to access drectly your radio4000 channel"
			minlength=titleMinLength
			maxlength=titleMaxLength
			input=(action (mut proxy.slug) value="target.value")}}
	{{/form-group}}

	{{#form-group model=channel valuePath="body" label="Description" as |v|}}
		{{textarea value=(readonly v)
			id="body"
			maxlength=channelDescriptionMaxLength
			title="Descriptive text and #hashtags to help others discover and explore your library."
			placeholder="What is your radio about? ex: 'Fireplace music, #fire'"
			input=(action (mut proxy.body) value="target.value")}}
	{{/form-group}}

	{{#form-group model=channel valuePath="link" label="Website" as |v|}}
		{{input type="url" value=(readonly v)
			aria-invalid=(if channel.validations.attrs.link.isValid "false" "true")
			pattern="https?://.+"
			placeholder="Link to your website, ex: 'https://example.com'"
			title="Where else on the internet can we continue explore your content? Ex: https://your-other-site.org"
			input=(action (mut proxy.link) value="target.value")}}
	{{/form-group}}

	<p class="BtnGroupWrapper BtnGroupWrapper--full">
		<button type="button" class="Btn" {{action "cancel"}}>Cancel changes</button>
		<button type="submit" class="Btn Btn--large Btn--primary" disabled={{disableSave}}>
			{{#if submitTask.isRunning}}Saving…{{else}}Save{{/if}}
		</button>
	</p>
</form>

{{yield}}
