{{#if model.tracks.length}}

	<div class="Widgets-separator">
		<div class="Widget">
			{{playback/play-oldest track=model.tracks.firstObject}}
			{{playback/play-newest track=model.tracks.lastObject}}

		</div>
	</div>

	<div class="Section">
		<div class="Widgets Widgets--tracks">
			{{widgets/x-tracks tracks=model.tracks title="Newest"}}

			{{widgets/x-tracks tracks=model.tracks reverse=true title="Oldest"}}
		</div>
	</div>
{{else}}
	<div class="Container Section Section--messaging">
		<p>This radio is empty, no data to analyse!</p>
	</div>
{{/if}}

{{outlet}}
