<section class="Section">
	<div class="Container">
		<p>
			<label>Cover image</label>
		</p>
		{{#if model.coverImage}}
		<figure style="max-width: 100px">
			{{channel-cover src=model.coverImage.src}}
		</figure>
		<button class="Btn Btn--small" title="To change your image, you'll need to delete this one first" {{action "deleteImage"}}>
			Delete image
		</button>
		{{else}} {{cloudinary-upload cloudName='radio4000' unsignedUploadPreset='tc44ivjo' didUpload=(action "saveImage")}} {{/if}}
	</div>
</section>

<section class="Section">
	<div class="Container">
		{{channel-edit-details channel=(readonly model) submitTask=saveChannelDetails onCancel=(action "goBack")}}
	</div>
</section>

{{outlet}}
